openapi: 3.2.0
info:
  title: Shiprocket Listings API
  version: v1
  description: 'Shiprocket''s public REST API (v1/external) for eCommerce shipping and order management: authentication, order create/update/cancel/import, courier serviceability and AWB assignment, pickup scheduling, labels/manifests/invoices, shipment tracking, NDR actions, returns and exchanges, hyperlocal and international shipping, products, listings, channels, inventory, countries/postcodes, wallet balance, statements and discrepancies.'
  termsOfService: https://www.shiprocket.in/terms-conditions/
  contact:
    name: Shiprocket API integration support
    email: integration@shiprocket.com
    url: https://apidocs.shiprocket.in/
servers:
- url: https://apiv2.shiprocket.in
  description: Production
security:
- bearerAuth: []
tags:
- name: Listings
paths:
  /v1/external/listings:
    get:
      summary: Get All Listings
      description: 'This API can be used to get a JSON representation of all the product listings in your Shiprocket account, i.e., all the products associated with a specific channel.

        No parameters are required to access this API. However, the displayed data can be filtered and sorted using further parameters. If no sort parameter is used, the data is displayed in the default format.

        Parameters:'
      operationId: getAllListings
      tags:
      - Listings
      parameters:
      - name: page
        in: query
        schema:
          type: integer
        description: The page number you want to display.
      - name: per_page
        in: query
        schema:
          type: integer
        description: The number of listings to get per page.
      - name: sort
        in: query
        schema:
          type: string
        description: 'The order to sort by. Value : ASC or DESC'
      - name: sort_by
        in: query
        schema:
          type: string
        description: Allows you to choose the value field by which the listings will be sorted. Could be sorted by id, by sku, time created etc.
      - name: filter
        in: query
        schema:
          type: string
        description: The data to be matched for the filter value.
      - name: filter_by
        in: query
        schema:
          type: string
        description: The filter value field . Can be id, sku, etc.
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    data:
                    - id: 15897064
                      title: Kunai
                      image: null
                      price: '900.00'
                      quantity: 0
                      sku: chakra123
                      channel_sku: chakra123
                      channel_id: 76893
                      channel_name: CUSTOM
                      base_channel_code: CS
                      channel_product_id: ''
                      inventory: 41
                      synced_on: Never Synced
                      product:
                        dimensions:
                          length: '0.000'
                          width: '0.000'
                          height: '0.000'
                        weight: '0.000'
                      category_name: ''
                    - id: 14312566
                      title: Ferrari Pitstop Black iPhone 7 Case
                      image: null
                      price: '100.00'
                      quantity: 0
                      sku: SW-546
                      channel_sku: SW-546
                      channel_id: 76893
                      channel_name: CUSTOM
                      base_channel_code: CS
                      channel_product_id: ''
                      inventory: 0
                      synced_on: Never Synced
                      product:
                        dimensions:
                          length: '0.000'
                          width: '0.000'
                          height: '0.000'
                        weight: '0.000'
                      category_name: ''
                    meta:
                      pagination:
                        total: 12345
                        count: 2
                        per_page: 2
                        current_page: 1
                        total_pages: 6173
                        links:
                          next: https://apiv2.shiprocket.in/v1/external/listings?page=2
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        title:
                          type: string
                        image: {}
                        price:
                          type: string
                        quantity:
                          type: integer
                        sku:
                          type: string
                        channel_sku:
                          type: string
                        channel_id:
                          type: integer
                        channel_name:
                          type: string
                        base_channel_code:
                          type: string
                        channel_product_id:
                          type: string
                        inventory:
                          type: integer
                        synced_on:
                          type: string
                        product:
                          type: object
                          properties:
                            dimensions:
                              type: object
                              properties:
                                length:
                                  type: string
                                width:
                                  type: string
                                height:
                                  type: string
                            weight:
                              type: string
                        category_name:
                          type: string
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                          count:
                            type: integer
                          per_page:
                            type: integer
                          current_page:
                            type: integer
                          total_pages:
                            type: integer
                          links:
                            type: object
                            properties:
                              next:
                                type: string
        '404':
          description: Wrong Endpoint
          content:
            application/json:
              examples:
                Wrong-Endpoint:
                  value:
                    message: 404 Not Found
                    status_code: 404
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
  /v1/external/listings/link:
    post:
      summary: Map Channel Product
      description: 'Use this API to map a product present in the channel catalogue to a product present in the master catalogue.

        Pass the product and listing id for the successful call of the API

        Parameters:'
      operationId: mapChannelProduct
      tags:
      - Listings
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: integer
                  description: The id of item in the master catalog.
                listing_id:
                  type: integer
                  description: The id of the product in the channel catalog.
                ID:
                  type: integer
                  description: The id placed in the respective 'GET' codes.
              required:
              - product_id
              - listing_id
            example:
              product_id: ''
              listing_id: ''
              ID: ''
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    message: Linking success
                    status_code: 200
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
        '400':
          description: MIssing Fields
          content:
            application/json:
              examples:
                MIssing-Fields:
                  value:
                    message: Listing ID not found
                    status_code: 400
                Already-Mapped-Product:
                  value:
                    message: Listing already mapped
                    status_code: 400
                Invalid-Data:
                  value:
                    message: Product ID not found
                    status_code: 400
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
  /v1/external/listings/import:
    post:
      summary: Import Catalog Mappings
      description: 'Use this API to import a CSV file containing channel catalogue to the master catalogue mappings.

        No other body parameters are required.'
      operationId: importCatalogMappings
      tags:
      - Listings
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    id: 20294650
              schema:
                type: object
                properties:
                  id:
                    type: integer
        '400':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: File required
                    status_code: 400
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
  /v1/external/listings/export/mapped:
    get:
      summary: Export Mapped Products
      description: 'This API downloads the list of mapped items in your channel catalogue sheet. After mapping the items, you can see the number of products in one channel present in the Master Catalogue.

        The downloaded CSV file URL is shared as the response.

        No other body parameters are required.'
      operationId: exportMappedProducts
      tags:
      - Listings
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    download_url: https://s3-ap-southeast-1.amazonaws.com/kr-shipmultichannel/imports/c_67216/export-2019-08-051564990885.csv
              schema:
                type: object
                properties:
                  download_url:
                    type: string
        '404':
          description: Wrong Endpoint
          content:
            application/json:
              examples:
                Wrong-Endpoint:
                  value:
                    message: 404 Not Found
                    status_code: 404
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
  /v1/external/listings/export/unmapped:
    get:
      summary: Export Unmapped Products
      description: 'Get a list of all the unmapped products in your channel catalogue using this API.

        The list is downloaded into a CSV file, and the download URL is displayed as the response.

        No other body parameters are required.'
      operationId: exportUnmappedProducts
      tags:
      - Listings
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    download_url: https://s3-ap-southeast-1.amazonaws.com/kr-shipmultichannel/imports/c_67216/export-2019-08-051564992035.csv
              schema:
                type: object
                properties:
                  download_url:
                    type: string
        '404':
          description: Wrong Endpoint
          content:
            application/json:
              examples:
                Wrong-Endpoint:
                  value:
                    message: 404 Not Found
                    status_code: 404
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
  /v1/external/listings/sample:
    get:
      summary: Export Catalog Sample
      description: 'This API displays the download link of a sample catalogue sheet for reference purposes.

        No additional parameters are required.'
      operationId: exportCatalogSample
      tags:
      - Listings
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    download_url: https://s3-ap-southeast-1.amazonaws.com/kr-shipmultichannel/imports/c_67216/export-2019-08-051564991776.csv
              schema:
                type: object
                properties:
                  download_url:
                    type: string
        '404':
          description: Wrong Endpoint
          content:
            application/json:
              examples:
                Wrong-Endpoint:
                  value:
                    message: 404 Not Found
                    status_code: 404
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT obtained from POST /v1/external/auth/login using an API user email + password (Settings > API > Add New API User). The token is valid for 10 days; send it as Authorization: Bearer <token>.'
externalDocs:
  url: https://apidocs.shiprocket.in/
  description: Shiprocket API documentation (Postman documenter)
x-generated-from:
  type: postman-collection
  url: https://apidocs.shiprocket.in/api/collections/8407119/SzYW1zB2?environment=8407119-3ebd70ec-0118-4aa7-a886-4802616014f5&segregateAuth=true&versionTag=latest
  documenter: https://apidocs.shiprocket.in/
  collection_id: f5af337c-69fc-49c7-8418-e2f6ee461674
  generated: '2026-09-18'
  method: generated
  note: Faithful conversion; schemas inferred from published parameter tables and examples.
