openapi: 3.1.0
info:
  title: Shiprocket API
  version: v1
  description: 'Shiprocket''s public REST API (v1/external) for eCommerce shipping and order management: authentication, order
    create/update/cancel/import, courier serviceability and AWB assignment, pickup scheduling, labels/manifests/invoices,
    shipment tracking, NDR actions, returns and exchanges, hyperlocal and international shipping, products, listings, channels,
    inventory, countries/postcodes, wallet balance, statements and discrepancies.


    This OpenAPI document was GENERATED by API Evangelist from Shiprocket''s own public Postman collection (the source of
    https://apidocs.shiprocket.in/). Every path, method, parameter table, request example and response example is copied from
    that collection; request/response schemas are inferred from the provider''s published parameter tables and example bodies
    and are not a provider-authored contract. Shiprocket publishes no first-party OpenAPI.'
  termsOfService: https://www.shiprocket.in/terms-conditions/
  contact:
    name: Shiprocket API integration support
    email: integration@shiprocket.com
    url: https://apidocs.shiprocket.in/
x-generated-from:
  type: postman-collection
  url: https://apidocs.shiprocket.in/api/collections/8407119/SzYW1zB2?environment=8407119-3ebd70ec-0118-4aa7-a886-4802616014f5&segregateAuth=true&versionTag=latest
  documenter: https://apidocs.shiprocket.in/
  collection_id: f5af337c-69fc-49c7-8418-e2f6ee461674
  generated: '2026-09-18'
  method: generated
  note: Faithful conversion; schemas inferred from published parameter tables and examples.
servers:
- url: https://apiv2.shiprocket.in
  description: Production
security:
- bearerAuth: []
tags:
- name: Authentication API
  description: "The authentication token is an alphanumeric code, unique to your Shiprocket account, can be used from any\
    \ system to validate your API calls to access Shiprocket's resources. Shiprocket API uses JWT tokens for validation.\n\
    \ Use this API to validate your API user and obtain the authentication token. Copy this token and use it further to validate\
    \ your API calls. The validity of this token is 10 days .\n Your API keys carry many privileges, so be sure to keep them\
    \ secure! Do not share your secret token in publicly accessible areas such as GitHub, client-side code, and so forth.\n\
    \ Steps To Use Token: \n Copy the token received in response.\n Include 'Authorization: Bearer [yourtokenvalue]' in the\
    \ appropriate field of your code.\n That's all! In case of any error, try checking your parameters."
- name: Create Or Update Order
  description: Using these APIs, you can create new orders in your Shiprocket account or update existing orders. You can also
    cancel an order, bulk import orders from a CSV file and update inventory for an ordered product.
- name: Couriers
  description: "Use these APIs to assign AWB to your order, check for courier serviceability, and request for the pickup of\
    \ your order.\n All available couriers, along with their codes, are mentioned below:"
- name: Orders
  description: "These APIs can be used to get details about your created orders, as well as manage them, which include fetching\
    \ orders from your channel, syncing their status, and exporting them to a CSV file.\n Filters:\n The 'filter' values are\
    \ mentioned below. Use these to filter your data:"
- name: Return & Exchange Orders
- name: Shipments
  description: "These APIs can be used to get shipment details. You can either get all shipment details at once or the details\
    \ of a particular shipment.\n Below are some associated status codes related to the shipments:\n Status Codes:"
- name: Labels | Manifests | Invoice
  description: These APIs are designed for the generation of manifests, invoices and labels for your shipment. You can also
    get manifest details and print a manifest using the respective API's.
- name: Wrapper API
  description: This is an all-in-one API to create an order, ship the order, add a new pickup location and generate a label
    along with the manifest for the same.
- name: NDR
  description: These APIs can be used to get details about your shipments that are in NDR, as well as manage them, which includes
    fetching NDR shipments from your account (all or specific) and taking actions such as Reattempt and RTO based on the reason.
- name: Tracking
  description: "Use these APIs to get the tracking details of your shipments through the AWB code or the Shipment ID.\n Shipment\
    \ Status Codes:"
- name: Pickup Addresses
  description: Use these APIs to get a list of all available pickup locations in your account or add a new pickup location.
- name: International
  description: These endpoints are used for operations related to international orders and shipments.
- name: Account
- name: Products
  description: Use these APIs to get information on your added products or update their details. You can also add a new product
    or import them in bulk.
- name: Listings
- name: Channels
  description: 'Use this API to get details about all the integrated channels in your Shiprocket account, including channel
    id.

    This channel id can be used to select or specify a custom channel at the time of order creation.'
- name: Inventory
  description: Use this API to update and get Inventory details.
- name: Countries
  description: The following APIs provide details about the various country codes and their respective zone details along
    with the locality details.
- name: 'Statement Details '
  description: Get your Shiprocket account's statement details using this API.
- name: Discrepancy Details
  description: Use this API to get the discrepancy details of your account.
- name: File Imports
  description: Check the status response of files that have been imported using the API.
paths:
  /v1/external/auth/login:
    post:
      summary: Generate Token
      operationId: generateToken
      tags:
      - Authentication API
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
            example:
              email: ''
              password: ''
      security: []
      responses:
        '200':
          description: Success (no example response published in the collection)
  /v1/external/auth/logout:
    post:
      summary: Token Logout
      description: https://apiv2.shiprocket.in/v1/external/auth/logout
      operationId: tokenLogout
      tags:
      - Authentication API
      responses:
        '200':
          description: Success (no example response published in the collection)
  /v1/external/orders/create/adhoc:
    post:
      summary: Create Custom Order
      description: "Use this API to create a quick custom order. Quick orders are the ones where we do not store the product\
        \ details in the master catalogue.\n You have to pass all the required params at the minimum to create a quick custom\
        \ order. You can add additional parameters as per your preference.\n Note: \n In case the 'shipping_is_billing' field\
        \ is false, further shipping detail fields are required.\n If no channel id is passed, the order will be assigned\
        \ to the default custom channel. If the channel id is not known, use the 'Get All Channels' API to get the list of\
        \ all integrated channels in your Shiprocket account.\n order_id field cannot be equal to an already existing id.\
        \ Doing so does not change or affect the existing order.\n New orders cannot be created with order id's same as that\
        \ of cancelled orders. If error 422 shows up despite filling in the correct details, consider changing the order_id.\n\
        \ Be sure to input the correct calculated sub_total amount. The total is not calculated automatically through the\
        \ API.\n The 'order_id' returned in the response is the Shiprocket order_id. Please save this order ID as we will\
        \ use this in future API calls.\n Parameters:"
      operationId: createCustomOrder
      tags:
      - Create Or Update Order
      - Hyperlocal
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: 'The order id you want to specify to the order. Max char: 50. (Avoid passing character values
                    as this contradicts some other API calls).'
                order_date:
                  type: string
                  description: The date of order creation in yyyy-mm-dd format. Time is additional.
                pickup_location:
                  type: string
                  description: The name of the pickup location added in your Shiprocket account. This cannot be a new location.
                comment:
                  type: string
                  description: 'Option to add ''From'' field to the shipment. To do this, enter the name in the following
                    format: ''Reseller: [name]''.'
                reseller_name:
                  type: string
                  description: To display the vendor name on the label
                company_name:
                  type: string
                  description: Name of the company.
                billing_customer_name:
                  type: string
                  description: First name of the billed customer.
                billing_last_name:
                  type: string
                  description: Last name of the billed customer.
                billing_address:
                  type: string
                  description: address details of the billed customer.
                billing_address_2:
                  type: string
                  description: Further address details of the billed customer.
                billing_isd_code:
                  type: string
                  description: ISD code of the billing address.
                billing_city:
                  type: string
                  description: 'Billing address city. Max char: 30.'
                billing_pincode:
                  type: integer
                  description: Pincode of the billing address.
                billing_state:
                  type: string
                  description: Billing address state.
                billing_country:
                  type: string
                  description: Billing address country.
                billing_email:
                  type: string
                  description: Email address of the billed customer.
                billing_phone:
                  type: integer
                  description: The phone number of the billing customer.
                billing_alternate_phone:
                  type: integer
                  description: Alternate phone number of the billing customer.
                shipping_is_billing:
                  type: boolean
                  description: Whether the shipping address is the same as billing address. 1 or 'true' for yes and 0 or 'false'
                    for no.
                shipping_customer_name:
                  type: string
                  description: Name of the customer the order is shipped to. Required in case billing is not same as shipping.
                shipping_last_name:
                  type: string
                  description: Last name of the shipping customer.
                shipping_address:
                  type: string
                  description: Address of the Shipping customer. Required in case billing is not same as shipping.
                shipping_address_2:
                  type: string
                  description: Further address details of shipping customer.
                shipping_city:
                  type: string
                  description: Shipping address city.
                shipping_pincode:
                  type: integer
                  description: Shipping address pincode.
                shipping_country:
                  type: string
                  description: Shipping address country.
                shipping_state:
                  type: string
                  description: Shipping address state.
                shipping_email:
                  type: string
                  description: Email of the shipping customer.
                shipping_phone:
                  type: integer
                  description: Phone no. of the shipping customer.
                order_items:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      sku:
                        type: string
                      units:
                        type: string
                      selling_price:
                        type: string
                      discount:
                        type: string
                      tax:
                        type: string
                      hsn:
                        type: string
                  description: List of items and their relevant fields in the form of Array.
                payment_method:
                  type: string
                  description: The method of payment. Can be either COD (Cash on delivery) Or Prepaid.
                shipping_charges:
                  type: integer
                  description: Shipping charges if any in Rupee.
                giftwrap_charges:
                  type: integer
                  description: Giftwrap charges if any in Rupee.
                transaction_charges:
                  type: integer
                  description: Transaction charges if any in Rupee.
                total_discount:
                  type: integer
                  description: The total discount amount in Rupee.
                sub_total:
                  type: integer
                  description: Calculated sub total amount in Rupee after deductions.
                length:
                  type: number
                  description: The length of the item in cms. Must be more than 0.5.
                breadth:
                  type: number
                  description: The breadth of the item in cms. Must be more than 0.5.
                height:
                  type: number
                  description: The height of the item in cms. Must be more than 0.5.
                weight:
                  type: number
                  description: The weight of the item in kgs. Must be more than 0.
                ewaybill_no:
                  type: string
                customer_gstin:
                  type: string
                  description: Goods and Services Tax Identification Number.
                invoice_number:
                  type: string
                order_type:
                  type: string
                  description: Key to differentiate between Essentials or Non Essentials Shipments. Order type can only be
                    ESSENTIALS or NON ESSENTIALS. Please note it is case sensitive and blank values are allowed.
              required:
              - order_id
              - order_date
              - pickup_location
              - billing_customer_name
              - billing_address
              - billing_city
              - billing_pincode
              - billing_state
              - billing_country
              - billing_email
              - billing_phone
              - shipping_is_billing
              - order_items
              - payment_method
              - sub_total
              - length
              - breadth
              - height
              - weight
            example:
              order_id: ''
              order_date: ''
              pickup_location: ''
              comment: ''
              reseller_name: ''
              company_name: ''
              billing_customer_name: ''
              billing_last_name: ''
              billing_address: ''
              billing_address_2: ''
              billing_isd_code: ''
              billing_city: ''
              billing_pincode: ''
              billing_state: ''
              billing_country: ''
              billing_email: ''
              billing_phone: ''
              billing_alternate_phone: ''
              shipping_is_billing: ''
              shipping_customer_name: ''
              shipping_last_name: ''
              shipping_address: ''
              shipping_address_2: ''
              shipping_city: ''
              shipping_pincode: ''
              shipping_country: ''
              shipping_state: ''
              shipping_email: ''
              shipping_phone: ''
              order_items:
              - name: ''
                sku: ''
                units: ''
                selling_price: ''
                discount: ''
                tax: ''
                hsn: ''
              payment_method: ''
              shipping_charges: ''
              giftwrap_charges: ''
              transaction_charges: ''
              total_discount: ''
              sub_total: ''
              length: ''
              breadth: ''
              height: ''
              weight: ''
              ewaybill_no: ''
              customer_gstin: ''
              invoice_number: ''
              order_type: ''
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    order_id: 16161616
                    shipment_id: 15151515
                    status: NEW
                    status_code: 1
                    onboarding_completed_now: 0
                    awb_code: null
                    courier_company_id: null
                    courier_name: null
              schema:
                type: object
                properties:
                  order_id:
                    type: integer
                  shipment_id:
                    type: integer
                  status:
                    type: string
                  status_code:
                    type: integer
                  onboarding_completed_now:
                    type: integer
                  awb_code: {}
                  courier_company_id: {}
                  courier_name: {}
        '400':
          description: Invalid Data
          content:
            application/json:
              examples:
                Invalid-Data:
                  value:
                    message: Given channel id does not exist
                    status_code: 400
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
        '422':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: Oops! Invalid Data.
                    errors:
                      order_id:
                      - The order id field is required.
                    status_code: 422
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: object
                    properties:
                      order_id:
                        type: array
                        items:
                          type: string
                  status_code:
                    type: integer
  /v1/external/orders/create:
    post:
      summary: Create Channel Specific Order
      description: "This API can be used to create a custom order, the same as the Custom order API, except that you have\
        \ to specify and select a custom channel to create the order.\n The order created will be added under the specified\
        \ channel. All the other parameters are the same.\n Note: \n Channel_id field is required.\n Order_id cannot be the\
        \ same as the already existing order id.\n Inventory Sync must be turned on to use this API. This can be done under\
        \ the 'Channels' portion on the left-hand panel of your Shiprocket account.\n Inventory details of your Shiprocket\
        \ account can be accessed using the 'Get Inventory Details' API.\n Parameters:"
      operationId: createChannelSpecificOrder
      tags:
      - Create Or Update Order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: 'The order id you want to specify to the order. Max char: 20. (Avoid passing character values
                    as this contradicts some other API calls).'
                order_date:
                  type: string
                  description: The date of order creation in yyyy-mm-dd format. Time is an additional option.
                pickup_location:
                  type: string
                  description: The name of the pickup location added in your Shiprocket account. This cannot be a new location.
                    Default Pickup location is selected in case the parameter is not filled.
                channel_id:
                  type: integer
                  description: The id of the specific channel to be selected.
                comment:
                  type: string
                  description: 'Option to add ''From'' field to the shipment. To do this, enter the name in the following
                    format: ''Reseller: [name].'''
                billing_customer_name:
                  type: string
                  description: First name of the customer who is billed.
                billing_last_name:
                  type: string
                  description: Last name of the billed customer.
                billing_address:
                  type: string
                  description: 'Primary address of the billed customer. Min char: 3.'
                billing_address_2:
                  type: string
                  description: Further address details of the billed customer.
                billing_city:
                  type: string
                  description: 'Billing address city. Max char: 30.'
                billing_pincode:
                  type: integer
                  description: Pincode of the billing address.
                billing_state:
                  type: string
                  description: Billing address state.
                billing_country:
                  type: string
                  description: Billing address country.
                billing_email:
                  type: string
                  description: Email address of the billed customer.
                billing_phone:
                  type: integer
                  description: Phone number of the billed customer.
                shipping_is_billing:
                  type: integer
                  description: Whether the shipping address is the same as billing address. 1 or 'true' for yes and 0 or 'false'
                    for no.
                shipping_customer_name:
                  type: string
                  description: Name of the customer the order is shipped to. Required in case billing is not same as shipping.
                shipping_last_name:
                  type: string
                  description: Last name of the shipping customer.
                shipping_address:
                  type: string
                  description: Address of the Shipping customer. Required in case billing is not same as shipping.
                shipping_address_2:
                  type: string
                  description: Further address details of shipping customer.
                shipping_city:
                  type: string
                  description: Shipping address city.
                shipping_pincode:
                  type: integer
                  description: Shipping address pincode.
                shipping_country:
                  type: string
                  description: Shipping address country.
                shipping_state:
                  type: string
                  description: Shipping address state.
                shipping_email:
                  type: string
                  description: Email of the shipping customer.
                shipping_phone:
                  type: integer
                  description: Phone no. of the shipping customer
                order_items:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      sku:
                        type: string
                      units:
                        type: string
                      selling_price:
                        type: string
                      discount:
                        type: string
                      tax:
                        type: string
                      hsn:
                        type: string
                  description: Array containing further fields.
                payment_method:
                  type: string
                  description: The method of payment. Can be either COD (Cash on delivery) Or Prepaid.
                shipping_charges:
                  type: integer
                  description: Shipping charges if any in Rupee.
                giftwrap_charges:
                  type: integer
                  description: Giftwrap charges if any in Rupee.
                transaction_charges:
                  type: integer
                  description: Transaction charges if any in Rupee.
                total_discount:
                  type: integer
                  description: The total discount amount in Rupee.
                sub_total:
                  type: integer
                  description: Calculated sub total amount in Rupee.
                length:
                  type: integer
                  description: The length of the item in cms. Must be more than 0.5.
                breadth:
                  type: integer
                  description: The breadth of the item in cms. Must be more than 0.5.
                height:
                  type: integer
                  description: The height of the item in cms. Must be more than 0.5.
                weight:
                  type: integer
                  description: The weight of the item in kgs. Must be more than 0.
              required:
              - order_id
              - order_date
              - channel_id
              - billing_customer_name
              - billing_address
              - billing_city
              - billing_pincode
              - billing_state
              - billing_country
              - billing_email
              - billing_phone
              - shipping_is_billing
              - order_items
              - payment_method
              - sub_total
              - length
              - breadth
              - height
              - weight
            example:
              order_id: '3167'
              order_date: 2020-01-14 13:25
              pickup_location: mrj
              channel_id: '443555'
              comment: fast and furious
              billing_customer_name: rahul
              billing_last_name: ''
              billing_address: malviya nagar
              billing_address_2: ''
              billing_city: new delhi
              billing_pincode: '273303'
              billing_state: delhi
              billing_country: india
              billing_email: raushanra4@gmail.com
              billing_phone: '9721562372'
              shipping_is_billing: 1
              shipping_customer_name: ''
              shipping_last_name: ''
              shipping_address: ''
              shipping_address_2: ''
              shipping_city: ''
              shipping_pincode: ''
              shipping_country: ''
              shipping_state: ''
              shipping_email: ''
              shipping_phone: ''
              order_items:
              - name: shoes
                sku: shoes123
                units: '2'
                selling_price: '1500'
                discount: '100'
                tax: '50'
                hsn: ''
              payment_method: COD
              shipping_charges: ''
              giftwrap_charges: ''
              transaction_charges: ''
              total_discount: ''
              sub_total: '2950'
              length: '10'
              breadth: '10'
              height: '10'
              weight: '1.5'
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    order_id: 16161717
                    shipment_id: 16000061
                    status: NEW
                    status_code: 1
              schema:
                type: object
                properties:
                  order_id:
                    type: integer
                  shipment_id:
                    type: integer
                  status:
                    type: string
                  status_code:
                    type: integer
        '422':
          description: Invalid Data
          content:
            application/json:
              examples:
                Invalid-Data:
                  value:
                    message: Oops! Invalid Data.
                    errors:
                      channel_id:
                      - The selected channel id is invalid.
                    status_code: 422
                Missing-Fields:
                  value:
                    message: Oops! Invalid Data.
                    errors:
                      channel_id:
                      - The channel id field is required.
                    status_code: 422
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: object
                    properties:
                      channel_id:
                        type: array
                        items:
                          type: string
                  status_code:
                    type: integer
        '400':
          description: Inventory Sync Error
          content:
            application/json:
              examples:
                Inventory-Sync-Error:
                  value:
                    message: Inventory sync is turned off. Please add a manual order!
                    status_code: 400
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
  /v1/external/orders/address/pickup:
    patch:
      summary: Change/Update Pickup Location of Created Orders
      description: "Using this API, you can modify the pickup location of an already created order. Multiple order ids can\
        \ be passed to update their pickup location together.\n Note: \n Pickup location can only be changed/updated to an\
        \ already existing pickup location in your account. \n The 'order_id' to be passed is the Shiprocket order_id received\
        \ at the time of order creation.\n Multiple order ids can be passed as an array, separated by commas. eg: [\"141414,142424,143434\"\
        ]\n Parameters:"
      operationId: changeUpdatePickupLocationOfCreatedOrders
      tags:
      - Create Or Update Order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: array
                  items: {}
                  description: The Shiprocket order_id specified to the order.
                pickup_location:
                  type: string
                  description: The pickup location you want to change your current pickup location to.
              required:
              - order_id
              - pickup_location
            example:
              order_id: []
              pickup_location: ''
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    message: Pickup location Updated
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Invalid Data
          content:
            application/json:
              examples:
                Invalid-Data:
                  value:
                    message: Pickup Code does not exist
                    status_code: 400
                Missing-Fields:
                  value:
                    message: Order Id does not exists
                    status_code: 400
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
        '500':
          description: Wrong Format
          content:
            application/json:
              examples:
                Wrong-Format:
                  value:
                    message: Invalid argument supplied for foreach()
                    status_code: 500
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
  /v1/external/orders/address/update:
    post:
      summary: Update Customer Delivery Address
      description: "You can update the customer's name and delivery address through this API by passing the Shiprocket order\
        \ id and the necessary customer details.\n Parameters:"
      operationId: updateCustomerDeliveryAddress
      tags:
      - Create Or Update Order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: integer
                  description: The Shiprocket order_id specified to the order.
                shipping_customer_name:
                  type: string
                  description: The name of the customer.
                shipping_phone:
                  type: integer
                  description: Phone number of the customer.
                shipping_address:
                  type: string
                  description: Primary address of the customer.
                shipping_address_2:
                  type: string
                  description: Further address details of the customer.
                shipping_city:
                  type: string
                  description: Shipping city name.
                shipping_state:
                  type: string
                  description: Shipping state name.
                shipping_country:
                  type: string
                  description: Shipping country name.
                shipping_pincode:
                  type: integer
                  description: Shipping address pincode.
                shipping_email:
                  type: string
                  description: Customer's email address.
                billing_alternate_phone:
                  type: string
                  description: The customer alternate phone.
              required:
              - order_id
              - shipping_customer_name
              - shipping_phone
              - shipping_address
              - shipping_city
              - shipping_state
              - shipping_country
              - shipping_pincode
            example:
              order_id: ''
              shipping_customer_name: ''
              shipping_phone: ''
              shipping_address: ''
              shipping_address_2: ''
              shipping_city: ''
              shipping_state: ''
              shipping_country: ''
              shipping_pincode: ''
              shipping_email: ''
              billing_alternate_phone: ''
      responses:
        '202':
          description: Successful Call
        '422':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: Oops! Invalid Data.
                    errors:
                      shipping_country:
                      - The shipping country field is required.
                    status_code: 422
                Invalid-Data:
                  value:
                    message: Oops! Invalid Data.
                    errors:
                      order_id:
                      - The selected order id is invalid.
                    status_code: 422
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: object
                    properties:
                      shipping_country:
                        type: array
                        items:
                          type: string
                  status_code:
                    type: integer
  /v1/external/orders/update/adhoc:
    post:
      summary: Update Order
      description: "Use this API to update your orders. You have to pass all the required params at the minimum to create\
        \ a quick custom order. You can add additional parameters as per your preference.\n You can update only the order_items\
        \ details before assigning the AWB (before Ready to Ship status). You can only update these key-value pairs i.e.,\
        \ increase/decrease the quantity, update tax/discount, add/remove product items. We've also enabled changing the nature\
        \ of the order from a non-document to a document. You jus t need to pass the is_document key with the value of 1 in\
        \ the payload."
      operationId: updateOrder
      tags:
      - Create Or Update Order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                order_date:
                  type: string
                pickup_location:
                  type: string
                channel_id:
                  type: string
                comment:
                  type: string
                billing_customer_name:
                  type: string
                billing_last_name:
                  type: string
                billing_address:
                  type: string
                billing_address_2:
                  type: string
                billing_city:
                  type: string
                billing_pincode:
                  type: string
                billing_state:
                  type: string
                billing_country:
                  type: string
                billing_email:
                  type: string
                billing_phone:
                  type: string
                shipping_is_billing:
                  type: boolean
                shipping_customer_name:
                  type: string
                shipping_last_name:
                  type: string
                shipping_address:
                  type: string
                shipping_address_2:
                  type: string
                shipping_city:
                  type: string
                shipping_pincode:
                  type: string
                shipping_country:
                  type: string
                shipping_state:
                  type: string
                shipping_email:
                  type: string
                shipping_phone:
                  type: string
                is_document:
                  type: string
                order_items:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      sku:
                        type: string
                      units:
                        type: integer
                      selling_price:
                        type: string
                      discount:
                        type: string
                      tax:
                        type: string
                      hsn:
                        type: integer
                payment_method:
                  type: string
                shipping_charges:
                  type: integer
                giftwrap_charges:
                  type: integer
                transaction_charges:
                  type: integer
                total_discount:
                  type: integer
                sub_total:
                  type: integer
                length:
                  type: integer
                breadth:
                  type: integer
                height:
                  type: integer
                weight:
                  type: number
            example:
              order_id: 4TestOrderOct28
              order_date: '2024-10-28'
              pickup_location: '23659_7026'
              channel_id: ''
              comment: 'Reseller: M/s Goku'
              billing_customer_name: Naruto
              billing_last_name: Uzumaki
              billing_address: House 221B, Leaf Village
              billing_address_2: Near Hokage House
              billing_city: New Delhi
              billing_pincode: '110002'
              billing_state: Delhi
              billing_country: India
              billing_email: naruto@uzumaki.com
              billing_phone: '9876543210'
              shipping_is_billing: true
              shipping_customer_name: ''
              shipping_last_name: ''
              shipping_address: ''
              shipping_address_2: ''
              shipping_city: ''
              shipping_pincode: ''
              shipping_country: ''
              shipping_state: ''
              shipping_email: ''
              shipping_phone: ''
              is_document: '0'
              order_items:
              - name: Agreement
                sku: chakra123
                units: 1
                selling_price: '900'
                discount: ''
                tax: ''
                hsn: 441122
              payment_method: Prepaid
              shipping_charges: 0
              giftwrap_charges: 0
              transaction_charges: 0
              total_discount: 0
              sub_total: 9000
              length: 10
              breadth: 15
              height: 20
              weight: 2.5
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    success: true
                    partially_update: true
                    not_updated_fields: order_date ,pickup_location ,channel_id ,comment ,reseller_name ,company_name ,billing_customer_name
                      ,billing_last_name ,billing_address ,billing_address_2 ,billing_isd_code ,billing_city ,billing_pincode
                      ,billing_state ,billing_country ,billing_email ,billing_phone ,billing_alternate_phone ,shipping_is_billing
                      ,shipping_customer_name ,shipping_last_name ,shipping_address ,shipping_address_2 ,shipping_city ,shipping_pincode
                      ,shipping_country ,shipping_state ,shipping_email ,shipping_phone ,payment_method ,ewaybill_no ,customer_gstin
                    order_id: 79491
                    shipment_id: 77906
                    new_order_status: NEW
                    old_order_status: 1
                    awb_code: ''
                    courier_company_id: ''
                    courier_name: ''
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  partially_update:
                    type: boolean
                  not_updated_fields:
                    type: string
                  order_id:
                    type: integer
                  shipment_id:
                    type: integer
                  new_order_status:
                    type: string
                  old_order_status:
                    type: integer
                  awb_code:
                    type: string
                  courier_company_id:
                    type: string
                  courier_name:
                    type: string
  /v1/external/orders/cancel:
    post:
      summary: Cancel an Order
      description: "Use this API to cancel a created order. Multiple order_ids can be passed together as an array to cancel\
        \ them simultaneously.\n Parameters:"
      operationId: cancelAnOrder
      tags:
      - Create Or Update Order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items: {}
                  description: The Shiprocket order id/ids of the orders that need to be canceled.
              required:
              - ids
            example:
              ids: []
      responses:
        '204':
          description: Successful Call
        '500':
          description: Invalid Data
          content:
            application/json:
              examples:
                Invalid-Data:
                  value:
                    message: Trying to get property of non-object
                    status_code: 500
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
        '422':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: Required field missing
                    errors:
                      ids:
                      - The ids field is required.
                    status_code: 422
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: object
                    properties:
                      ids:
                        type: array
                        items:
                          type: string
                  status_code:
                    type: integer
  /v1/external/orders/fulfill:
    patch:
      summary: Add Inventory for Ordered Product
      description: "Use this API to add inventory for ordered products that are out of stock or low on quantity. You have\
        \ to pass the order id and order product id. You can also specify the number of items.\n Notes: \n Inventory sync\
        \ of your account must be turned on to use this API.\n The order_id to be passed is the shiprocket order id.\nIf you\
        \ don't know the product id, Use the 'Get Product Details' API to get details about all the existing products.\n Parameters:"
      operationId: addInventoryForOrderedProduct
      tags:
      - Create Or Update Order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      order_id:
                        type: string
                      order_product_id:
                        type: string
                      quantity:
                        type: string
                      action:
                        type: string
            example:
              data:
              - order_id: ''
                order_product_id: ''
                quantity: ''
                action: ''
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                  - data:
                      order_id: 14124005
                      order_product_id: 43737767570843
                      quantity: '1'
                      action: add
                    success: true
                    message: Inventory added successfully
                Missing-Fields:
                  value:
                  - data:
                      order_id: ''
                      order_product_id: ''
                      quantity: ''
                      action: ''
                    success: false
                    message: Incorrect order_id or order status is no longer unfulfillable
                Invalid-Data:
                  value:
                  - data:
                      order_id: 10000001
                      order_product_id: 17777771
                      quantity: '1'
                      action: add
                    success: false
                    message: Incorrect order_id or order status is no longer unfulfillable
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        order_id:
                          type: integer
                        order_product_id:
                          type: integer
                        quantity:
                          type: string
                        action:
                          type: string
                    success:
                      type: boolean
                    message:
                      type: string
  /v1/external/orders/mapping:
    patch:
      summary: Map Unmapped Products
      description: "This API maps your unmapped inventory products. \n Note: \n Products must be unmapped to run this API\
        \ successfully.\n Inventory sync must be turned on to use this API.\n Parameters:"
      operationId: mapUnmappedProducts
      tags:
      - Create Or Update Order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      order_id:
                        type: string
                      order_product_id:
                        type: string
                      master_sku:
                        type: string
            example:
              data:
              - order_id: ''
                order_product_id: ''
                master_sku: ''
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                  - data:
                      order_id: 14303681
                      order_product_id: 16487731
                      master_sku: delta123
                    status_code: 200
                    success: true
                    message: Product mapped sucessfully.
                Missing-Fields:
                  value:
                  - data:
                      order_id: ''
                      order_product_id: ''
                      master_sku: ''
                    status_code: 0
                    success: false
                    message: No product found matching this master sku
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        order_id:
                          type: integer
                        order_product_id:
                          type: integer
                        master_sku:
                          type: string
                    status_code:
                      type: integer
                    success:
                      type: boolean
                    message:
                      type: string
        '400':
          description: Invalid Data
          content:
            application/json:
              examples:
                Invalid-Data:
                  value:
                  - data:
                      order_id: 16178831
                      order_product_id: 17484610
                      master_sku: chakra123
                    status_code: 0
                    message: Incorrect order_id or order status is  no longer unmapped
                    success: false
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        order_id:
                          type: integer
                        order_product_id:
                          type: integer
                        master_sku:
                          type: string
                    status_code:
                      type: integer
                    message:
                      type: string
                    success:
                      type: boolean
  /v1/external/orders/import:
    post:
      summary: Import Orders in Bulk
      description: Use this API to import orders in bulk to your Shiprocket account from an existing '.csv' file. The imported
        orders are automatically added to your panel.
      operationId: importOrdersInBulk
      tags:
      - Create Or Update Order
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    id: 19739203
              schema:
                type: object
                properties:
                  id:
                    type: integer
        '400':
          description: Invalid Data
          content:
            application/json:
              examples:
                Invalid-Data:
                  value:
                    message: Sorry, text/x-c file type is not allowed
                    status_code: 400
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
        '422':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: Oops! Something went wrong.
                    errors:
                      file:
                      - The file field is required.
                    status_code: 422
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: object
                    properties:
                      file:
                        type: array
                        items:
                          type: string
                  status_code:
                    type: integer
  /v1/external/courier/assign/awb:
    post:
      summary: Generate AWB for Shipment
      description: "This API can be used to assign the AWB (Air Waybill Number) to your shipment. The AWB is a unique number\
        \ that helps you track the shipment and get details about it.\n Parameters:"
      operationId: generateAWBForShipment
      tags:
      - Couriers
      - Return & Exchange Orders
      - Hyperlocal
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                shipment_id:
                  type: integer
                  description: The shipment id of the order you want to create the AWB for.
                courier_id:
                  type: integer
                  description: The courier id of the courier service you want to select. The default courier is selected in
                    case no id is specified.
                status:
                  type: string
                  description: 'Use this to change the courier of a shipment. Value: reassign. Note that this can be done
                    only once in 24 hours.'
              required:
              - shipment_id
            example:
              shipment_id: ''
              courier_id: ''
              status: ''
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    awb_assign_status: 1
                    response:
                      data:
                        courier_company_id: 142
                        awb_code: '321055706540'
                        cod: 0
                        order_id: 281248157
                        shipment_id: 16090281
                        awb_code_status: 1
                        assigned_date_time:
                          date: '2022-11-25 11:17:52.878599'
                          timezone_type: 3
                          timezone: Asia/Kolkata
                        applied_weight: 0.5
                        company_id: 25149
                        courier_name: Amazon Surface
                        child_courier_name: null
                        pickup_scheduled_date: '2022-11-25 14:00:00'
                        routing_code: ''
                        rto_routing_code: ''
                        invoice_no: retail5769122647118
                        transporter_id: ''
                        transporter_name: ''
                        shipped_by:
                          shipper_company_name: manoj
                          shipper_address_1: Aligarh
                          shipper_address_2: noida
                          shipper_city: Jammu
                          shipper_state: Jammu & Kashmir
                          shipper_country: India
                          shipper_postcode: '110030'
                          shipper_first_mile_activated: 0
                          shipper_phone: '8976967989'
                          lat: '32.731899'
                          long: '74.860376'
                          shipper_email: hdhd@gshd.com
                          rto_company_name: test
                          rto_address_1: Unnamed Road, Bengaluru, Karnataka 560060, India
                          rto_address_2: Katrabrahmpur
                          rto_city: Bangalore
                          rto_state: Karnataka
                          rto_country: India
                          rto_postcode: '560060'
                          rto_phone: '9999999999'
                          rto_email: test@test.com
              schema:
                type: object
                properties:
                  awb_assign_status:
                    type: integer
                  response:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          courier_company_id:
                            type: integer
                          awb_code:
                            type: string
                          cod:
                            type: integer
                          order_id:
                            type: integer
                          shipment_id:
                            type: integer
                          awb_code_status:
                            type: integer
                          assigned_date_time:
                            type: object
                            properties:
                              date:
                                type: string
                              timezone_type:
                                type: integer
                              timezone:
                                type: string
                          applied_weight:
                            type: number
                          company_id:
                            type: integer
                          courier_name:
                            type: string
                          child_courier_name: {}
                          pickup_scheduled_date:
                            type: string
                          routing_code:
                            type: string
                          rto_routing_code:
                            type: string
                          invoice_no:
                            type: string
                          transporter_id:
                            type: string
                          transporter_name:
                            type: string
                          shipped_by:
                            type: object
                            properties:
                              shipper_company_name:
                                type: string
                              shipper_address_1:
                                type: string
                              shipper_address_2:
                                type: string
                              shipper_city:
                                type: string
                              shipper_state:
                                type: string
                              shipper_country:
                                type: string
                              shipper_postcode:
                                type: string
                              shipper_first_mile_activated:
                                type: integer
                              shipper_phone:
                                type: string
                              lat:
                                type: string
                              long:
                                type: string
                              shipper_email:
                                type: string
                              rto_company_name:
                                type: string
                              rto_address_1:
                                type: string
                              rto_address_2:
                                type: string
                              rto_city:
                                type: string
                              rto_state:
                                type: string
                              rto_country:
                                type: string
                              rto_postcode:
                                type: string
                              rto_phone:
                                type: string
                              rto_email:
                                type: string
        '422':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: Required field missing
                    errors:
                      shipment_id:
                      - The shipment id field is required.
                    status_code: 422
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: object
                    properties:
                      shipment_id:
                        type: array
                        items:
                          type: string
                  status_code:
                    type: integer
        '400':
          description: Invalid Data
          content:
            application/json:
              examples:
                Invalid-Data:
                  value:
                    message: Oops! Cannot reassign courier for this shipment.
                    status_code: 400
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
  /v1/external/courier/courierListWithCounts:
    get:
      summary: List of Couriers
      description: "Use this API to check the list of couriers and the related information with Shiprocket based on the search\
        \ criteria. Note: \n This API will work on a company level.\n You can use filters to sort your data. By default, all\
        \ the couriers are shown if no filter is used.\n total_courier_count will change based on the filter used.\n Parameters:"
      operationId: listOfCouriers
      tags:
      - Couriers
      parameters:
      - name: type
        in: query
        schema:
          type: string
        description: 'Use this as a parameter. Possible values are : active/inactive/all'
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    total_courier_count: 72
                    serviceable_pincodes_count: 26416
                    pickup_pincodes_count: 25501
                    total_rto_count: 3380
                    total_oda_count: 2032
                    courier_count: 12
                    courier_data:
                    - is_own_key_courier: 0
                      ownkey_courier_id: 0
                      id: 53
                      min_weight: 1
                      base_courier_id: 53
                      name: Gati Surface 1 Kg
                      use_sr_postcodes: 1
                      type: 1
                      status: 1
                      courier_type: 0
                      master_company: Gati Surface 1 Kg
                      service_type: 1
                      mode: 0
                      image:
                        logo: post_order/img/courier/GATI-SURFACE.png
                        small_logo: post_order/img/courier/thumb/gati.jpg
                        email_logo_s3_path: gati.png
                      realtime_tracking: Real Time
                      delivery_boy_contact: Not Available
                      pod_available: On Request
                      call_before_delivery: Available
                      activated_date: '2021-10-14'
                      newest_date: null
                      shipment_count: ''
                      is_hyperlocal: 0
                    - is_own_key_courier: 0
                      ownkey_courier_id: 0
                      id: 40
                      min_weight: 5
                      base_courier_id: 40
                      name: Gati Surface 5 Kg
                      use_sr_postcodes: 1
                      type: 1
                      status: 1
                      courier_type: 0
                      master_company: Gati Surface 5 Kg
                      service_type: 1
                      mode: 0
                      image:
                        logo: post_order/img/courier/GATI-SURFACE.png
                        small_logo: post_order/img/courier/thumb/gati.jpg
                        email_logo_s3_path: gati.png
                      realtime_tracking: Real Time
                      delivery_boy_contact: Not Available
                      pod_available: On Request
                      call_before_delivery: Available
                      activated_date: '2021-10-14'
                      newest_date: null
                      shipment_count: ''
                      is_hyperlocal: 0
                    - is_own_key_courier: 0
                      ownkey_courier_id: 0
                      id: 50
                      min_weight: 0.5
                      base_courier_id: 50
                      name: Wow Express
                      use_sr_postcodes: 1
                      type: 1
                      status: 1
                      courier_type: 0
                      master_company: Wow Express
                      service_type: 1
                      mode: 1
                      image:
                        logo: post_order/img/courier/wow_express.png
                        small_logo: post_order/img/courier/thumb/wow_express.jpg
                        email_logo_s3_path: easyco.png
                      realtime_tracking: Real Time
                      delivery_boy_contact: Not Available
                      pod_available: On Request
                      call_before_delivery: Available
                      activated_date: '2021-10-14'
                      newest_date: null
                      shipment_count: ''
                      is_hyperlocal: 0
                    - is_own_key_courier: 0
                      ownkey_courier_id: 0
                      id: 16
                      min_weight: 0.5
                      base_courier_id: 16
                      name: Dotzot
                      use_sr_postcodes: 1
                      type: 1
                      status: 1
                      courier_type: 0
                      master_company: Dotzot
                      service_type: 1
                      mode: 1
                      image:
                        logo: post_order/img/courier/DOTZOT.png
                        small_logo: post_order/img/courier/thumb/dotzot.jpg
                        email_logo_s3_path: dozot.png
                      realtime_tracking: Real Time
                      delivery_boy_contact: Not Available
                      pod_available: On Request
                      call_before_delivery: Available
                      activated_date: '2021-10-14'
                      newest_date: null
                      shipment_count: ''
                      is_hyperlocal: 0
                    - is_own_key_courier: 0
                      ownkey_courier_id: 0
                      id: 3
                      min_weight: 0
                      base_courier_id: 3
                      name: ARAMEX
                      use_sr_postcodes: 1
                      type: 1
                      status: 1
                      courier_type: 0
                      master_company: ARAMEX
                      service_type: 1
                      mode: 0
                      image:
                        logo: post_order/img/courier/ARAMEX.png
                        small_logo: post_order/img/courier/thumb/aramex.jpg
                        email_logo_s3_path: aramax.png
                      realtime_tracking: MIS
                      delivery_boy_contact: Not Available
                      pod_available: On Request
                      call_before_delivery: Not Available
                      activated_date: '2021-10-14'
                      newest_date: null
                      shipment_count: ''
                      is_hyperlocal: 0
                    - is_own_key_courier: 0
                      ownkey_courier_id: 0
                      id: 2
                      min_weight: 0.5
                      base_courier_id: 2
                      name: FedEx
                      use_sr_postcodes: 1
                      type: 1
                      status: 1
                      courier_type: 0
                      master_company: FedEx
                      service_type: 1
                      mode: 1
                      image:
                        logo: post_order/img/courier/FEDEX.png
                        small_logo: post_order/img/courier/thumb/fedex.jpg
                        email_logo_s3_path: fedex.png
                      realtime_tracking: Real Time
                      delivery_boy_contact: Not Available
                      pod_available: Instant
                      call_before_delivery: Available
                      activated_date: '2021-06-21'
                      newest_date: null
                      shipment_count: ''
                      is_hyperlocal: 0
                    - is_own_key_courier: 0
                      ownkey_courier_id: 0
                      id: 41
                      min_weight: 0.5
                      base_courier_id: 41
                      name: FedEx Flat Rate
                      use_sr_postcodes: 1
                      type: 1
                      status: 1
                      courier_type: 0
                      master_company: FedEx Flat Rate
                      service_type: 1
                      mode: 1
                      image:
                        logo: post_order/img/courier/FEDEX.png
                        small_logo: post_order/img/courier/thumb/fedex.jpg
                        email_logo_s3_path: fedex.png
                      realtime_tracking: Real Time
                      delivery_boy_contact: Not Available
                      pod_available: Instant
                      call_before_delivery: Available
                      activated_date: '2021-06-21'
                      newest_date: null
                      shipment_count: ''
                      is_hyperlocal: 0
                    - is_own_key_courier: 0
                      ownkey_courier_id: 0
                      id: 12
                      min_weight: 10
                      base_courier_id: 12
                      name: FedEx Surface 10 Kg
                      use_sr_postcodes: 1
                      type: 1
                      status: 1
                      courier_type: 0
                      master_company: FedEx Surface 10 Kg
                      service_type: 1
                      mode: 0
                      image:
                        logo: post_order/img/courier/FEDEX-SURFACE.png
                        small_logo: post_order/img/courier/thumb/fedex.jpg
                        email_logo_s3_path: fedex.png
                      realtime_tracking: Real Time
                      delivery_boy_contact: Not Available
                      pod_available: Instant
                      call_before_delivery: Available
                      activated_date: '2021-06-21'
                      newest_date: null
                      shipment_count: ''
                      is_hyperlocal: 0
                    - is_own_key_courier: 0
                      ownkey_courier_id: 0
                      id: 42
                      min_weight: 5
                      base_courier_id: 42
                      name: FedEx Surface 5 Kg
                      use_sr_postcodes: 1
                      type: 1
                      status: 1
                      courier_type: 0
                      master_company: FedEx Surface 5 Kg
                      service_type: 1
                      mode: 0
                      image:
                        logo: post_order/img/courier/FEDEX.png
                        small_logo: post_order/img/courier/thumb/fedex.jpg
                        email_logo_s3_path: fedex.png
                      realtime_tracking: Real Time
                      delivery_boy_contact: Not Available
                      pod_available: Instant
                      call_before_delivery: Available
                      activated_date: '2021-06-21'
                      newest_date: null
                      shipment_count: ''
                      is_hyperlocal: 0
                    - is_own_key_courier: 0
                      ownkey_courier_id: 0
                      id: 62
                      min_weight: 1
                      base_courier_id: 62
                      name: FedEx Surface 1 Kg
                      use_sr_postcodes: 1
                      type: 1
                      status: 1
                      courier_type: 0
                      master_company: FedEx Surface 1 Kg
                      service_type: 1
                      mode: 0
                      image:
                        logo: post_order/img/courier/FEDEX-SURFACE.png
                        small_logo: post_order/img/courier/thumb/fedex.jpg
                        email_logo_s3_path: fedex.png
                      realtime_tracking: Real Time
                      delivery_boy_contact: Not Available
                      pod_available: Instant
                      call_before_delivery: Available
                      activated_date: '2021-06-21'
                      newest_date: null
                      shipment_count: ''
                      is_hyperlocal: 0
                    - is_own_key_courier: 0
                      ownkey_courier_id: 0
                      id: 1
                      min_weight: 0.5
                      base_courier_id: 1
                      name: Blue Dart
                      use_sr_postcodes: 1
                      type: 1
                      status: 1
                      courier_type: 0
                      master_company: Blue Dart
                      service_type: 1
                      mode: 1
                      image:
                        logo: post_order/img/courier/BLUEDART.png
                        small_logo: post_order/img/courier/thumb/bluedart.jpg
                        email_logo_s3_path: Bluedart.png
                      realtime_tracking: Real Time
                      delivery_boy_contact: Available
                      pod_available: Instant
                      call_before_delivery: Available
                      activated_date: '2021-03-12'
                      newest_date: null
                      shipment_count: ''
                      is_hyperlocal: 0
                    - is_own_key_courier: 0
                      ownkey_courier_id: 0
                      id: 55
                      min_weight: 0.5
                      base_courier_id: 55
                      name: Blue Dart Surface
                      use_sr_postcodes: 1
                      type: 1
                      status: 1
                      courier_type: 0
                      master_company: Blue Dart Surface
                      service_type: 1
                      mode: 0
                      image:
                        logo: post_order/img/courier/DARTPLUS.png
                        small_logo: post_order/img/courier/thumb/bluedart.jpg
                        email_logo_s3_path: Bluedart.png
                      realtime_tracking: Real Time
                      delivery_boy_contact: Available
                      pod_available: Instant
                      call_before_delivery: Available
                      activated_date: '2021-03-12'
                      newest_date: null
                      shipment_count: ''
                      is_hyperlocal: 0
              schema:
                type: object
                properties:
                  total_courier_count:
                    type: integer
                  serviceable_pincodes_count:
                    type: integer
                  pickup_pincodes_count:
                    type: integer
                  total_rto_count:
                    type: integer
                  total_oda_count:
                    type: integer
                  courier_count:
                    type: integer
                  courier_data:
                    type: array
                    items:
                      type: object
                      properties:
                        is_own_key_courier:
                          type: integer
                        ownkey_courier_id:
                          type: integer
                        id:
                          type: integer
                        min_weight:
                          type: integer
                        base_courier_id:
                          type: integer
                        name:
                          type: string
                        use_sr_postcodes:
                          type: integer
                        type:
                          type: integer
                        status:
                          type: integer
                        courier_type:
                          type: integer
                        master_company:
                          type: string
                        service_type:
                          type: integer
                        mode:
                          type: integer
                        image:
                          type: object
                          properties:
                            logo:
                              type: string
                            small_logo:
                              type: string
                            email_logo_s3_path:
                              type: string
                        realtime_tracking:
                          type: string
                        delivery_boy_contact:
                          type: string
                        pod_available:
                          type: string
                        call_before_delivery:
                          type: string
                        activated_date:
                          type: string
                        newest_date: {}
                        shipment_count:
                          type: string
                        is_hyperlocal:
                          type: integer
  /v1/external/courier/serviceability:
    get:
      summary: Check Courier Serviceability
      description: "Use this API to check the availability of couriers between the pickup and delivery postal codes. Further\
        \ details like the estimated time of delivery, the rates along with the ids are also shown.\n Note: \n One of either\
        \ the 'order_id' or 'cod' and 'weight' is required. If you specify the order id, the cod and weight fields are not\
        \ required and vice versa.\n You can add further fields to add the shipment details and filter the search.\n Parameters:"
      operationId: checkCourierServiceability
      tags:
      - Couriers
      - Return & Exchange Orders
      - Hyperlocal
      parameters:
      - name: pickup_postcode
        in: query
        schema:
          type: integer
        description: Postcode from where the order will be picked.
        required: true
      - name: delivery_postcode
        in: query
        schema:
          type: integer
        description: Postcode where the order will be delivered
        required: true
      - name: order_id
        in: query
        schema:
          type: integer
        description: If order id is already created in Shiprocket panel then you can use this shiprocket order id in servicibility
      - name: cod
        in: query
        schema:
          type: boolean
        description: 1 for Cash on Delivery and 0 for Prepaid orders.
      - name: weight
        in: query
        schema:
          type: string
        description: The weight of shipment in kgs.
      - name: length
        in: query
        schema:
          type: integer
        description: The length of the shipment in cms.
      - name: breadth
        in: query
        schema:
          type: integer
        description: The breadth of the shipment in cms.
      - name: height
        in: query
        schema:
          type: integer
        description: The height of the shipment in cms.
      - name: declared_value
        in: query
        schema:
          type: integer
        description: The price of the order shipment in rupees.
      - name: mode
        in: query
        schema:
          type: string
        description: 'The mode of travel. Either: Surface or Air'
      - name: is_return
        in: query
        schema:
          type: integer
        description: Whether the order is a return order or not. 1 in case of Yes and 0 for No. (declared_value field is required
          in case you use this parameter)
      - name: couriers_type
        in: query
        schema:
          type: integer
        description: Use this to filter out and show only "documents" couriers like XB documents, etc. The only accepted value
          is 1.
      - name: only_local
        in: query
        schema:
          type: integer
        description: Use this to filter out and show only Hyperlocal couriers. The only accepted value is 1.
      - name: qc_check
        in: query
        schema:
          type: integer
        description: Use this filter to show only the QC-enabled couriers. is_return has to be set to 1
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    company_auto_shipment_insurance_setting: true
                    covid_zones:
                      delivery_zone: null
                      pickup_zone: null
                    currency: INR
                    data:
                      available_courier_companies:
                      - air_max_weight: '0.00'
                        assured_amount: 0
                        base_courier_id: null
                        base_weight: ''
                        blocked: 0
                        call_before_delivery: Available
                        charge_weight: 0.5
                        city: Mandi
                        cod: 1
                        cod_charges: 0
                        cod_multiplier: 0.01
                        cost: ''
                        courier_company_id: 43
                        courier_name: Delhivery Surface
                        courier_type: '0'
                        coverage_charges: 0
                        cutoff_time: '11:00'
                        delivery_boy_contact: Not Available
                        delivery_performance: 5
                        description: ''
                        edd: ''
                        entry_tax: 0
                        estimated_delivery_days: '4'
                        etd: Jul 01, 2024
                        etd_hours: 91
                        freight_charge: 54
                        id: 459245934
                        is_custom_rate: 1
                        is_hyperlocal: false
                        is_international: 0
                        is_rto_address_available: true
                        is_surface: true
                        local_region: 0
                        metro: 0
                        min_weight: 0.5
                        mode: 0
                        new_edd: 0
                        odablock: false
                        other_charges: 0
                        others: '{"allow_postcode_auto_sync":1,"cancel_real_time":true}'
                        pickup_availability: '0'
                        pickup_performance: 4.7
                        pickup_priority: ''
                        pickup_supress_hours: 0
                        pod_available: Instant
                        postcode: '175019'
                        qc_courier: 0
                        rank: ''
                        rate: 54
                        rating: 4.9
                        realtime_tracking: Real Time
                        region: 1
                        rto_charges: 54
                        rto_performance: 5
                        seconds_left_for_pickup: 0
                        secure_shipment_disabled: false
                        ship_type: 1
                        state: Himachal Pradesh
                        suppress_date: ''
                        suppress_text: ''
                        suppression_dates: null
                        surface_max_weight: '4.00'
                        tracking_performance: 5
                        volumetric_max_weight: null
                        weight_cases: 4.6
                        zone: z_e
                      - air_max_weight: '0.00'
                        assured_amount: 0
                        base_courier_id: null
                        base_weight: ''
                        blocked: 0
                        call_before_delivery: Available
                        charge_weight: 2
                        city: MANDI
                        cod: 1
                        cod_charges: 0
                        cod_multiplier: 0
                        cost: ''
                        courier_company_id: 225
                        courier_name: India Post-Business Parcel Surface Prepaid
                        courier_type: '0'
                        coverage_charges: 8.71
                        cutoff_time: '10:00'
                        delivery_boy_contact: Not Available
                        delivery_performance: 4.5
                        description: ''
                        edd: ''
                        entry_tax: 0
                        estimated_delivery_days: '8'
                        etd: Jul 05, 2024
                        etd_hours: 184
                        freight_charge: 123.9
                        id: 396397972
                        is_custom_rate: 0
                        is_hyperlocal: false
                        is_international: 0
                        is_rto_address_available: true
                        is_surface: true
                        local_region: 0
                        metro: 0
                        min_weight: 2
                        mode: 0
                        new_edd: 0
                        odablock: false
                        other_charges: 0
                        others: '{"cancel_real_time":true}'
                        pickup_availability: '0'
                        pickup_performance: 4.4
                        pickup_priority: ''
                        pickup_supress_hours: 0
                        pod_available: On Request
                        postcode: '175019'
                        qc_courier: 0
                        rank: ''
                        rate: 123.9
                        rating: 4.4
                        realtime_tracking: Real Time
                        region: 5
                        rto_charges: 0
                        rto_performance: 4.4
                        seconds_left_for_pickup: 0
                        secure_shipment_disabled: false
                        ship_type: 1
                        state: HIMACHAL PRADESH
                        suppress_date: ''
                        suppress_text: ''
                        suppression_dates:
                          action_on: '2023-11-11 20:29:04'
                          delay_remark: Festival
                          delivery_delay_by: 2065762
                          delivery_delay_days: '1'
                          delivery_delay_from: '2023-11-13'
                          delivery_delay_to: '2023-11-13'
                          pickup_delay_by: 2065762
                          pickup_delay_days: '1'
                          pickup_delay_from: '2023-11-13'
                          pickup_delay_to: '2023-11-13'
                        surface_max_weight: '35.00'
                        tracking_performance: 4.5
                        volumetric_max_weight: 35
                        weight_cases: 4.2
                        zone: z_e
                      - air_max_weight: '0.00'
                        assured_amount: 0
                        base_courier_id: null
                        base_weight: ''
                        blocked: 0
                        call_before_delivery: Available
                        charge_weight: 2
                        city: SUNDERNAGAR
                        cod: 1
                        cod_charges: 0
                        cod_multiplier: 0
                        cost: ''
                        courier_company_id: 19
                        courier_name: Ecom Express Surface 2kg
                        courier_type: '0'
                        coverage_charges: 0
                        cutoff_time: '11:00'
                        delivery_boy_contact: Not Available
                        delivery_performance: 5
                        description: ''
                        edd: ''
                        entry_tax: 0
                        estimated_delivery_days: '6'
                        etd: Jul 03, 2024
                        etd_hours: 144
                        freight_charge: 150.12
                        id: 456774028
                        is_custom_rate: 0
                        is_hyperlocal: false
                        is_international: 0
                        is_rto_address_available: true
                        is_surface: true
                        local_region: 0
                        metro: 0
                        min_weight: 2
                        mode: 0
                        new_edd: 0
                        odablock: false
                        other_charges: 0
                        others: '{"allow_postcode_auto_sync":1,"cancel_real_time":true,"wec":1}'
                        pickup_availability: '0'
                        pickup_performance: 4.5
                        pickup_priority: ''
                        pickup_supress_hours: 0
                        pod_available: Instant
                        postcode: '175019'
                        qc_courier: 0
                        rank: ''
                        rate: 150.12
                        rating: 4.62
                        realtime_tracking: Real Time
                        region: 1
                        rto_charges: 142.6
                        rto_performance: 5
                        seconds_left_for_pickup: 0
                        secure_shipment_disabled: false
                        ship_type: 1
                        state: HIMACHAL PRADESH
                        suppress_date: ''
                        suppress_text: ''
                        suppression_dates:
                          action_on: '2024-06-15 23:27:37'
                          delay_remark: Festival
                          delivery_delay_by: 2065762
                          delivery_delay_days: '1'
                          delivery_delay_from: '2024-06-17'
                          delivery_delay_to: '2024-06-17'
                          pickup_delay_by: 2065762
                          pickup_delay_days: '1'
                          pickup_delay_from: '2024-06-17'
                          pickup_delay_to: '2024-06-17'
                        surface_max_weight: '30.00'
                        tracking_performance: 4
                        volumetric_max_weight: null
                        weight_cases: 4.6
                        zone: z_e
                      blocked_courier_companies:
                      - block_reason: Operational Issues
                        courier_company_id: 33
                        courier_name: Xpressbees Air
                        postcode: '175019'
                      child_courier_id: null
                      is_recommendation_enabled: 1
                      recommendation_advance_rule: 0
                      recommended_by:
                        id: 6
                        title: Recommendation By Shiprocket
                      recommended_courier_company_id: 43
                      shiprocket_recommended_courier_id: 43
                    dg_courier: 0
                    eligible_for_insurance: false
                    insurace_opted_at_order_creation: false
                    is_allow_templatized_pricing: true
                    is_latlong: 0
                    is_old_zone_opted: false
                    is_zone_from_mongo: true
                    label_generate_type: 2
                    on_new_zone: 2
                    seller_address: []
                    status: 200
                    user_insurance_manadatory: false
                Invalid-Data:
                  value:
                    status: 404
                    message: Order does not exist!
              schema:
                type: object
                properties:
                  company_auto_shipment_insurance_setting:
                    type: boolean
                  covid_zones:
                    type: object
                    properties:
                      delivery_zone: {}
                      pickup_zone: {}
                  currency:
                    type: string
                  data:
                    type: object
                    properties:
                      available_courier_companies:
                        type: array
                        items:
                          type: object
                          properties:
                            air_max_weight:
                              type: string
                            assured_amount:
                              type: integer
                            base_courier_id: {}
                            base_weight:
                              type: string
                            blocked:
                              type: integer
                            call_before_delivery:
                              type: string
                            charge_weight:
                              type: number
                            city:
                              type: string
                            cod:
                              type: integer
                            cod_charges:
                              type: integer
                            cod_multiplier:
                              type: number
                            cost:
                              type: string
                            courier_company_id:
                              type: integer
                            courier_name:
                              type: string
                            courier_type:
                              type: string
                            coverage_charges:
                              type: integer
                            cutoff_time:
                              type: string
                            delivery_boy_contact:
                              type: string
                            delivery_performance:
                              type: integer
                            description:
                              type: string
[...]
