openapi: 3.2.0
info:
  title: Shiprocket File Imports API
  version: v1
  description: 'Shiprocket''s public REST API (v1/external) for eCommerce shipping and order management: authentication, order create/update/cancel/import, courier serviceability and AWB assignment, pickup scheduling, labels/manifests/invoices, shipment tracking, NDR actions, returns and exchanges, hyperlocal and international shipping, products, listings, channels, inventory, countries/postcodes, wallet balance, statements and discrepancies.'
  termsOfService: https://www.shiprocket.in/terms-conditions/
  contact:
    name: Shiprocket API integration support
    email: integration@shiprocket.com
    url: https://apidocs.shiprocket.in/
servers:
- url: https://apiv2.shiprocket.in
  description: Production
security:
- bearerAuth: []
tags:
- name: File Imports
  description: Check the status response of files that have been imported using the API.
paths:
  /v1/external/errors/{import_id}/check:
    get:
      summary: Get File import Results
      description: 'Check the import response of various file imports for any error, including bulk order imports, products and product listings.

        You will have to pass the file import id as a path parameter in the endpoint URL. This id is provided at the time of importing the file.

        No other body parameters are required.

        Path:'
      operationId: getFileImportResults
      tags:
      - File Imports
      parameters:
      - name: import_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    data:
                      status: '3'
                      message: Error in reading file data! Please check that the column names are same as that in the sample file provided.
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                      message:
                        type: string
        '500':
          description: Invalid Data
          content:
            application/json:
              examples:
                Invalid-Data:
                  value:
                    message: Trying to get property of non-object
                    status_code: 500
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
        '404':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: 404 Not Found
                    status_code: 404
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT obtained from POST /v1/external/auth/login using an API user email + password (Settings > API > Add New API User). The token is valid for 10 days; send it as Authorization: Bearer <token>.'
externalDocs:
  url: https://apidocs.shiprocket.in/
  description: Shiprocket API documentation (Postman documenter)
x-generated-from:
  type: postman-collection
  url: https://apidocs.shiprocket.in/api/collections/8407119/SzYW1zB2?environment=8407119-3ebd70ec-0118-4aa7-a886-4802616014f5&segregateAuth=true&versionTag=latest
  documenter: https://apidocs.shiprocket.in/
  collection_id: f5af337c-69fc-49c7-8418-e2f6ee461674
  generated: '2026-09-18'
  method: generated
  note: Faithful conversion; schemas inferred from published parameter tables and examples.
