openapi: 3.2.0
info:
  title: Shiprocket NDR API
  version: v1
  description: 'Shiprocket''s public REST API (v1/external) for eCommerce shipping and order management: authentication, order create/update/cancel/import, courier serviceability and AWB assignment, pickup scheduling, labels/manifests/invoices, shipment tracking, NDR actions, returns and exchanges, hyperlocal and international shipping, products, listings, channels, inventory, countries/postcodes, wallet balance, statements and discrepancies.'
  termsOfService: https://www.shiprocket.in/terms-conditions/
  contact:
    name: Shiprocket API integration support
    email: integration@shiprocket.com
    url: https://apidocs.shiprocket.in/
servers:
- url: https://apiv2.shiprocket.in
  description: Production
security:
- bearerAuth: []
tags:
- name: NDR
  description: These APIs can be used to get details about your shipments that are in NDR, as well as manage them, which includes fetching NDR shipments from your account (all or specific) and taking actions such as Reattempt and RTO based on the reason.
paths:
  /v1/external/ndr/all:
    get:
      summary: Get All NDR Shipments
      description: 'This API call will display a list of all the shipments that are in NDR in your Shiprocket account.

        You can also sort and filter the data according to your needs by passing the optional parameters. Not passing anything will display the data in the default format.

        Parameters:'
      operationId: getAllNDRShipments
      tags:
      - NDR
      parameters:
      - name: page
        in: query
        schema:
          type: integer
        description: The page number to display.
      - name: per_page
        in: query
        schema:
          type: integer
        description: The number of entries per page.
      - name: to
        in: query
        schema:
          type: string
        description: The end date.
      - name: from
        in: query
        schema:
          type: string
        description: The start date.
      - name: search
        in: query
        schema:
          type: string
        description: Search for AWB.
      responses:
        '200':
          description: Successful Call
          content:
            text/plain:
              examples:
                Successful-Call:
                  value: "{\n        \"data\": [\n                {\n                        \"id\": 94711332,\n                        \"shipment_id\": 94323606,\n                        \"customer_name\": \"John Doe\",\n                        \"customer_email\": \"john.doe@gmail.com\",\n                        \"customer_phone\": \"9999999998\",\n                        \"customer_address\": \"#400, Ground floor, Valley\",\n                        \"customer_address_2\": \"View estate, Near Indira Canteen\",\n                        \"customer_city\": \"Gurgaon\",\n                        \"customer_state\": \"Haryana\",\n                        \"customer_pincode\": \"122003\",\n                        \"payment_status\": \"2\",\n                        \"status\": \"UNDELIVERED\",\n                        \"status_code\": 36,\n                        \"payment_method\": \"prepaid\",\n                        \"created_at\": \"12 Mar 2021, 04:16 PM\",\n                        \"reason\": \"Customer Asked For Future Delivery\",\n                        \"attempts\": 1,\n                        \"ndr_raised_at\": \"2021-03-17 22:51:17\",\n                        \"courier\": \"FedEx\",\n                        \"awb_code\": \"784698160933\",\n                        \"escalation_status\": \"N/A\",\n                        \"product_name\": \"Cricket kit\",\n                        \"product_price\": \"1484.01\",\n                        \"shipment_channel_id\": 152865,\n                        \"history\": [\n                                {\n                                        \"id\": 50347646,\n                                        \"ndr_id\": 14933497,\n                                        \"ndr_reason\": \"Customer Asked For Future Delivery\",\n                                        \"action_by\": 3,\n                                        \"ndr_attempt\": 1,\n                                        \"medium\": null,\n                                        \"ndr_push_status\": 0,\n                                        \"comment\": \"\",\n                                        \"call_center_call_recording\": \"\",\n                                        \"call_center_recording_date\": \"\",\n                                        \"proof_recording\": null,\n                                        \"proof_image\": null,\n                                        \"sms_response\": \"No Response\",\n                                        \"ndr_raised_at\": \"2021-03-17 22:51:17\"\n                                }\n                        ],\n                        \"delivered_date\": \"\"\n                },\n                {\n                        \"id\": 94279207,\n                        \"shipment_id\": 93891718,\n                        \"customer_name\": \" Jane Doe\",\n                        \"customer_email\": \"jane.doe@gmail.com\",\n                        \"customer_phone\": \"9999999998\",\n                        \"customer_address\": \"416 udyog vihar 3\",\n                        \"customer_address_2\": \"near UC\",\n                        \"customer_city\": \"Gurgaon\",\n                        \"customer_state\": \"Haryana\",\n                        \"customer_pincode\": \"122003\",\n                        \"payment_status\": \"2\",\n                        \"status\": \"UNDELIVERED\",\n                        \"status_code\": 36,\n                        \"payment_method\": \"prepaid\",\n                        \"created_at\": \"10 Mar 2021, 03:14 PM\",\n                        \"reason\": \"Customer Asked For Future Delivery\",\n                        \"attempts\": 2,\n                        \"ndr_raised_at\": \"2021-03-17 22:51:13\",\n                        \"courier\": \"FedEx\",\n                        \"awb_code\": \"784613220808\",\n                        \"escalation_status\": \"N/A\",\n                        \"product_name\": \"Maa ka Aachaar\",\n                        \"product_price\": \"1019.00\",\n                        \"shipment_channel_id\": 152865,\n                        \"history\": [\n                                {\n                                        \"id\": 50227533,\n                                        \"ndr_id\": 14908011,\n                                        \"ndr_reason\": \"Customer Asked For Future Delivery\",\n                                        \"action_by\": 3,\n                                        \"ndr_attempt\": 1,\n                                        \"medium\": null,\n                                        \"ndr_push_status\": 0,\n                                        \"comment\": \"\",\n                                        \"call_center_call_recording\": \"\",\n                                        \"call_center_recording_date\": \"\",\n                                        \"proof_recording\": null,\n                                        \"proof_image\": null,\n                                        \"sms_response\": \"No Response\",\n                                        \"ndr_raised_at\": \"2021-03-16 21:54:32\"\n                                },\n                                {\n                                        \"id\": 50244772,\n                                        \"ndr_id\": 14908011,\n                                        \"ndr_reason\": \"Customer Asked For Future Delivery\",\n                                        \"action_by\": 2,\n                                        \"ndr_attempt\": 1,\n                                        \"medium\": null,\n                                        \"ndr_push_status\": 2,\n                                        \"comment\": null,\n                                        \"call_center_call_recording\": \"\",\n                                        \"call_center_recording_date\": \"\",\n                                        \"proof_recording\": null,\n                                        \"proof_image\": null,\n                                        \"sms_response\": \"No Response\",\n                                        \"ndr_raised_at\": \"2021-03-16 21:54:32\"\n                                },\n                                {\n                                        \"id\": 50347643,\n                                        \"ndr_id\": 14908011,\n                                        \"ndr_reason\": \"Customer Asked For Future Delivery\",\n                                        \"action_by\": 3,\n                                        \"ndr_attempt\": 2,\n                                        \"medium\": null,\n                                        \"ndr_push_status\": 0,\n                                        \"comment\": \"\",\n                                        \"call_center_call_recording\": \"\",\n                                        \"call_center_recording_date\": \"\",\n                                        \"proof_recording\": null,\n                                        \"proof_image\": null,\n                                        \"sms_response\": \"No Response\",\n                                        \"ndr_raised_at\": \"2021-03-17 22:51:13\"\n                                }\n                        ],\n                        \"delivered_date\": \"\"\n                }\n                \n        ],\n        \"meta\": {\n                \"pagination\": {\n                        \"total\": 3,\n                        \"count\": 3,\n                        \"per_page\": 15,\n                        \"current_page\": 1,\n                        \"total_pages\": 1,\n                        \"links\": {\n                                \"next\": \"https://apiv2.shiprocket.in/v1/external/ndr/all?page=2\"\n                        }\n                }\n        }\n}\n\n"
  /v1/external/ndr/{AWB}:
    get:
      summary: Get Specific NDR Shipment Details
      description: 'Get the shipment details of a particular order through this API by passing the AWB number in the endpoint URL itself. You can get the details like AWB, NDR Attempt, NDR Reason, Customer Details, Product Details, Courier.

        Type in your AWB code in place of {AWB}. No other body parameters are required.

        Path:'
      operationId: getSpecificNDRShipmentDetails
      tags:
      - NDR
      parameters:
      - name: AWB
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    data:
                    - id: 94711332
                      shipment_id: 94323606
                      customer_name: John Doe
                      customer_email: john@gmail.com
                      customer_phone: '999999998'
                      customer_address: '#123, Ground floor, Valley apartment'
                      customer_address_2: near view estate
                      customer_city: Gurgaon
                      customer_state: Haryana
                      customer_pincode: '122003'
                      payment_status: '2'
                      status: UNDELIVERED
                      status_code: 36
                      payment_method: prepaid
                      created_at: 12 Mar 2021, 04:16 PM
                      reason: Customer Asked For Future Delivery
                      attempts: 1
                      ndr_raised_at: '2021-03-17 22:51:17'
                      courier: FedEx
                      awb_code: '8373927474982'
                      escalation_status: N/A
                      product_name: Gaming Chair
                      product_price: '14484.01'
                      shipment_channel_id: 152865
                      history:
                      - id: 50347646
                        ndr_id: 14933497
                        ndr_reason: Customer Asked For Future Delivery
                        action_by: 3
                        ndr_attempt: 1
                        medium: null
                        ndr_push_status: 0
                        comment: ''
                        call_center_call_recording: ''
                        call_center_recording_date: ''
                        proof_recording: null
                        proof_image: null
                        sms_response: No Response
                        ndr_raised_at: '2021-03-17 22:51:17'
                      delivered_date: ''
                    meta:
                      pagination:
                        total: 1
                        count: 1
                        per_page: 15
                        current_page: 1
                        total_pages: 1
                        links: {}
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        shipment_id:
                          type: integer
                        customer_name:
                          type: string
                        customer_email:
                          type: string
                        customer_phone:
                          type: string
                        customer_address:
                          type: string
                        customer_address_2:
                          type: string
                        customer_city:
                          type: string
                        customer_state:
                          type: string
                        customer_pincode:
                          type: string
                        payment_status:
                          type: string
                        status:
                          type: string
                        status_code:
                          type: integer
                        payment_method:
                          type: string
                        created_at:
                          type: string
                        reason:
                          type: string
                        attempts:
                          type: integer
                        ndr_raised_at:
                          type: string
                        courier:
                          type: string
                        awb_code:
                          type: string
                        escalation_status:
                          type: string
                        product_name:
                          type: string
                        product_price:
                          type: string
                        shipment_channel_id:
                          type: integer
                        history:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              ndr_id:
                                type: integer
                              ndr_reason:
                                type: string
                              action_by:
                                type: integer
                              ndr_attempt:
                                type: integer
                              medium: {}
                              ndr_push_status:
                                type: integer
                              comment:
                                type: string
                              call_center_call_recording:
                                type: string
                              call_center_recording_date:
                                type: string
                              proof_recording: {}
                              proof_image: {}
                              sms_response:
                                type: string
                              ndr_raised_at:
                                type: string
                        delivered_date:
                          type: string
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                          count:
                            type: integer
                          per_page:
                            type: integer
                          current_page:
                            type: integer
                          total_pages:
                            type: integer
                          links:
                            type: object
                            properties: {}
  /v1/external/ndr/{awb}/action:
    post:
      summary: Action NDR
      description: 'This API will let you take actions like Reattempt and RTO on the shipments that are in NDR.

        Parameters:'
      operationId: actionNDR
      tags:
      - NDR
      parameters:
      - name: awb
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  description: The action needs to be specified
                comments:
                  type: string
                  description: Any comment can be mentioned
              required:
              - action
              - comments
            example:
              action: ''
              comments: ''
      responses:
        '202':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    status: Data Updated Sucessfully
              schema:
                type: object
                properties:
                  status:
                    type: string
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT obtained from POST /v1/external/auth/login using an API user email + password (Settings > API > Add New API User). The token is valid for 10 days; send it as Authorization: Bearer <token>.'
externalDocs:
  url: https://apidocs.shiprocket.in/
  description: Shiprocket API documentation (Postman documenter)
x-generated-from:
  type: postman-collection
  url: https://apidocs.shiprocket.in/api/collections/8407119/SzYW1zB2?environment=8407119-3ebd70ec-0118-4aa7-a886-4802616014f5&segregateAuth=true&versionTag=latest
  documenter: https://apidocs.shiprocket.in/
  collection_id: f5af337c-69fc-49c7-8418-e2f6ee461674
  generated: '2026-09-18'
  method: generated
  note: Faithful conversion; schemas inferred from published parameter tables and examples.
