openapi: 3.2.0
info:
  title: Shiprocket International API
  version: v1
  description: 'Shiprocket''s public REST API (v1/external) for eCommerce shipping and order management: authentication, order create/update/cancel/import, courier serviceability and AWB assignment, pickup scheduling, labels/manifests/invoices, shipment tracking, NDR actions, returns and exchanges, hyperlocal and international shipping, products, listings, channels, inventory, countries/postcodes, wallet balance, statements and discrepancies.'
  termsOfService: https://www.shiprocket.in/terms-conditions/
  contact:
    name: Shiprocket API integration support
    email: integration@shiprocket.com
    url: https://apidocs.shiprocket.in/
servers:
- url: https://apiv2.shiprocket.in
  description: Production
security:
- bearerAuth: []
tags:
- name: International
  description: These endpoints are used for operations related to international orders and shipments.
paths:
  /v1/external/courier/generate/pickup:
    post:
      summary: Request for Shipment Pickup
      description: 'Use this API to create a pickup request for your order shipment. The API returns the pickup status along with the estimated pickup time. You will have to call the ''Generate Manifest'' API after the successful response of this API.

        Note:

        The AWB must be already generated for the shipment id to generate the pickup request.

        Only one shipment_id can be passed at a time.

        In case the pickup_date falls on a holiday or Sunday, the shipment will be booked for the next available date.

        Parameters:'
      operationId: requestForShipmentPickup
      tags:
      - International
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                shipment_id:
                  type: array
                  items:
                    type: integer
                  description: The shipment id of the shipment which is requested for pickup.
              required:
              - shipment_id
            example:
              shipment_id:
              - 16090109
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    pickup_status: 1
                    response:
                      pickup_scheduled_date: '2021-12-10 12:39:54'
                      pickup_token_number: 'Reference No: 194_BIGFOOT 1966840_11122021'
                      status: 3
                      others: '{"tier_id":5,"etd_zone":"z_e","etd_hours":"{\"assign_to_pick\":6.9000000000000004,\"pick_to_ship\":22.600000000000001,\"ship_to_deliver\":151.40000000000001,\"etd_zone\":\"z_e\",\"pick_to_ship_table\":\"dev_etd_pickup_to_ship\",\"ship_to_deliver_table\":\"dev_etd_ship_to_deliver\"}","actual_etd":"2021-12-18 00:36:03","routing_code":"S2\/S-69\/1B\/016","addition_in_etd":["deduction_of_6_and_half_hours"],"shipment_metadata":{"type":"ship","device":"WebKit","platform":"desktop","client_ip":"94.237.77.195","created_at":"2021-12-10 12:36:03","request_type":"web"},"templatized_pricing":0,"selected_courier_type":"Best in price","recommended_courier_data":{"etd":"Dec 19, 2021","price":153,"rating":3.6,"courier_id":54},"recommendation_advance_rule":null,"dynamic_weight":"1.00"}'
                      pickup_generated_date:
                        date: '2021-12-10 12:39:54.034695'
                        timezone_type: 3
                        timezone: Asia/Kolkata
                      data: Pickup is confirmed by Xpressbees 1kg For AWB :- 143254213727423
              schema:
                type: object
                properties:
                  pickup_status:
                    type: integer
                  response:
                    type: object
                    properties:
                      pickup_scheduled_date:
                        type: string
                      pickup_token_number:
                        type: string
                      status:
                        type: integer
                      others:
                        type: string
                      pickup_generated_date:
                        type: object
                        properties:
                          date:
                            type: string
                          timezone_type:
                            type: integer
                          timezone:
                            type: string
                      data:
                        type: string
        '400':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: Invalid shipment id
                    status_code: 400
                Invalid-Data:
                  value:
                    message: Invalid shipment id
                    status_code: 400
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
  /v1/external/courier/track/awb/{awb_code}:
    get:
      summary: Get Tracking through AWB
      description: 'Get the tracking details of your shipment by entering the AWB code of the same in the endpoint URL itself.

        No other body parameters are required to access this API.

        The response is displayed in JSON format.

        Path:'
      operationId: getTrackingThroughAWB
      tags:
      - International
      parameters:
      - name: awb_code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    tracking_data:
                      track_status: 1
                      shipment_status: 7
                      shipment_track:
                      - id: 236612717
                        awb_code: '141123221084922'
                        courier_company_id: 51
                        shipment_id: 236612717
                        order_id: 237157589
                        pickup_date: '2022-07-18 20:28:00'
                        delivered_date: '2022-07-19 11:37:00'
                        weight: '0.30'
                        packages: 1
                        current_status: Delivered
                        delivered_to: Chittoor
                        destination: Chittoor
                        consignee_name: ''
                        origin: Banglore
                        courier_agent_details: null
                        courier_name: Xpressbees Surface
                        edd: null
                        pod: Available
                        pod_status: https://s3-ap-southeast-1.amazonaws.com/kr-shipmultichannel/courier/51/pod/141123221084922.png
                      shipment_track_activities:
                      - date: '2022-07-19 11:37:00'
                        status: DLVD
                        activity: Delivered
                        location: MADANPALLI, Madanapalli, ANDHRA PRADESH
                        sr-status: '7'
                        sr-status-label: DELIVERED
                      - date: '2022-07-19 08:57:00'
                        status: OFD
                        activity: 'Out for Delivery Out for delivery: 383439-Nandinayani Reddy Bhaskara Sitics Logistics  (356231) (383439)-PDS22200085719383439-FromMob , MobileNo:- 9963133564'
                        location: MADANPALLI, Madanapalli, ANDHRA PRADESH
                        sr-status: '17'
                        sr-status-label: OUT FOR DELIVERY
                      - date: '2022-07-19 07:33:00'
                        status: RAD
                        activity: 'Reached at Destination Shipment BagOut From Bag : nxbg03894488'
                        location: MADANPALLI, Madanapalli, ANDHRA PRADESH
                        sr-status: '38'
                        sr-status-label: REACHED AT DESTINATION HUB
                      - date: '2022-07-18 21:02:00'
                        status: IT
                        activity: InTransit Shipment added in Bag nxbg03894488
                        location: BLR/FC1, BANGALORE, KARNATAKA
                        sr-status: '18'
                        sr-status-label: IN TRANSIT
                      - date: '2022-07-18 20:28:00'
                        status: PKD
                        activity: Picked Shipment InScan from Manifest
                        location: BLR/FC1, BANGALORE, KARNATAKA
                        sr-status: '6'
                        sr-status-label: SHIPPED
                      - date: '2022-07-18 13:50:00'
                        status: PUD
                        activity: 'PickDone '
                        location: RTO/CHD, BANGALORE, KARNATAKA
                        sr-status: '42'
                        sr-status-label: PICKED UP
                      - date: '2022-07-18 10:04:00'
                        status: OFP
                        activity: 'Out for Pickup '
                        location: RTO/CHD, BANGALORE, KARNATAKA
                        sr-status: '19'
                        sr-status-label: OUT FOR PICKUP
                      - date: '2022-07-18 09:51:00'
                        status: DRC
                        activity: Pending Manifest Data Received
                        location: RTO/CHD, BANGALORE, KARNATAKA
                        sr-status: NA
                        sr-status-label: NA
                      track_url: https://shiprocket.co//tracking/141123221084922
                      etd: '2022-07-20 19:28:00'
                      qc_response:
                        qc_image: ''
                        qc_failed_reason: ''
                Invalid-Data:
                  value:
                    tracking_data:
                      track_status: 0
                      error: Aahh! There is no activities found in our DB. Please have some patience it will be updated soon.
              schema:
                type: object
                properties:
                  tracking_data:
                    type: object
                    properties:
                      track_status:
                        type: integer
                      shipment_status:
                        type: integer
                      shipment_track:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            awb_code:
                              type: string
                            courier_company_id:
                              type: integer
                            shipment_id:
                              type: integer
                            order_id:
                              type: integer
                            pickup_date:
                              type: string
                            delivered_date:
                              type: string
                            weight:
                              type: string
                            packages:
                              type: integer
                            current_status:
                              type: string
                            delivered_to:
                              type: string
                            destination:
                              type: string
                            consignee_name:
                              type: string
                            origin:
                              type: string
                            courier_agent_details: {}
                            courier_name:
                              type: string
                            edd: {}
                            pod:
                              type: string
                            pod_status:
                              type: string
                      shipment_track_activities:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                            status:
                              type: string
                            activity:
                              type: string
                            location:
                              type: string
                            sr-status:
                              type: string
                            sr-status-label:
                              type: string
                      track_url:
                        type: string
                      etd:
                        type: string
                      qc_response:
                        type: object
                        properties:
                          qc_image:
                            type: string
                          qc_failed_reason:
                            type: string
        '404':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: 404 Not Found
                    status_code: 404
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
  /v1/external/courier/track/shipment/{shipment_id}:
    get:
      summary: Get Tracking through Shipment ID
      description: 'Get the tracking details of your shipment by entering the shipment_id of the same in the endpoint URL.

        No other body parameters are required to access this API.

        The response is displayed in JSON format.

        Path:'
      operationId: getTrackingThroughShipmentID
      tags:
      - International
      parameters:
      - name: shipment_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    tracking_data:
                      track_status: 1
                      shipment_status: 42
                      shipment_track:
                      - id: 185584215
                        awb_code: '1091188857722'
                        courier_company_id: 10
                        shipment_id: 168347943
                        order_id: 168807908
                        pickup_date: null
                        delivered_date: null
                        weight: '0.10'
                        packages: 1
                        current_status: PICKED UP
                        delivered_to: Mumbai
                        destination: Mumbai
                        consignee_name: Musarrat
                        origin: PALWAL
                        courier_agent_details: null
                        edd: '2021-12-27 23:23:18'
                      shipment_track_activities:
                      - date: '2021-12-23 14:23:18'
                        status: X-PPOM
                        activity: In Transit - Shipment picked up
                        location: Palwal_NewColony_D (Haryana)
                        sr-status: '42'
                      - date: '2021-12-23 14:19:37'
                        status: FMPUR-101
                        activity: Manifested - Pickup scheduled
                        location: Palwal_NewColony_D (Haryana)
                        sr-status: NA
                      - date: '2021-12-23 14:19:34'
                        status: X-UCI
                        activity: Manifested - Consignment Manifested
                        location: Palwal_NewColony_D (Haryana)
                        sr-status: '5'
                      track_url: https://shiprocket.co//tracking/1091188857722
                      etd: '2021-12-28 10:19:35'
                Invalid-Data:
                  value:
                    tracking_data:
                      track_status: 0
                      error: Aahh! There is no activities found in our DB. Please have some patience it will be updated soon.
              schema:
                type: object
                properties:
                  tracking_data:
                    type: object
                    properties:
                      track_status:
                        type: integer
                      shipment_status:
                        type: integer
                      shipment_track:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                            awb_code:
                              type: string
                            courier_company_id:
                              type: integer
                            shipment_id:
                              type: integer
                            order_id:
                              type: integer
                            pickup_date: {}
                            delivered_date: {}
                            weight:
                              type: string
                            packages:
                              type: integer
                            current_status:
                              type: string
                            delivered_to:
                              type: string
                            destination:
                              type: string
                            consignee_name:
                              type: string
                            origin:
                              type: string
                            courier_agent_details: {}
                            edd:
                              type: string
                      shipment_track_activities:
                        type: array
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                            status:
                              type: string
                            activity:
                              type: string
                            location:
                              type: string
                            sr-status:
                              type: string
                      track_url:
                        type: string
                      etd:
                        type: string
        '404':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: 404 Not Found
                    status_code: 404
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
  /v1/external/courier/track:
    get:
      summary: Get Tracking Data through Order ID
      description: 'Get the tracking details of your shipment by entering the Order ID of the same in the endpoint URL itself.

        If you have the same order ID in more than one channel, then use the param channel_id.

        The response is displayed in JSON format.

        Parameters:

        Path:'
      operationId: getTrackingDataThroughOrderID
      tags:
      - International
      parameters:
      - name: order_id
        in: query
        schema:
          type: string
        description: The order ID/number of your store.
        required: true
        example: '123'
      - name: channel_id
        in: query
        schema:
          type: integer
        description: Channel ID corresponding to the store
        example: '12345'
      responses:
        '200':
          description: Get Tracking Data through Order iD
          content:
            application/json:
              examples:
                Get-Tracking-Data-through-Order-iD:
                  value:
                  - tracking_data:
                      track_status: 1
                      shipment_status: 42
                      shipment_track:
                      - id: 185584215
                        awb_code: '1091188857722'
                        courier_company_id: 10
                        shipment_id: 168347943
                        order_id: 168807908
                        pickup_date: null
                        delivered_date: null
                        weight: '0.10'
                        packages: 1
                        current_status: PICKED UP
                        delivered_to: Mumbai
                        destination: Mumbai
                        consignee_name: Musarrat
                        origin: PALWAL
                        courier_agent_details: null
                        edd: '2021-12-27 23:23:18'
                      shipment_track_activities:
                      - date: '2021-12-23 14:23:18'
                        status: X-PPOM
                        activity: In Transit - Shipment picked up
                        location: Palwal_NewColony_D (Haryana)
                        sr-status: '42'
                      - date: '2021-12-23 14:19:37'
                        status: FMPUR-101
                        activity: Manifested - Pickup scheduled
                        location: Palwal_NewColony_D (Haryana)
                        sr-status: NA
                      - date: '2021-12-23 14:19:34'
                        status: X-UCI
                        activity: Manifested - Consignment Manifested
                        location: Palwal_NewColony_D (Haryana)
                        sr-status: '5'
                      track_url: https://shiprocket.co//tracking/1091188857722
                      etd: '2021-12-28 10:19:35'
              schema:
                type: array
                items:
                  type: object
                  properties:
                    tracking_data:
                      type: object
                      properties:
                        track_status:
                          type: integer
                        shipment_status:
                          type: integer
                        shipment_track:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              awb_code:
                                type: string
                              courier_company_id:
                                type: integer
                              shipment_id:
                                type: integer
                              order_id:
                                type: integer
                              pickup_date: {}
                              delivered_date: {}
                              weight:
                                type: string
                              packages:
                                type: integer
                              current_status:
                                type: string
                              delivered_to:
                                type: string
                              destination:
                                type: string
                              consignee_name:
                                type: string
                              origin:
                                type: string
                              courier_agent_details: {}
                              edd:
                                type: string
                        shipment_track_activities:
                          type: array
                          items:
                            type: object
                            properties:
                              date:
                                type: string
                              status:
                                type: string
                              activity:
                                type: string
                              location:
                                type: string
                              sr-status:
                                type: string
                        track_url:
                          type: string
                        etd:
                          type: string
  /v1/external/international/orders/track:
    get:
      summary: Tracking
      description: Get the tracking details of your shipments. No other body parameters are required to access this API.
      operationId: tracking
      tags:
      - International
      x-postman-folder: International/Tracking
      responses:
        '200':
          description: Tracking Successful
          content:
            application/json:
              examples:
                Tracking-Successful:
                  value:
                    data:
                    - id: 153210141
                      channel_id: 2252386
                      channel_name: CUSTOM
                      base_channel_code: CS
                      channel_order_id: '7022318826'
                      customer_name: 'Shubham OworldInt '
                      customer_email: shubham.tyagi+1@shiprocket.com
                      customer_phone: '8923309680'
                      customer_address: 223, alaKam, Aramex
                      customer_address_2: ''
                      customer_city: UPTON
                      customer_state: New York
                      customer_pincode: '11973'
                      customer_country: United States
                      customer_latitude: null
                      customer_longitude: null
                      customer_alternate_phone: ''
                      pickup_location: SR International
                      package_instructions: null
                      order_type: 0
                      payment_status: ''
                      total: '1000.00'
                      tax: '0.00'
                      sla: 2 days
                      shipping_method: SR
                      expedited: 0
                      status: DELIVERED
                      status_code: 7
                      awd_etds: null
                      master_status: FULFILLED
                      payment_method: prepaid
                      change_payment_mode: false
                      is_international: 1
                      purpose_of_shipment: 0
                      channel_created_at: 16 Dec 2021, 09:16 AM
                      created_at: 16 Dec 2021, 09:16 AM
                      updated_at: 3 Jan 2022, 09:55 AM
                      pickup_boy_name: ''
                      pickup_boy_contact_no: ''
                      products:
                      - id: 212990291
                        channel_order_product_id: '212990291'
                        name: Tshirt
                        channel_sku: sku300
                        quantity: 1
                        product_id: 84244695
                        available: 1
                        status: UNDEFINED
                        price: '1000.00'
                        product_cost: '1000.00'
                        status_code: 1
                        hsn: ''
                      shipments:
                      - id: 152757127
                        isd_code: ''
                        courier: SR International
                        courier_id: 140
                        shipping_charges: ''
                        weight: '0.45'
                        dimensions: 10x10x10
                        shipped_date: '2021-11-27 23:52:19'
                        pickup_scheduled_date: 27/11/2021
                        pickup_token_number: null
                        awb: '1527571275'
                        return_awb: ''
                        volumetric_weight: 0.2
                        pod: null
                        etd: NA
                        saral_etd: NA
                        rto_delivered_date: '0000-00-00 00:00:00'
                        delivered_date: '2021-12-08 05:40:00'
                        etd_escalation_btn: false
                        rto_initiated_date: '0000-00-00 00:00:00'
                        package_images: ''
                        weight_action: null
                        status: 7
                        pickup_id: ''
                        delivery_executive_name: ''
                        delivery_executive_number: ''
                      cod: 0
                      activities:
                      - ORDER_CREATED
                      - LABEL_GENERATED
                      - LABEL_GENERATED
                      - LABEL_GENERATED
                      - ORDER_DELIVERED
                      allow_return: 0
                      is_incomplete: 0
                      errors: []
                      pickup_exception_reason: ''
                      rto_prediction: ''
                      show_escalation_btn: 0
                      escalation_status: ''
                      pii_removed: 0
                      allow_multiship: true
                      others:
                        weight: 0.45
                        isd_code: '+1'
                        quantity: 1
                        self_ship: false
                        buyer_psid: null
                        dimensions: 10x10x10
                        billing_city: UPTON
                        billing_name: 'Shubham OworldInt  '
                        company_name: ''
                        billing_email: shubham.tyagi+1@shiprocket.com
                        billing_phone: ''
                        billing_state: New York
                        currency_code: INR
                        package_count: 1
                        reseller_name: ''
                        customer_gstin: ''
                        billing_address: 223, alaKam, Aramex
                        billing_country: United States
                        billing_pincode: '11973'
                        billing_isd_code: '+1'
                        shipping_charges: '0'
                        billing_address_2: ''
                        is_order_verified: 0
                        order_verified_at: ''
                        billing_alternate_phone: ''
                      package_list:
                        packages: []
                        selected: false
                        select_item: false
                        all_packages: []
                      pickup_address_detail:
                        id: 1883284
                        pickup_code: SR International
                        gstin: null
                        invoice_prefix: null
                        invoice_serial: null
                        address: 123, tetsing line
                        address_2: ''
                        address_type: null
                        city: East Delhi
                        state: Delhi
                        country: India
                        pin_code: '110032'
                        email: shubham.tyagi@shiprocket.com
                        phone: '8923309680'
                        phone_verified: 1
                        alternate_phone: ''
                        name: Shubham
                        company_id: 2
                        status: 1
                        rto_address_id: 1883284
                        delhivery_clientware_id: null
                        delhivery_surface_clientware_id: Kart Rocket Surface-East Delhi-110032-Shiprocket-2-1883284
                        delhivery_surface_standard_clientware_id: KARTROCKETSMALL SURFACE-East Delhi-110032-Shubham-2-1883284
                        delhivery_surface_lite_clientware_id: KARTROCKETMEDIUM SURFACE-East Delhi-110032-Shiprocket-2-1883284
                        delhivery_surface_10kg_clientware_id: Kart Rocket Surface-East Delhi-110032-Shiprocket-2-1883284
                        delhivery_surface_20kg_clientware_id: Kart Rocket Surface-East Delhi-110032-Shiprocket-2-1883284
                        sx_delhivery_clientware_id: null
                        sx_delhivery_surface_clientware_id: null
                        sx4_delhivery_surface_clientware_id: null
                        sx3_delhivery_surface_clientware_id: null
                        sx2_delhivery_surface_clientware_id: null
                        sx1_delhivery_surface_clientware_id: null
                        created_at: '2021-11-15 11:13:56'
                        updated_at: '2022-05-10 19:15:43'
                        gati_surface_customer_vendor_code: null
                        gati_sg_customer_vendor_code: null
                        delhivery_flash_air_clientware_id: null
                        updated_on: '2022-05-10 13:45:43'
                        lat: ''
                        long: ''
                        delhivery_essential_5kg_clientware_id: null
                        warehouse_code: null
                        gati_surface_10kg_customer_vendor_code: null
                        extra_info: '{"source": 1}'
                        delhivery_documents_clientware_id: null
                        delhivery_documents_250gm_clientware_id: null
                      rto_address: []
                      re_escalate: 0
                      seller_request:
                        show_pod_actions: false
                        can_request_pod: false
                        pod_dispute: ''
                        pod_requested: false
                        status: ''
                        lops_remark: ''
                        status_value: ''
                        can_raise_dispute: false
                      engage: NA
                      total_dead_weight: null
                      total_volumetric_weight: null
                      total_order_value: null
                      boxes: null
                      order_tag: []
                      is_return: 0
                      is_b2b: false
                      is_insurance_opt: false
                      manifest_id: ''
                      manifest_generated: false
                      awb_data:
                        charges:
                          zone: ''
                          cod_charges: ''
                          applied_weight_amount: '1486.00'
                          freight_charges: '1486.00'
                          applied_weight: '0.450'
                          charged_weight: ''
                          charged_weight_amount: ''
                          charged_weight_amount_rto: '0.00'
                          applied_weight_amount_rto: '0.00'
                          billing_amount: ''
                          service_type_id: ''
                      escalation_history: []
                    - id: 153210135
                      channel_id: 2252386
                      channel_name: CUSTOM
                      base_channel_code: CS
                      channel_order_id: '4327343108'
                      customer_name: 'Shubham NARAmex '
                      customer_email: shubham.tyagi+1@shiprocket.com
                      customer_phone: '8923309680'
                      customer_address: 223, alaKam, Aramex
                      customer_address_2: ''
                      customer_city: UPTON
                      customer_state: New York
                      customer_pincode: '11973'
                      customer_country: United States
                      customer_latitude: null
                      customer_longitude: null
                      customer_alternate_phone: ''
                      pickup_location: SR International
                      package_instructions: null
                      order_type: 0
                      payment_status: ''
                      total: '1000.00'
                      tax: '0.00'
                      sla: 2 days
                      shipping_method: SR
                      expedited: 0
                      status: DELIVERED
                      status_code: 7
                      awd_etds: null
                      master_status: FULFILLED
                      payment_method: prepaid
                      change_payment_mode: false
                      is_international: 1
                      purpose_of_shipment: 0
                      channel_created_at: 1 Dec 2021, 10:09 AM
                      created_at: 1 Dec 2021, 10:10 AM
                      updated_at: 3 Jan 2022, 09:48 AM
                      pickup_boy_name: ''
                      pickup_boy_contact_no: ''
                      products:
                      - id: 212990285
                        channel_order_product_id: '212990285'
                        name: Tshirt
                        channel_sku: sku300
                        quantity: 1
                        product_id: 84244695
                        available: 1
                        status: UNDEFINED
                        price: '1000.00'
                        product_cost: '1000.00'
                        status_code: 1
                        hsn: ''
                      shipments:
                      - id: 152757121
                        isd_code: ''
                        courier: SR International
                        courier_id: 140
                        shipping_charges: ''
                        weight: '0.31'
                        dimensions: 11x10x10
                        shipped_date: '2021-11-04 05:25:57'
                        pickup_scheduled_date: 01/12/2021
                        pickup_token_number: 'Pickup confirmation number: L01B2FA, GUID: 02462e3d-b203-46c8-a823-dfa320a43577, Reference: Shipment Pickup - 2021-12-01'
                        awb: '1527571212'
                        return_awb: ''
                        volumetric_weight: 0.22
                        pod: null
                        etd: NA
                        saral_etd: NA
                        rto_delivered_date: '0000-00-00 00:00:00'
                        delivered_date: '2021-11-29 08:07:00'
                        etd_escalation_btn: false
                        rto_initiated_date: '0000-00-00 00:00:00'
                        package_images: ''
                        weight_action: null
                        status: 7
                        pickup_id: ''
                        delivery_executive_name: ''
                        delivery_executive_number: ''
                      cod: 0
                      activities:
                      - ORDER_CREATED
                      - INVOICED
                      - LABEL_GENERATED
                      - PICKUP_QUEUE
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - ORDER_DELIVERED
                      allow_return: 0
                      is_incomplete: 0
                      errors: []
                      pickup_exception_reason: ''
                      rto_prediction: ''
                      show_escalation_btn: 0
                      escalation_status: ''
                      pii_removed: 0
                      allow_multiship: true
                      others:
                        weight: 0.311
                        isd_code: '+1'
                        quantity: 1
                        self_ship: false
                        buyer_psid: null
                        dimensions: 11x10x10
                        billing_city: UPTON
                        billing_name: 'Shubham NARAmex '
                        company_name: ''
                        billing_email: shubham.tyagi+1@shiprocket.com
                        billing_phone: ''
                        billing_state: New York
                        currency_code: INR
                        package_count: 1
                        reseller_name: ''
                        customer_gstin: ''
                        billing_address: 223, alaKam, Aramex
                        billing_country: United States
                        billing_pincode: '11973'
                        billing_isd_code: '+1'
                        shipping_charges: '0'
                        billing_address_2: ''
                        is_order_verified: 0
                        order_verified_at: ''
                        billing_alternate_phone: ''
                      package_list:
                        packages: []
                        selected: false
                        select_item: false
                        all_packages: []
                      pickup_address_detail:
                        id: 1883284
                        pickup_code: SR International
                        gstin: null
                        invoice_prefix: null
                        invoice_serial: null
                        address: 123, tetsing line
                        address_2: ''
                        address_type: null
                        city: East Delhi
                        state: Delhi
                        country: India
                        pin_code: '110032'
                        email: shubham.tyagi@shiprocket.com
                        phone: '8923309680'
                        phone_verified: 1
                        alternate_phone: ''
                        name: Shubham
                        company_id: 2
                        status: 1
                        rto_address_id: 1883284
                        delhivery_clientware_id: null
                        delhivery_surface_clientware_id: Kart Rocket Surface-East Delhi-110032-Shiprocket-2-1883284
                        delhivery_surface_standard_clientware_id: KARTROCKETSMALL SURFACE-East Delhi-110032-Shubham-2-1883284
                        delhivery_surface_lite_clientware_id: KARTROCKETMEDIUM SURFACE-East Delhi-110032-Shiprocket-2-1883284
                        delhivery_surface_10kg_clientware_id: Kart Rocket Surface-East Delhi-110032-Shiprocket-2-1883284
                        delhivery_surface_20kg_clientware_id: Kart Rocket Surface-East Delhi-110032-Shiprocket-2-1883284
                        sx_delhivery_clientware_id: null
                        sx_delhivery_surface_clientware_id: null
                        sx4_delhivery_surface_clientware_id: null
                        sx3_delhivery_surface_clientware_id: null
                        sx2_delhivery_surface_clientware_id: null
                        sx1_delhivery_surface_clientware_id: null
                        created_at: '2021-11-15 11:13:56'
                        updated_at: '2022-05-10 19:15:43'
                        gati_surface_customer_vendor_code: null
                        gati_sg_customer_vendor_code: null
                        delhivery_flash_air_clientware_id: null
                        updated_on: '2022-05-10 13:45:43'
                        lat: ''
                        long: ''
                        delhivery_essential_5kg_clientware_id: null
                        warehouse_code: null
                        gati_surface_10kg_customer_vendor_code: null
                        extra_info: '{"source": 1}'
                        delhivery_documents_clientware_id: null
                        delhivery_documents_250gm_clientware_id: null
                      rto_address: []
                      re_escalate: 0
                      seller_request:
                        show_pod_actions: false
                        can_request_pod: false
                        pod_dispute: ''
                        pod_requested: false
                        status: ''
                        lops_remark: ''
                        status_value: ''
                        can_raise_dispute: false
                      engage: NA
                      total_dead_weight: null
                      total_volumetric_weight: null
                      total_order_value: null
                      boxes: null
                      order_tag: []
                      is_return: 0
                      is_b2b: false
                      is_insurance_opt: false
                      manifest_id: MANIFEST-0032
                      manifest_generated: true
                      awb_data:
                        charges:
                          zone: ''
                          cod_charges: ''
                          applied_weight_amount: '1297.00'
                          freight_charges: '1297.00'
                          applied_weight: '0.310'
                          charged_weight: ''
                          charged_weight_amount: ''
                          charged_weight_amount_rto: '0.00'
                          applied_weight_amount_rto: '0.00'
                          billing_amount: ''
                          service_type_id: ''
                      escalation_history: []
                    - id: 153210130
                      channel_id: 2252386
                      channel_name: CUSTOM
                      base_channel_code: CS
                      channel_order_id: '7850384358'
                      customer_name: 'Shubham NAramex '
                      customer_email: shubham.tyagi+1@shiprocket.com
                      customer_phone: '8923309680'
                      customer_address: 223, alaKam, Aramex
                      customer_address_2: ''
                      customer_city: UPTON
                      customer_state: New York
                      customer_pincode: '11973'
                      customer_country: United States
                      customer_latitude: null
                      customer_longitude: null
                      customer_alternate_phone: ''
                      pickup_location: SR International
                      package_instructions: null
                      order_type: 0
                      payment_status: ''
                      total: '990.00'
                      tax: '0.00'
                      sla: 2 days
                      shipping_method: SR
                      expedited: 0
                      status: DELIVERED
                      status_code: 7
                      awd_etds: null
                      master_status: FULFILLED
                      payment_method: prepaid
                      change_payment_mode: false
                      is_international: 1
                      purpose_of_shipment: 0
                      channel_created_at: 25 Nov 2021, 05:02 AM
                      created_at: 25 Nov 2021, 05:03 AM
                      updated_at: 3 Jan 2022, 09:48 AM
                      pickup_boy_name: ''
                      pickup_boy_contact_no: ''
                      products:
                      - id: 212990280
                        channel_order_product_id: '212990280'
                        name: Tshirt
                        channel_sku: sku300
                        quantity: 1
                        product_id: 84244695
                        available: 1
                        status: UNDEFINED
                        price: '1000.00'
                        product_cost: '1000.00'
                        status_code: 1
                        hsn: ''
                      shipments:
                      - id: 152757115
                        isd_code: ''
                        courier: SR International
                        courier_id: 140
                        shipping_charges: ''
                        weight: '0.301'
                        dimensions: 10x10x10
                        shipped_date: '2021-11-04 05:25:33'
                        pickup_scheduled_date: 01/12/2021
                        pickup_token_number: 'Pickup confirmation number: L018C2A, GUID: 88da068e-fc6e-43ee-86db-2b09f1b1a4a4, Reference: Shipment Pickup - 2021-12-01'
                        awb: '1527571157'
                        return_awb: ''
                        volumetric_weight: 0.2
                        pod: null
                        etd: NA
                        saral_etd: NA
                        rto_delivered_date: '0000-00-00 00:00:00'
                        delivered_date: '2021-11-11 05:16:00'
                        etd_escalation_btn: false
                        rto_initiated_date: '0000-00-00 00:00:00'
                        package_images: ''
                        weight_action: null
                        status: 7
                        pickup_id: ''
                        delivery_executive_name: ''
                        delivery_executive_number: ''
                      cod: 0
                      activities:
                      - ORDER_CREATED
                      - DIMENSIONS_EDITED
                      - INVOICED
                      - LABEL_GENERATED
                      - PICKUP_QUEUE
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      - MANIFEST_SCHEDULED
                      allow_return: 0
                      is_incomplete: 0
                      errors: []
                      pickup_exception_reason: ''
                      rto_prediction: ''
                      show_escalation_btn: 0
                      escalation_status: ''
                      pii_removed: 0
                      allow_multiship: true
                      others:
                        weight: 0.301
                        isd_code: '+1'
                        quantity: 1
                        self_ship: false
                        buyer_psid: null
                        dimensions: 10x10x10
                        billing_city: UPTON
                        billing_name: 'Shubham NAramex '
                        company_name: ''
                        billing_email: shubham.tyagi+1@shiprocket.com
                        billing_phone: ''
                        billing_state: New York
                        currency_code: USD
                        package_count: 1
                        reseller_name: ''
                        customer_gstin: ''
                        billing_address: 223, alaKam, Aramex
                        billing_country: United States
                        billing_pincode: '11973'
                        billing_isd_code: '+1'
                        shipping_charges: '0'
                        billing_address_2: ''
                        is_order_verified: 0
                        order_verified_at: ''
                        billing_alternate_phone: ''
                      package_list:
                        packages: []
                        selected: false
                        select_item: false
                        all_packages: []
                      pickup_address_detail:
                        id: 1883284
                        pickup_code: SR International
                        gstin: null
                        invoice_prefix: null
                        invoice_serial: null
                        address: 123, tetsing line
                        address_2: ''
                        address_type: null
                        city: East Delhi
                        state: Delhi
                        country: India
                        pin_code: '110032'
                        email: shubham.tyagi@shiprocket.com
                        phone: '8923309680'
                        phone_verified: 1
                        alternate_phone: ''
                        name: Shubham
                        company_id: 2
                        status: 1
                        rto_address_id: 1883284
                        delhivery_clientware_id: null
                        delhivery_surface_clientware_id: Kart Rocket Surface-East Delhi-110032-Shiprocket-2-1883284
                        delhivery_surface_standard_clientware_id: KARTROCKETSMALL SURFACE-East Delhi-110032-Shubham-2-1883284
                        delhivery_surface_lite_clientware_id: KARTROCKETMEDIUM SURFACE-East Delhi-110032-Shiprocket-2-1883284
                        delhivery_surface_10kg_clientware_id: Kart Rocket Surface-East Delhi-110032-Shiprocket-2-1883284
                        delhivery_surface_20kg_clientware_id: Kart Rocket Surface-East Delhi-110032-Shiprocket-2-1883284
                        sx_delhivery_clientware_id: null
                        sx_delhivery_surface_clientware_id: null
                        sx4_delhivery_surface_clientware_id: null
                        sx3_delhivery_surface_clientware_id: null
                        sx2_delhivery_surface_clientware_id: null
                        sx1_delhivery_surface_clientware_id: null
                        created_at: '2021-11-15 11:13:56'
                        updated_at: '2022-05-10 19:15:43'
                        gati_surface_customer_vendor_code: null
                        gati_sg_customer_vendor_code: null
                        delhivery_flash_air_clientware_id: null
                        updated_on: '2022-05-10 13:45:43'
                        lat: ''
                        long: ''
                        delhivery_essential_5kg_clientware_id: null
                        warehouse_code: null
                        gati_surface_10kg_customer_vendor_code: null
                        extra_info: '{"source": 1}'
                        delhivery_documents_clientware_id: null
                        delhivery_documents_250gm_clientware_id: null
                      rto_address: []
                      re_escalate: 0
                      seller_request:
                        show_pod_actions: false
                        can_request_pod: false
                        pod_dispute: ''
                        pod_requested: false
                        status: ''
                        lops_remark: ''
                        status_value: ''
                        can_raise_dispute: false
                      engage: NA
                      total_dead_weight: null
                      total_volumetric_weight: null
                      total_order_value: null
                      boxes: null
                      order_tag: []
                      is_return: 0
                      is_b2b: false
                      is_insurance_opt: false
                      manifest_id: MANIFEST-0032
                      manifest_generated: true
                      awb_data:
                        charges:
                          zone: ''
                          cod_charges: ''
                          applied_weight_amount: '1297.00'
                          freight_charges: '1297.00'
                          applied_weight: '0.301'
                          charged_weight: ''
                          charged_weight_amount: ''
                          charged_weight_amount_rto: '0.00'
                          applied_weight_amount_rto: '0.00'
                          billing_amount: ''
                          service_type_id: ''
                      escalation_history: []
                    meta:
                      counts:
                        nofilter_pickup_count: 1
                        awbs: 1
                        nofilter_manifested_count: 1
                        nofilter_readytoship_count: 1
                        shipped: 1
                        total: 1
                        nofilter_processing_count: 1
                        is_first: false
                      pagination:
                        total: 3
                        count: 3
                        per_page: 15
                        current_page: 1
                        total_pages: 1
                        links: {}
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        channel_id:
                          type: integer
                        channel_name:
                          type: string
                        base_channel_code:
                          type: string
                        channel_order_id:
                          type: string
                        customer_name:
                          type: string
                        customer_email:
                          type: string
                        customer_phone:
                          type: string
                        customer_address:
                          type: string
                        customer_address_2:
                          type: string
                        customer_city:
                          type: string
                        customer_state:
                          type: string
                        customer_pincode:
                          type: string
                        customer_country:
                          type: string
                        customer_latitude: {}
                        customer_longitude: {}
                        customer_alternate_phone:
                          type: string
                        pickup_location:
                          type: string
                        package_instructions: {}
                        order_type:
                          type: integer
                        payment_status:
                          type: string
                        total:
                          type: string
                        tax:
                          type: string
                        sla:
                          type: string
                        shipping_method:
                          type: string
                        expedited:
                          type: integer
                        status:
                          type: string
                        status_code:
                          type: integer
                        awd_etds: {}
                        master_status:
                          type: string
                        payment_method:
                          type: string
                        change_payment_mode:
                          type: boolean
                        is_international:
                          type: integer
                        purpose_of_shipment:
                          type: integer
                        channel_created_at:
                          type: string
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        pickup_boy_name:
                          type: string
                        pickup_boy_contact_no:
                          type: string
                        products:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              channel_order_product_id:
                                type: string
                              name:
                                type: string
                              channel_sku:
                                type: string
                              quantity:
                                type: integer
                              product_id:
                                type: integer
                              available:
                                type: integer
                              status:
                                type: string
                              price:
                                type: string
                              product_cost:
                                type: string
                              status_code:
                                type: integer
                              hsn:
                                type: string
                        shipments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              isd_code:
                                type: string
                              courier:
                                type: string
                              courier_id:
                                type: integer
                              shipping_charges:
                                type: string
                              weight:
                                type: string
                              dimensions:
                                type: string
                              shipped_date:
                                type: string
                              pickup_scheduled_date:
                                type: string
                              pickup_token_number: {}
                              awb:
                                type: string
                              return_awb:
                                type: string
                              volumetric_weight:
                                type: number
                              pod: {}
                              etd:
                                type: string
                              saral_etd:
                                type: string
                              rto_delivered_date:
                                type: string
                              delivered_date:
                                type: string
                              etd_escalation_btn:
                                type: boolean
                              rto_initiated_date:
                                type: string
                              package_images:
                                type: string
                              weight_action: {}
                              status:
                                type: integer
                              pickup_id:
                                type: string
                              delivery_executive_name:
                                type: string
                              delivery_executive_number:
                                type: string
                        cod:
                          type: integer
                        activities:
                          type: array
                          items:
                            type: string
                        allow_return:
                          type: integer
                        is_incomplete:
                          type: integer
                        errors:
                          type: array
                          items: {}
                        pickup_exception_reason:
                          type: string
                        rto_prediction:
                          type: string
                        show_escalation_btn:
                          type: integer
                        escalation_status:
                          type: string
                        pii_removed:
                          type: integer
                        allow_multiship:
                          type: boolean
                        others:
                          type: object
                          properties:
                            weight:
                              type: number
                            isd_code:
                              type: string
                            quantity:
                              type: integer
                            self_ship:
                              type: boolean
                            buyer_psid: {}
                            dimensions:
                              type: string
                            billing_city:
                              type: string
                            billing_name:
                              type: string
                            company_name:
                              type: string
                            billing_email:
                              type: string
                            billing_phone:
                              type: string
                            billing_state:
                              type: string
                            currency_code:
                              type: string
                            package_count:
                              type: integer
                            reseller_name:
                              type: string
                            customer_gstin:
                              type: string
                            billing_address:
                              type: string
                            billing_country:
                              type: string
                            billing_pincode:
                              type: string
                            billing_isd_code:
                              type: string
                            shipping_charges:
                              type: string
                            billing_address_2:
                              type: string
                            is_order_verified:
                              type: integer
                            order_verified_at:
                              type: string
                            billing_alternate_phone:
                              type: string
                        package_list:
                          type: object
                          properties:
                            packages:
                              type: array
                              items: {}
                            selected:
                              type: boolean
                            select_item:
                              type: boolean
                            all_packages:
                              type: array
                              items: {}
                        pickup_address_detail:
                          type: object
                          properties:
                            id:
                              type: integer
                            pickup_code:
                              type: string
                            gstin: {}
                            invoice_prefix: {}
                            invoice_serial: {}
                            address:
                              type: string
                            address_2:
                              type: string
                            address_type: {}
                            city:
                              type: string
                            state:
                              type: string
                            country:
                              type: string
                            pin_code:
                              type: string
                            email:
                              type: string
                            phone:
                              type: string
                            phone_verified:
                              type: integer
                            alternate_phone:
                              type: string
                            name:
                              type: string
                            company_id:
                              type: integer
                            status:
                              type: integer
                            rto_address_id:
                              type: integer
                            delhivery_clientware_id: {}
                            delhivery_surface_clientware_id:
                              type: string
                            delhivery_surface_standard_clientware_id:
                              type: string
                            delhivery_surface_lite_clientware_id:
                              type: string
                            delhivery_surface_10kg_clientware_id:
                              type: string
                            delhivery_surface_20kg_clientware_id:
                              type: string
                            sx_delhivery_clientware_id: {}
                            sx_delhivery_surface_clientware_id: {}
                            sx4_delhivery_surface_clientware_id: {}
                            sx3_delhivery_surface_clientware_id: {}
                            sx2_delhivery_surface_clientware_id: {}
                            sx1_delhivery_surface_clientware_id: {}
                            created_at:
                              type: string
                            updated_at:
                              type: string
                            gati_surface_customer_vendor_code: {}
                            gati_sg_customer_vendor_code: {}
                            delhivery_flash_air_clientware_id: {}
                            updated_on:
                              type: string
                            lat:
                              type: string
                            long:
                              type: string
                            delhivery_essential_5kg_clientware_id: {}
                            warehouse_code: {}
                            gati_surface_10kg_customer_vendor_code: {}
                            extra_info:
                              type: string
                            delhivery_documents_clientware_id: {}
                            delhivery_documents_250gm_clientware_id: {}
                        rto_address:
                          type: array
                          items: {}
                        re_escalate:
                          type: integer
                        seller_request:
                          type: object
                          properties:
                            show_pod_actions:
                              type: boolean
                            can_request_pod:
                              type: boolean
                            pod_dispute:
                              type: string
                            pod_requested:
                              type: boolean
                            status:
                              type: string
                            lops_remark:
                              type: string
                            status_value:
                              type: string
                            can_raise_dispute:
                              type: boolean
                        engage:
                          type: string
                        total_dead_weight: {}
                        total_volumetric_weight: {}
                        total_order_value: {}
                        boxes: {}
                        order_tag:
                          type: array
                          items: {}
                        is_return:
                          type: integer
                        is_b2b:
                          type: boolean
                        is_insurance_opt:
                          type: boolean
                        manifest_id:
                          type: string
                        manifest_generated:
                          type: boolean
                        awb_data:
                          type: object
                          properties:
                            charges:
                              type: object
                              properties:
                                zone:
                                  type: string
                                cod_charges:
                                  type: string
                                applied_weight_amount:
                                  type: string
                                freight_charges:
                                  type: string
                                applied_weight:
                                  type: string
                                charged_weight:
                                  type: string
                                charged_weight_amount:
                                  type: string
                                charged_weight_amount_rto:
                                  type: string
                                applied_weight_amount_rto:
                                  type: string
                                billing_amount:
                                  type: string
                                service_type_id:
                                  type: string
                        escalation_history:
                          type: array
                          items: {}
                  meta:
                    type: object
                    properties:
                      counts:
                        type: object
                        properties:
                          nofilter_pickup_count:
                            type: integer
                          awbs:
                            type: integer
                          nofilter_manifested_count:
                            type: integer
                          nofilter_readytoship_count:
                            type: integer
                          shipped:
                            type: integer
                          total:
                            type: integer
                          nofilter_processing_count:
                            type: integer
                          is_first:
                            type: boolean
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                          count:
                            type: integer
                          per_page:
                            type: integer
                          current_page:
                            type: integer
                          total_pages:
                            type: integer
                          links:
                            type: object
                            properties: {}
  /v1/external/international/settings/international_kyc:
    post:
      summary: International KYC
      description: Use this API for your international KYC. This API return your KYC status. Please check the documentation for the documents for KYC.
      operationId: internationalKYC
      tags:
      - International
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                organization_type:
                  type: string
                  description: Seller organization
                ip_address:
                  type: integer
                  description: Seller's ip_address
                documents:
                  type: array
                  items:
                    type: object
                    properties:
                      attachment:
                        type: array
                        items:
                          type: object
                          properties:
                            file:
                              type: string
                            extension:
                              type: string
                      document_name:
                        type: string
                      document_value:
                        type: string
                  description: Documentaion for organization type (document size is not greater than 3 MB)
            example:
              organization_type: Sole Proprietor
              ip_address: 35.207.230.249
              documents:
              - attachment:
                - file: /9j/4AAQSkZJRgABAQAAAQABAAD//gA8Q1JFQVRPUjogZ2QtanBlZyB2MS4wICh1c2luZyBJSkcgSlBFRyB2NjIpLCBxdWFsaXR5ID0gMTAwCv/bAEMAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAf/bAEMBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAf/AABEIAZABkAMBIgACEQEDEQH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAAAX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4OTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQADAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/AP7elnBIIx3P+HPIz+f4VKswz7D8evr1PPX6+w55tbof3jjjHfqOPxB6Zxn69Z1uuvJzz0x0/HOOc57Ywe4Ffmamuv8AX9a+nmegdCsgPXn3/wAR9M/l+NPDg/5H+P6deDWELnp82O3foQPrjIzgfU1KtyMZz9Dntz7jGev59c1aaf8AXXt6gbQbHIPTsD19Oh79qmDjjBwfxGPxrFFz0ORwe359Bjrwc9ffJqYXA45x+uemMdR6fp04pgbcd1MnKTOuP9sjp9T07/5NXo9Xv4uk7MP9r5v55/yTXNLcDgbvz/L19zxnIxjvzJ5wPGcZxnr1wDz2/E56g/WlKStaTXo9ttvuQHWxeJ7tQA6ow9cFT/46cdx6Vfj8VI2PNt/rtIxj0+YZ9a4USgnH4dew6fXp/XnNKHBH/wCrHt36fnitPb1EklNvvez1028tLf5i5Y9l+X5Hoqa3pMwxJGFzxkp9O4yf89KmWTRp+UlQMewbB9O5x9OM8c15ruX1/wA/1/DP8qUP6N+HI/z9aft5N+9GEvVWfTqvT+loLlXRtfP0737Hpn9nWkmTFOOfdW/9B/Tnj0qJtIl/5Zyo2PU8n88/rXny3EyYKSuO4wxH8qux6tqEWNtzJgdicj/x7NP2tN707d+WTXbo9O/rpruFpfzfev6/rz1OsfTrtedgYdyMevpnP44P0FVmgnTO6Jx/wE/iemMD1yay4vEmoR/eKOPQjnP1GK0I/FTcCW3B9Spz+W7P+fWmpUX9qcfWPNbbtbzD3uyfo2v0/r8wgjqCPqMUlXU8RabL/roSM9corfj2x+Wf51ZW60Sf+NEJA7spHt6Dv1qlGD2qw+d466d15/1rYu+sX8rMyaK2/sWnzcxXAz14YMPw5yPwNRtpBP3Jwc9M5X8MZP8AKj2c+iT9Gn2879UHMuunqjIorQfS7pc7QG9MFfXryR29/wBarNa3KE7oWxkcgE/yB5zUuMlvFr1TQ009miCilKSL1jYevB6Zx1x37dP5ZMN3Uj8P89eo/pSGJRShJCcBO+OMt/L/AB470yZlt42luHWGNBuZ3YIMD65Iz+v6UAOrzz4geOrLwjpkhDrNqdwjJZWisCzSEYEkgGSsSE5JPXsDxnkPH3xm0TwzE1rp8q3epSAxRAEEK5yAzDngHByR05I9Pla51vUPEmpTahqU8k80rcFiSqLk4SNeiqvQYxk89evLWxEY+5B3m76rVR83+m4G1by3OoXdzf3chmu7yVp7iUnl3k5wM8hVGEQfwqAOwrQI2LISMHcPyVOg9PxH16EUunWxC9Oo79x1xnnH65AGam1BPLjOO4z35zkdBgdu/HX155Evdbe+u/Z6f52A8d8ZzEW03skgyT2YZ9c/jyPXgV+bnx31LyrG9O4DCsDnGTx+BwMdsjHFfoX48uRHbz4+UBGIJBHHQ5x6dD0IAr8o/wBpbXhZaXfNvAJWXoQcDnqSeeMkYzxwAOa556yS+Xzf9ID8Ov2o9cEl7PGrkkmXIyedhx3x1yevAAJ57/kn8QtQy85Dd3PXI79/YnjoBnBFfen7QHiVr7WbseZkKJuc9MyHtkAjIJz6447V+a3j+/JeUgnDbue+M8gA5yB19DjqK+iy6kkoX8m+j6L8ev37kTelu/6f1/XT5y8W3gAl+bGS5254756EdMDj+pr5f0/Rbj4gfFLw14U05WuZdW1zTtNCqXk5uLpDclV3cKsYOVTaCQT1JNe6eM74JFO5faER2JPBAAJODkAc/MAT9OuK9+/4JFfA25/aC/bk+G2lyWhvLPTNbg1e7+Xcq7bgEMygFVAiSUEsQOQSD2+mdVYbC4jESsvZUpyWv2uX3Vbdtu1u6ZztOU4x80vvtfqf6iX/AAR6+BFt8Ef2Rvh9oyWi21z/AMI1pstwPL8tjNc26zzbsjcSNsY55HToBX6nnliT1wB3/wA5OOfpXC/BbwvB4T+H2jaDbxCJLLS7SAIoAC+XbIu0AYHy7cdMjGK7ojDN+H8z2/yPSvkKMWqUHJ3lK85N7uUvebfnd7fPqdd/w09LJWXTpYKKKK0AKKKKACiiigAooooAKKKKACiiigD57W9HGGGAOnHPTtzjOeR1646czre8KAT0xnOe+OntwQOc4+tcMmoE4OfrjngjA9yMcckc9etWF1Ag9TnHcYIz2578cY6DJ9K8znXmB3K3mccjP1wOp+hB5/nxzkWEuxgZbsOvHbjoScc/UDuea4lL4ccjjkZJ9OPfB7envjJtLfAj72OpxyecdBjqD16e30tNdH9zA7NLsEjn15HU8D8exHHrknrU63eepPHuec8AevTPHPHT0PHLe5XOeufpnHPGe3I/MDrk2Pto4BbpyeSOwxhs8gZ4PvjriqU5Lz9QOwW6zznrnv17Z6+mD04Hp2lF1znI98sMj1PUHPr9fy5FLz/aI4OcHkge/rnHA9QeoGLK3mAfxHX3A5Jz1wM9wOverU110/pf18vkB1Iue+eM4wPwGfQ9Rk8kfhUguR7fn6cH059u/PpXMC8yCTnoRgEEc46f5GR06Gphdg8Z9Tz3HB7cHPX8OtPnX5f18uoHTC47A4OBwcn+vHb2561Is/Q5/wASRj1zzyPYnqM5Fc4t1zyR059+fQHk8dB6cmphdYOc4z0J7frnvkjHU54pc6/4df1v/wAOgOiE/qeo557jPrz2H6Y64p6y/UfkcY/+vngZrnxc84zz165OST6H69+vA68zLcHPJ4H4HGfXpznHQewGBTUla70/Ht29UBuCX36dj6D6fl/9fFP8znsQOvqfr1x/kVjrcevX3J9cZPHfHX06dM1Ks3Q5+o457gH9D0x0zRzR7/16vQDV3j0P+f6/5zQHH0//AF/h9eM1niX05z345x+fc4PJ/pUglHr3wc9MZOOwwSP07ccO6/P8N9v67aAaCTMp+R2U+xI/H/6/YdcVbi1G8j/1dzIB/vE/5z3rHEgOSf8A9Xrn+ZzyPfOA4OOByM9uwP8Anv8AnimpPo2uu9vy3tfdaa7gdNH4h1GPGZA+P7wyT+PWrg8WXCjEkKN64Yj+fHp1/wAK48P0wev/ANbj9Bx24HemO4IPOT+f6n296tVai2m+6u2+1vlsKy7L7kdfJ41RAd1qO/fP5Z/r09jWTdfEOGBW2WnQdtv55AI//XXI3JBB6ce3fkjr/XI7da5a+wSe2M/lyDnHTH5/0zeIqv7X4Jvpu2tdvuuCil0Rs618Vr5EYW0Aj4IByCOvHQZ9vxwK+afiB8UPFN1FNCl48EbBxiNmyA3XblvlOO/45Fdzq4AD468jPvkduv1wcHqMYxXhnjFBscjsGBPbvyeuOnbp3riq1qslrOW/R26eVuyNIJO99fK39L9Tyq2uLm7vjcXM0k8plEjPKxYsQck5Pr6jHTv0r2bR0SNU4yTjJPvx1xnPsPXrnp4dazql2R0wxwDj14x9TwOeefpXsmiXSyxoQwPC9ieOnHoDj8D9Oeelbvd239HZ/oE9/l/Xz2/A9PsOY14HPpxxk5B59eAP1qrrOfJY44BJ6+h+uck/y7d5tPfKKOQCAfpx1wPwPTBGenWq2tnNs5J5HJwR2HfA9Oh5xjnHIHY3eF99Px/4D+4g+ZPiTciO0uCWAJjk65z1IzyOvqM8D3Nfit+1t4hWLR9RXeR8soBBxzk9ck44PXqfWv2I+LF1ssLkbiCI5O45BB4HHoMnjuOa/n3/AGzvFBittQt1kAOZlIJzyM5Jz97kkYGeRlRnJrlS5qqXeUfu0A/Ej4tas1xf3zk5O+QD1wCw4/nxxnrgZz8HeOr0l5fmJxvORg9uQScY654x04I5r6v+JGoEzXLbs7nfn6gnvzzx1zz6nr8SeNrzLyndkjd6DnBxwM4POOpB74xX12Ah8OmyX3+67db2/OxlN627fr/SPmL4m6ikVhdIzkGf90iDJ3s3BzgYAGd3UYIHriv6o/8Ag1B/ZlbxR8TPFfxk1Ow8y2sZltbCeSLIAiwpKORxkxydD/GPWv5IviPdSXup2enQO0kk0gxCpJzI8nlRArnl2ZiAMemMZr/T8/4Ntf2ZY/gv+xx4R1i6sBban4ot49Tnd4wkjidUkyWZQxyfmB/2s9xXVnVTkwNHDp64qtBNX1dOFpS+V1FPffroRR96pKX8quu+tkvn8/8AI/po0KJbaJIgAF2qAOMcKB/Ltx6UXsDQzHuuSQeSCpJPXqfy6jGec1NGCm3bwQepA6jPQ9enX6fStIeXfQ+WxAlTOCfXkcg+oGPwrx6cVJcm0lrG7tzbJxv3srrzVups3Zt200T/AAs++l7P5HOUVPcW0tuxBUkdehwfZT7/AI+4HNQVDTTaas1o0ygooopAFFFFABRRRQAUUUUAFFFFAHwhHqI+U5PPUZXGc+55OcDp2/EW11AE8k9sH0OTzxj1YH2zx6+aRaoDxu9MZOAemRnOCeAO5rQTUiRndjHqcgEjHPHbsR68V4ntF1T/AD/yNnFP+vT/ACPRF1A4BDAe2fXkcgD6A5H1PBq4l+OMtjp3PHQ898//AFs+tecpqPvzn/vknBH06Z6Zxxnrm2uo55yM8c7s9T+uOeCcY7VSkns/8yHBbJ/f8tOmuunfbQ9GTUMYJYjBzkY5weD3PHB4zjvzVpdQ4C+4OeSDkH39cd+4HOK86j1M+vXIyTnoB6egORycelXU1HsG9B169R2xnHH145He1Nrz9SWmt1/X9Nfeehx35zjPTHOcYxx0POOf05HIqyt8Dxv9M4IzwMZPX6+uDzjIrz6PUcDOec4x6nOTxjuevJODjPWrkeoDJG7OR0GASTnBHJHA7AZ6497U11uv6/r+tBHeLegAdMdOoIyePTI7f5xmyl73zjI6dB0J6Y5wOenHfIrg11AkD5sgcdeck4xjHGO5A5Bz163UvuRlieCc5HGDn1P0xnj6cU+aPf8Ar+vu62A7hLwDqTjBxzwcgep4Pv0HUYzmraXeMEHrkdfTI5yCOMcZ4P4iuJW8PY8DqM9859cZ4xn9M81bW9OOW6DA5PQn3Gcccgjvk4qgOzW76c49Bnr3+nTp1HPPWrCXQPIPrnqOBk9h69eo6Y9+OS8GBnHYngc+3T6Yx9Mg5q3Heg46YwAOT1PHJz156D14HFH9f5AdctwPX8SPpn8OehzxwM9KnE/T5uPcgkdTjkfzrlUvM8ZwCecMc+h6/wA8DBHJJyatpdA8kn0z2Ht7eoHse9AHSi4GMZOCM8nkkjPB/A5x1zx6VKLkcnPX3x7889TyAOfU45zza3YA+9wOpzx2H59MD35Po/7ao4B9uRjvnoT6H8x14FAHTC5HTPA9v07fj+GD1w8XS5GT7cn8z265PTPTNcr9t6c9uvJHUnnP49M8DpjNOF8T36fiRkZGBzwPr0Hbind7Xdu3QDq/tQ6k+npj8enp798Z5oN0vJ3HGOT26+2T+OPauW+24xzkA56dSenp+PHX0ycv+145B6g8Zx0Hv6DkdwT6UXf6fl/l/V2Bq3E4IOO+eOvJyR2/p/M1y99OMNkj8OM8H17dOpPoPSpp7sYbkgZ7EcHp/PpzjjBPTPM312oBycccHjpnHTHByB+nOKiUkk1fXy6f5f16gc9q9x8r5PBznGcHIzkjPbr06dO1eIeLpAYZDyeG657A9OMj8f1xz6hq13gP1x0PfqM9BjgZxnn0BHFeL+KLotBIc87T1Jz3JB5J4IHI68+q1yzey+b/AK/r8jWCsvXz/Tv39PU8ce62XuA2Pmyc4zxjr1yCPXn9K9j8LXQMMW49Mglj1IbH3vTGOf7ueea+d726K3hKkDEgBA7HqTwevzE47Z4GBXrvhS+/cIWZQQcnHUgBTgjkdznrkjqaypPVX7v8Vp+IqnT5/ofRFjOpCEY6YI6dT69/19eBSaw4NrJyMbGx6ghSf0OfxHGc1zuk3itt54A6ehwBzgY69sAccela2qyD7KwJ/gOSACPUH155498Y5ArsT91rt+T/AKZmfGvxjudljeEngQSd8kkA9O5ySMj268HH8yv7aviJhq2o2+/5dzDGR/E/J6gHgEcdc+1f0lfHG58rTtQ5IxG54JGBtb6DPHPGe2c1/Kn+2frBl8W6lFvPEkqkDGBtZsdDgHB4z29KWHXNiEv60aT0+8D8t/iHf5MxLnPzHaSAcnOBjPXg4J7c4NfF3jS84nYEEsWHJP1BzxjpkfX3r6f+IV8SbjnH3uvA6c5yevTkZ5yQMCvi74g6kttZ3srHIiidiQeR8p29OcZI5z8vr1r7PAw0jbrovJXT/R/JGE3rJ7+nlp/wTmP2dvh/efG39qP4a+BLOBro6v4y0q2kiVd3+j210jykgZypdQM8ggjJPf8A2UP2LPhjZfCn4F/D7wfZ2yWyaP4c0q1aNEC4dLSIOCABg5ABJ/A9TX+ZP/wbifs6v8av23bLxjfWQutK8CRLfyu8XmKt0zeaMsQQrf6rac5JyMen+rD4OtVsdItLdFCCOFEUDAwAMY24+g4OQR6V5+cVfa5jCin7uFoRjbp7Sp70ui1UVBb/AIaFUVaF+spN/JJJfjf108jvy42DrxyCPoAMd+eOuMH8qrJK6yKyNgk474OOfyycH8/pA85A5OM+4xn6dBn6H86SNwSGPODxk5AJ79Rj1PuDkZriv/n5mp0CXsM6lLgDJwMnO049O4JPr78gnNRy6XHIN0Djk525yPXr168cj05xWKzEknP5cZ6/4+uPTPWkW7mhzsdl7kHkfljHp049OOa1dfmSjVippLSe00lyrWSV5W0SUr6dSeWzuna+63XTp02LMljcxHlCw9VGfx46D6jNVSGU4ZSPX0B9PX9P61bTXpUGJED8c9if5jn39+amGvafJgTxbTjBygbt6jtx/hU/uX8NRrynH06rTrvYLyW6T16P06P+vzM2itdbnRZzgSRqf97afpz2qX7DYzDMc4PsGVuvTOOfp+I+goN/DKEvSS8u9u4c3dNfJmHRWw2kH/lnMpzjG4Y/TJ/Qc1WbTLteihxznBHr24BNDpzX2X8lf8v6+5gpRezRQoqw9rcofmhfHcgEj9AR+eKgKsucq3HbBz+tRZrdWKEopCQOv8j396WgD8jYdSHdsjjPJxnORySMZHPPBOT0ODrRaluAG/kY7n5hxx6E4GeCPTHSvHLLVJNpilY+bFlCxP3gOFdiMYJUAHgjcGA46bsGqDgFsA446YOMHJzznjHr+deBUTpVJU5+7OEnGS811v2a1T7M3TUkmrNPVdf6aPUF1Ag4DHr8pGeD6Z5yD3BAxz0q3HqeAMk8HoepOBgDkenQE889+fOE1PjO8DouevXjpnqOBng44zjk2E1Md26ZBwwOSTyQOOO3ToeCD0XoM9Mi1NTjDAenqeMnjjBHPTqO1XE1HI++OTnJPPA5B79SMnpjnjJrzNNR5Xk54IA4JwR0/MAfe5PbINXI9TPUMOOvzHnJzzjjnpg4PHU5Aq1NrfUTs/w8uq7/ACuv1PS01EqeW9AMjGMcZPIPcdeOeKvx6kD/ABE4I6446A/UY7jpnmvM4tVORlhg9TncAOeOuOuASPf1FXo9SHQP19CeAOcZ659c4xk4JyKaqLqvuJcFb5rt1snsvmelR3+cfN+Z9AB0/Pp37dauw6gBkFuRjBPvjuRjOen48V5xFqJxnOQQT1PHIxgn05BXv0B6VpRX4KgZwScgdyPU9c9hjHU8cYp88fNfL/K4ci/FafPXbXZ2/PuejxahnGW3fU9e/f8AoR9ADV2O/wA9COc45Jxnntg+v97A+or4C+Pn7fH7Lf7Mvn2nxW+LGh2fiOJC48EaB5/ijxo7bQ8cU3h/REvLnSRMMGG411tLsnGT9pHJr8mfib/wcMeD7Ce4s/g5+z94h8RRAskGt/EXxVYeGF+U/K7aB4esvEs00bj5gra/ZuFIDKrEgfs3Av0fvGTxHoUcZwjwBnuOy6ulKhm2MpUclymvB/8ALzDZnnVbL8Hi4Jat4StXd9EnJpPzMVmmW4NuOIxlKE4/FTi3VqJ9nGmpSj5KSXrsf04x3o6Z6noCcemPw4OODwMetXo7zO35h0B6YAAyehOT06Z6gnrzX8YXiD/g4C/bB1CWT/hH/AHwK8N2xY+Up8OeMNYvEX+EPc3njiO2kYDAJWxiBx90dK5BP+C9H7dqSeYf+FOOCcmN/h/dCPt8u6PxIkuByAQ4PXnpX7dQ+gX9IKtSVSpgeFcLJxT9jX4lpSqq9vdbwuFxFG/e1Vrrd7nlvijKU7KdaXmqWn/k0k/vS+Z/bul2Tg5/LjuT3OOhI7ZyOgq2t5joeT0HYdO/sewyepzjOP4vvD3/AAcJftf6ayLr3w2+AviKBSN/l6D420a6dQRkLNbeO57ZGIyMmxdR2XjB+m/BP/BxzITDB8SP2YNqkqJ9S8E/EcErzh2h0XXfC2GJH3Vk19BnALH7w8DN/oS/SMymE6lLg7CZvTgryeUcR5FVk0raxo4zH4LEVH2jClKb2UWa0+JMoqOzxLpv/p5Sqpau28IzS+bP6p2vwFwDjPYY645GeQQcHt16cU06h7joBgNzj1x29u+emK/CTwN/wXw/Yn8VeTF4ot/i38N532efL4i8F2us6dExA3bLjwdrXiC9kjXszaZEx6+WDwfsnwJ/wUs/Yc+IxiHhv9pr4YQTXG1YrbxTrMvgO8ZmwBGbbxzbeHpvMyQNgQsTwBkivxrP/Bnxc4X53n3hvxtl1KnfnxVTh3NKuCVt7Y/D4etg5LzjXaa1Wh6VLH4Gvb2WMw023ayrQUun2G1Lr29T9ERqGOQT0wOvrnr3wOfQ8gjGML/aB4Oe+Rkn0z1+hOP6Y48j8PfEDwn4ttE1Dwn4p8PeKLFgrLeeHtb03WbRg3KstxptzcxEEcL+8wVGc+nQ/wBogck8ngkf4jB6dD29fX81qQqUpyp1oTpVINxnTqRlCcJbOMoySlF9GmkztUW7NWaaummmvz281fod9/aBznjqO+DjPc7hggdO2T+Un9oe/pjB+hx6dMerEcVwI1HvnGAc8+3I5HuB+uPR/wDaQ6luTgEfQ9evQkgD1wM8Cp5n3f3hyy7f1p/n08+x2Nxfnb1HYHp1/IYByRj2zjrXM31+MEF/4TnOPToOnTH3sLn14rNm1EYzuyeO+OSMcgdQSBkEeg69ecvtQHOWHIJIzkE43Y9zjtx1OetTKVtXv+ZUYdX089b/ANdvIravfcOdwAweBwOck8EenHHXAzjBB8f8RXoaOXBA+916jB6cZz7dsZ5wTXV6tqAw3J4zj5vUH7uMg9Rwc89uDXkOvX3yv83UHJ/A8+/H3vUHjqK5py0be7/r8EaHlupXIW+bJ/5aevGQxA7dASOeM89DXpfhK/3Aru6YGSR0JI5GO5IyB06HnivCNcvPLumbcQNxPf7uRgEHkEevTv1xjs/Berhn25GTt5zyfmA6eoGTjp2H94zTe6+d/wCvw+ZnNbPtf9D670K4DLGCxz1xkHpnnrkAnJxxjbk11Goyk2rkH+DAGAe2eqjjGOwHH458u8PXykISzElSOegAJycH6r7fXmu5nufMs3UYJ2Mc/UcYHOABjk9cfjXWndJ9zM+Iv2gZvK0vUzkj9xNjHHVehOemO5Jx2x1r+Rn9rTV/tHjjX1L5aOeZBjJxhmA46Hrkdsema/rS/aRk8rRNWcbsfZpTk45IRsA84Pr64we3H8df7UN+T458SMWzm7m79QCeSOMjgAEAn/ZHFdGBV8RLuk7f+BLT5hsfnb4/vdzzDOSGIAYYwRkDAwevy4OfyBr4Y+L2phLM2ynLXM+zG7Hyo29yRnJBBwfckHtX1347vd0k2XxtDnkZGckgg9QCccdT9Aa+KPElhd+NfiF4Z8H2EbTXOq6rp+nRRxgs7T6neRwAADnIRgcE8A88V9zgYqKUmrKK55dLJJPy0VuvU5J7W7v+v0P7tP8Ag1S/ZqHhL4Ha78ZNUsPLv/GuqKlncSx4drSJt+UYgHbt8tTz0HUEcf2zaXIIrdFBwFAHscA59AOSfT2r8ef+CU/wNtPgN+yl8H/A8FmtnPp/hPS7i+QKFc3l5bRzyluh3AttJOTwc1+t0F1tiHPOOeSOcdTyOhyenfI56/HyrOviMRiHvWqynG/8jdor0UUl/SOqKskuyS08lv8APc6SS5BPJ7+/YDP8xngc1LHNwOR09jxz1xz34PfIzXK/bAz5zkZIznjOfQeowOvYdMZq2l2MYJOM9Rx+ZHPp6n1HTBzXd7633v10/wA1t6DOk88YGeB34P8AnjJ7469M8sabtn19AD+fPH9PxrBF3wOcnt6Drx+ec5/IcYQ3nB5xg+vTPr6Z+mOAPTD5m1vpp6dLfoBqSTA/y46+vTPQ+/r2rPlkBPb1456Dp6dPzzVJ7wcgH07gDP0PJzwTgcfjVU3OSTn26H0/Q9PXr+c8y7r+v6/PswNMMPXH6VIszp92Rlz6MR/X3/WsoTjOd3QDv+Gcc9+vOfxPDxOOACO3Q9sfyPIJPTPPrRdPqv6/4cDdj1O9i4S5kGOxYn8x/KtCLxFqMfV1ft8yjP8AL/PrXKibkYPOP6ZJAPX9c9c5p4lx/F9OOg/X/EZxgc1anKO0pLyTa2t0+78AaT3SfqdvF4qlHEsCsD1IJ/QHP45z9avJ4lsZQBNCw9cqGHJ6dBx9R1rz3zeg4z9D6Z/WnCQHHuM8f/Xx07+9Wq9Vfauu0kmieWO9vuuvyPSRf6LOeSiE+oKEZ47Y/n/Spha6bNzHcL6jDqf89evB615kHU5/rUglZeVcj6E+3p+FV7f+anB9rJq23Z+v3hy/3pdOt/6/r0PxGu3Ku7p94Mx7ksuckY6ZHBHr0zyajg1POBv79M9c5yPY567u464qneXIR855zjnAzk4OOeflI9DnHvXMX101rKrAnypcMuMABhyQe3JBOMcgkAcHLz/L3TaxUI6aRqW7acsnbs3Zvs10iOhPVwfW7Xqt1+H4Pqz0yPUywyWweMH0yAOxPfH4ZwACasrqRyvzg9jjAzxnocnAbocg+p6CvL4NVPyncNrEHBPPHTPIPPX34xnINaH9p54DewGcY6fnk/lz9R8um1sdJ6XHqh4wwGCRjrnC8dM/eOfx644q7Hqvy5Lk4z35BByOB3xn8+wArypNTxxuHYnuOR7jI9ec5z044spqvYsc+oPUDA7jGCM4GBzgnpg1zy/pf1/T9APWU1QZ+99ADyFyDzg9dp+uO2M1ow6kcD5sc4z0Hb14Bzj2567q8li1c9GbngZzyAOMc9cqQGK9QO+auTeIbSxs7m/vrqG0srO3mu7y7upkhtrW2t4mlubq4mlKRwwQxo0s0ruqRxozMyqrEaRbnKMIwlKcpKMIRTlKUpNKMYpK7lJtJJJtuyV2G253fiz4jeFvh34X1rxp431/TvDPhTw7Yy6jrOtatci2srG0h6s7ncXmlZlgt7eFJbm7uZYra1hmuJI42/mK/bX/AOCw/wATvixd6t8P/wBnG+1X4YfDNXnsbjxlAxsviH4xgBKPNBexnzvB+kTgAwWulyR63NF895qVulxLpkXz7/wUW/bq1z9p7xzceB/BupXdl8D/AAXqMsOh2MLy26+M9WtmeGXxdrEWVaaNyZE0CyuFP9n2D+e0cV7e3ar+Zlf7G/RY+hpkfDGV5Zx/4s5RQzji7HUqOPynhbMqUa+WcL0akY1cNUzLBVFKjj8+cXGpUp4qNTDZVNxpU6MsdReJp/nOfcSVa9SeEy+o6eHg3GpXg2qldrdQktYUk9Lq0qnVqLs5rq5ub65uL29ubi8vLqaS4ubq6mknuLieVi8s080rNJNLI7M8kkjM7sxZmJJNQ0UV/onGMYRUIRjCMUoxjFKMYxSskkkkkkkkkrJKyPjW29W7vuwoooqgCiiigAIzSY9CR+J/rmlopNJ7pP1SYXa2bRq6Rr+veH7uO/0HXNX0S/hYNFe6TqN3p13EQcgx3FlNBMhyAcq4PAxX1P4F/b8/bS+HHkp4V/aW+LMdvb48mx1vxXfeLNNj29FTTPFZ1uwVMAAotuFI6ivkOivm874M4Q4mpulxHwtw7n1NqzhnGTZdmUbdrYzD1tP113N6WKxNB3o161Jp3vTqTg76fytdkfsN4H/4LkftzeFfJTxBqfw2+JEMW0P/AMJZ4FtdPuJlAAO6fwTe+EQrkD73lMM4JVjkH7I8Df8ABw7rkQhh+JX7NmmXmdouNQ8EePLvTNh4DPDo+vaBq2/PVI31xNpA/eHmv5saK/FM/wDojfR34i55Yrw0yfAVJ3tUyDEZlw/yN/ahRyfG4PCp9oyoSh3g1oenS4hzijblxtSdv+fqhV+91Iyf4n9iHgn/AILx/se+JvKh8V6N8Wvh9cyBRNNqvhfTNd0yJiMHZdeGdd1PUJVUnljpETMOdma+pfC3/BSr9iP4grH/AGB+0b8P7SSbaEt/Ft1qHgSZWb+Bh400/QFDAkKdsjKT0ZgQT/CVSYHPHXrjg/nX4hxB+zs8IMw56mQ8Rca8PVZX5KUsblmbYKF/+nWLy2GMml0vmKdt23qepR4xzCH8Wjh6q6+7OEulrOM+Vdb2h2P9Cex+JPgvxlateeEPGHhjxTaMoZbvw54g0nXLcq2NrCbTLy6jKsSP4sEnI7Z4zXNRXDjI9Mdc8A8fryBx0xnmv4F7K/1DTbiO702/vdPu4juiubK6mtriNh0aOaF0kQj1RlPvXvPhX9rL9pnwWIk8O/HX4nWttCFEdjd+LdX1fTUCjAC6ZrFzf6eB2K/ZcFeCMV+G8Q/s2OJqTnPhfxNyXMVq6dDPcix2UcvaMsTgMZnKk3peawlNb+6krnqUeNKDsq+CqQ7ulVjU/Ccaf4y/DU/r08TakRI3PRs4J6gEk5OSeRyOSfftWx4K1Qm7hQsBkhg3YcZ9c4OAQDxwM8Dj+W/Qv+CmX7VWl+WNa8Q+F/GiRkAr4j8J6ZDI6AY2vP4aHh2Zmxgb2kZz1LEjJ+m/AH/BYLxHok9u3jP4MaRqqqyGa48MeKb7RWG3Ado7LVNN11XyowqNfx8EfvOpr8Qz76CX0h8jc5YTIcj4mpwv7+Q8RYFOcV1hRzz+xa8r6PljSculrtJ+lT4pyisrOrVot20q0pd1pek6i69T+qDQNRIWMgk7lXjOQ3rkf72MY7fp6h9pza5GR8hyOuDjp1zz6HA7cZFfgT8Ov+C0v7MV8LaDxf4a+KXguf5RNcS6HpHiHS4skF9txpGuNqUijLcjRlOBwpOBX3j4J/4KYfsQ+OraGHS/2hfB2l3MwANv4wi1vwO0Ttxsln8XaVotkSMD5ku3iOPkkK81+M554G+MfC6n/bnhlxrg6VJy58TDh/McZgopbt47AUMTg7b6+3afRtHfSzLL61vZ4zDyb2TqwjL/AMBk4y/A6f8Aaam2eGtZckf8ec5GfUIxB4wAAD79z0FfxlftRXoHjbXxu6XM5I6ZO9sYJHG3t0A5+h/rg+PHxR8AeOPBuq3ngrx54P8AF9q9pK63HhfxLouvwlCjHeJNKvbpAp4Od3fHTFfx3/tRXmfGniFiRzdzjBPHDswz1xjJGehHHOTXwGDw1fD4urQxNCth60Jcs6NelOlVg3JaSp1IxnF6Ws4p97HTKSaTi0001dNNa26o/PTx1fDNyzN03A8nOMHOcgfnjnpn07n/AIJSfBOb9o/9v74ZaVJZm90fRdf/AOEl1RmQyRJaaVIPJEnG0b9hIJ6EHrxXgnxX1j7DpWpTFjuETonPHmykRR8/e3BmDEccLjA4r+if/g1x/Z8Go+I/ij8e9TsSUS4tvCWhXMsZIPlKLjUHhkdc5V28pyhzk4LV9Jja31XKsTUu1KcI0KbW7lWai7a/ZjeXojKKUqsF0i+Z/LX9Ft30P73fhVp8OieHdNsoEWKO3tbeCNFG1UjihVEAxx8oHTp2I6Y9pW/CqMk4A6EnjAz6jqMfjivIfDsqwWsCHA2ogwowMYUH9ep7+uc10smonCgN3A4ODzxngY6cduCRXxsGowWu2nnvp8+v4nSdzHec5JBOQSQQT17k+3bnn9bIvR1zxwfwGRzj6EDpiuDj1AAcsCcAgA546jPqenP4HOeZxqOQfm4AJye4x3I7YzjPp78vnj3/ADA7hb8HuegHtjueo5+nOR2pjX/Gd4H4gD8B1Izx3+pxXGf2iB1fkZxyDngYwevOfrjOfUwtqXynLcAjnj3PI7EcknAOBnpnBzx3v+fQDsXvx3I56cnnJ/qc4PHbtzUa3ue/Xr1HJ4x+IzjGcYxXEtqPzAbhk89f/wBeQcdORnoAKlS/z0Y8fUkntjoM9se+PXJzx/4f+v6sB3KXg4JJxzz6e30AAPT0wPSdbpcdRn65zwegGeD044A6+/EpfAY+Y/mTj2OOQOpORjjrnpbS+Hr+Z98E+pBxn6dc0009n8uoHYrcjoP6frjOen16Y4zUq3Iz1yT7kZOPU9CScfmeMmuVS856+4A4PX+agZ56jA9KmF5jkMfz98A5wDgcdeQRgg9ad/8Ah/utZ/qvQDqBc9Ofz756EZ6DjIyOMHPWni59xk9Se3uD6/h6j1rmRd+/HbJBx65zj06/XpkCphd478D1zn8R04xg8/iarmff+v1+d/wVg6UXHv8A4c/pjpgcgcmpFnHqe/179Oe/TOPzAFc0Lvnkjj34PGDwM9vQ44P0qdbrPOe2c844x3/Ec8d6pT7/AH/P8l82B+JWrXIR3O4DnjkHPHY556EHJ6c8ZFczc3S3NtJCWUsBlWPVXHRhye3Bx19gMmLXr5VBxwc9Rzkg9gceg454JPHSuDl1gxuTuwN3A74PByPqc/QY45z+l4/ALEYWcJRupRad9dHH/gv/ACXXhjJxaadjVi1No2MbkqyNsZTxgjhvQ8juM5HGfXWi1UMoJbnHHPYgg8dM5xjJx0z0yPONUvkJW8iIwfklA4w3UPnsf4ScHJxkjPMNvqxO35ueMA8Hp7cMCMZI9O5r8gxWHnha9ShNO8Ho39qL+F/Nb26po9SElOKkvn6/1qvI9RGq8/eB9Mn1GTk59u5HHUYOTOurc/f49CeMd8++M5z0wMA15p/aucfMMDvjjqcE916dT6+mCVGqdDu6gjGcEjPBHGDnqARnjp685R6pHq3Iw2MD1HHAH1wSfy5Oea/Kn/gqj+1FdeAvhrYfBLwrqLW/ib4m20lx4ontpdlxp3geCZ4HtCUIeNvEt9FJZsVbDabp+qW0ieVerj9BG1yK2imubidIILeN555pXVIoYYlLySysxCxoibmdjhVVSxYAV/J9+1F8Xrr43/G/x148eeWTTb3VpbDw7FIWxb+HNJxp2iRrGeImksbeK6uUUBTeXNzJjLkn+1voL+EdDxG8W/8AWPOMIsTw54cYfD5/XpVYc+HxXEFetKlw3hKsWrSjSr0MXm7V2pSyqFKpGVOtJP5ninMJYLL/AGNOTjWxknSTTs40YpOtJPo2nGn6VG1Zq58+9etFFFf7pH5aFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFNK57n8/8c/pTqKTSe6T9UmF2tm0OjkmidXileN0IKujFWUjurKVI/Dn3qrqFumqgjUR9t3ZBad5S5BxnLq4bnA53Z96sUV4ebcL8NZ/T9lnnD+S5zSacfZ5rleCzCFno1y4qhVjql2NaeIr0nelWq033hOUX96a/wCAeNeL/gZ4E8Z2r2t/Bq9gGkWQyaVqjxuXTdtJF7HfIwBbcFKEEhemK/Zn/gnB/wAFD9M/4J8/DLSvhJp3wTtvHvhuxv7y+n1pPGL+GPEd3PfXBmluLwnw5rWm3U6ZCKsdvYI6qAWjPNfmXRX45xH9FrwE4ppyp5l4cZLh05+0UslnjeHnCpZrnjHI8Vl9O6TduaEo3eqa0PRo57mtB3hi6jdrfvFGrddm6ik/usf2M/Df/g4H/ZH1pLa28ceBvjF8PbptizXB0fQPFmjQZ+8ftmka9b6w6rxynh8Er0UNkH7d8D/8FW/2BviG0CaT+0j4L0e4lC/6N42g1/wG0Tuf9XJceMNI0awJGSGKXkkY6rIwr+AmjHf0/rX4Vn/7PPwbzLnqZJnfGvDlV3cKdPMcBmmCg3snSzDLZ4ycV/2MIt7OT3PVo8W4+FlVpYequr5JQk/O8ZqK/wDAP+B/pgeDvjL8MfiFbpceAfiP4F8bW7p5iT+EfFmgeI42UrlXDaPqF6gGM8npk9uvfDUxj7xPsfp1OQQeOueR3z1r/MKtLy80+eO6sLu6srqJg8VxaXE1vPE6nKvHLE6OjKQCGVgQehr6Q8C/toftafDTyU8E/tG/GLRba3K+Tp3/AAnniDUNIULjCto2qXt7pUijAG17NlxxjHFfiOf/ALNzPqXPPhfxOyrHb+zw+fZBi8sa7KeLwGOzVS7OSwUNm+XY9KjxjQdvb4KpHu6VWM76/wAsoQtdf3z/AEY21Mc84yPXpwR3IxnpyDg+hxULanwATnOSffrk8deMcg98ZJIr+GzwP/wWt/b58HmGPVPH/hL4hWsIUfZvG3gLw+WkVT92W+8LW/hjUpSe8kl68pzy/SvsbwR/wcMfE208mP4kfs8eC/EAACzXXgrxfrfhNsdGeO01ux8ZqW53CM3aBjhQ6ctX4hxB9BL6QmSqcsDk3D3E8IXalkXEeDpykvKnn0Mjndr7KTd9Fc9WjxPk1WylUrUW3/y9pSfbR+y9ora+unR6H9Y41TnJfqR0Gcf7J79uMdyeuKsx6kePmyOvp2xyeeBjpngdx0r+fLwN/wAF9/2XtbMEXjb4ffF/wNcyY82aDTPD3irSYCfvbrqx12w1R0UkkNHohYjJCAnB+zfAn/BVv9g/x2YI7D9oTw1oV1LtBtPG2l+JPBZhLYOya+8R6NYaVnLYLRahLEpBJfgE/iOf+A/jTwxzvOvC7jXDUqd/aYnD5FjsywcEt3LG5ZSxmEUbaqTrcr6PqenSzPLMR/DxuGbklZOrCD6fZm4yvo+mqf3fqcmpDP3j69+c+v6Y/L0q8mpD5iHB9QCeTx09M9M5PXHcV83+Cfjd8KPiNHHN8P8A4nfD/wAbRyjcreFPGPh7xECpAI/5BGo3ZznHJA75APT1KLUsgAMB2HIBOTn8eg9eCeTjNflmIoYjB1p4fGYevhMRTdp0MTRqUK0H2nTqxjOLT0aklsdqUZRvGSle1mmmvvTa+d7eZ6WmpY6nOAOvuQcDOQTnOSfpVxL/ADg569eR0H/1+AR3xjHFecR6hjqwPGM8A+uM4yOuD2JIzntox6gexORgkY6cewOD3wMDqeazUmtn+vb9LfITi1/n0/Hb52O+F933Dr6kjg5HO7OD6+vOKmW+PXdnngLz34zjPOSDjk4HU9K4WO/Iwdw4Jxk5IxjuBj8TkegFWF1DGPn79se4BIBJ9cZOTngdcVzvy/r9fw8hW/z+/wD4c7lb3OB3Hbn1PQfic/jgdalW8JPUDGOc8jPGD29cjqOneuIXUByCe+cnuOR2ORx/9cHAqwt/nkN+AJH64GePpzgeuKU099H+H9eoH4eeIdVADMGyCCykEYZSMjrgHPUHOegrynUNbVeA4yMkZYc9AR944P5cYPTpFrWvP5pgL/u8MgyQCWBLL3PQcAZxgrngV5BrOtlJHw7ADLDcWIGRwDyABz24496/oGpguWkk42urp90+t+j6699X28vn1Wmmn9eh6pFr0c0bwtICHUjrkggkhsMOoODjrgHHvRt9WAJTdyHZCOylW7AkbSeD7qSTjIrw1fExidm83gnA59euCRjHUMT6cAcU6DxfEl9GJJcQ3TiFzkEJK+RCx5GFdv3TY5yynOBX5FxTl1qjrQj78E27a3jo2tOqvdeaaW53YepZ8rejtb9H6d/Vdj6GXViwA3ZIHQkbgPU+v07AjrmmnVv9rsT7ds8HI49ep4I46+axatlR84PYckgcdQ2OPXacdFwD0Mjapgk5JOCTjgkgd1HDZ6ZHOCOABkfDHceG/tufGM/Df4B+JoLO7+z6744X/hC9IKyYmSLVYJW1y5jGRIoh0OG9hWZP9TdXdq2QWBP84TMWZmPViT+ZzX3f+3/8U28bfF2DwdZXJl0b4b6aNLZY3Jhk8R6ytrqeuzDnDNb2qaLprA5aG5s76Pd8zCvg+v8Ae/6FHhl/xDvwOyPG4yh7HPOPaj4yzLnhy1aeCzCjTp8P4Vydp8kMlpYbG+yko+xxOY4qNruUpflHE2O+uZpVhF3pYRfVoWejlFt1pdr+0co3W8YRCiiiv65Pngor1f4H/BD4nftHfFPwl8Fvg34Zk8YfEjxxdX1p4a8Px32m6WL2XTdKv9c1B5tT1i7sNK0+2s9K0y+vbm71C9tbWGG3dpZkGK+nviR/wS6/4KF/Cjz28Y/sifGowWu/7RfeEfCsvxH02FUzulk1P4dS+KbBIQBnzmuBFjB34Ir5rM+M+D8lzShkeccVcN5TnWKw0MbhspzPPMswGZYnB1KtWhDFUMDisVSxNbDzr0K9GNanSlTdWlUgpc0JJbQw2Iq03Vp4etUpRk4yqQpTnCMkk3FzjFxUrSi7N3s0+p8FUVu+IfC3ibwjqMukeLPDmveGNWhJE2meItH1DRdQiI4IkstSt7a5Qg8ENGMHg1hV9FSq0q1OFWjUp1aVSKlCpSnGpTnF6qUJwbjKLWqabTMmmnZpprdNWa+TCiiirEFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFJj0JH4/0ORS0UNJ7pP1BNrZtemhJBPc2kqT2lzcW08bK8c0ErxSxsp3KySRsjqwIBBDZBA7gY+ofhp+29+118IXg/4QH9oX4oaVaWxUw6Re+KL7xFoCBcYX/hHvEzavoZTHBU2GCvynI4r5aor5/POFOGOJsNLB8RcO5Jn2FkmpYfOMqwOZUWmkmnTxlCtDVJX089zalicRQalRr1aUltKnUlB/fFpn7vfBf/AIL4ftHeEJLWx+M3gLwR8WtKQpHcappSS/D/AMXOh2iSVrnTodT8LzMAC628XhmwEj5X7RErAp+3H7NX/BWr9kP9ombT9Ej8ay/CvxxemKGPwf8AFJbXw615dv8AKLfSfEqXVx4V1N5JT5Vpb/2taard7kCaWjkxj+GmkxzkdfX34/HoOxFfyl4i/QZ8E+M6OIr5BluK8P8AOZxk6WN4brSeWuq/g+s5DjJ1cveHi23Kll39l1JKyVeNke/g+KcywzUa044qmre7WS50rrarFKd9N5+0t0if6ZkGpq6oyyBlYBlZSGRgSWBDZ5VlwQcYIOR3q0t/jOWJxn0B+X8+xx1PpwK/hm/Yv/4KnfH/APZSvNK8Ma5qV78WPgxDJDb3PgLxLqM0uo6DYBwHk8C+Ibn7Rd6HJAg3RaNcfa/D03zotjaTzfb4f68f2fP2mfhV+018OtM+Jnwl8SR61ol7i21GwmCW+u+GdWWJJLrQvEemeY82napahxujZpLa6hMd7p11eWE9vdS/5X+OH0c/ELwKx8HxBh6Wb8M4yu6OV8WZXTqvLcTNpyhhcbSmnVyrMZU05/VMS506vLU+pYrGQo1Zw+8yvOMJmsH7J+zrJXnQm1zpWScoPacE3ZyjrG65lG6T+rUv/mJ3DvjOTk+uT0JJ7YGcHJzzZXUR2YdOOx6jpjHTvkdM15+uo4+XdnI7ZPbnjPbnnjt0PSwmoA9HHp15PI4zj074yDkDPb8BU099Py/4B6riu3ZL/g66r8bJ67H8/HifUceYSxU8tncSRgkHPIx3zgcHjtXhHiDxQ6vHvJCBSJx1Zsbgrg5JzjbkdzkZI6dn4q1Qkuu/qWyDwcdz1bkgYODgHjtz84+KdTG6Q7uCSMAjovoPQ8Zz1x1yMj+q8RSh7H3ktFur3Strq7fK91on2PBNO48WLKkzBvLZWYbNwJzncrZyBgjHb+8M8ccbqHjMNFNE0vYgndyDk45GPmB6H19MV5BrniZtPnZ92Y2JWRQcFlznI5xuTtnrkjoefNdc8VgK0kcwZZF4YE9ME9Ox9fTODyCB+TZ9Kn9Yqq14txs3rbRXj5PT1ei1aduumtE77K1vl/wT9F/hx8RIfFGjAyXCHUtMcWOopuAkZ1XNvd4PJjuoRvLYCrOk0YPyCt3x58QtP8CeC/EvjLUWDWfhzRr7U3iDhTcywQs1rZxE8+ffXZgtIAPvzTxgYyK/Bv45+J/FreEtRv8AwX4t8S+EvEGkzQ6raah4a1q80e6mW03C4tLh7WVFu7eS2lnkFtdJLAbiOGQx7kUj57+Hn7QX7QHxE0jWfC/jn4p+IPFvgqJbNp9O1m10dp59QtbqK7sVl1O0060vpVt5oFuHhmldZHSJ3yUAr0fBzwnreKPihwjwhRnbA5tndCWccqnGeHyHBXzDO6tOcYuEZxyzD4qOHlKcIvEyo073lG6zDMVgcDiMRJe/TpNU9VaVWVoUrpu9ueUXKyeib0W3e61q+oa/q+qa5q05utU1nUb7VtSuCT+/1DUrqW9vZRknCyXM8rKP4UKqOAKzKKK/
[...]
