openapi: 3.2.0
info:
  title: Shiprocket Return & Exchange Orders API
  version: v1
  description: 'Shiprocket''s public REST API (v1/external) for eCommerce shipping and order management: authentication, order create/update/cancel/import, courier serviceability and AWB assignment, pickup scheduling, labels/manifests/invoices, shipment tracking, NDR actions, returns and exchanges, hyperlocal and international shipping, products, listings, channels, inventory, countries/postcodes, wallet balance, statements and discrepancies.'
  termsOfService: https://www.shiprocket.in/terms-conditions/
  contact:
    name: Shiprocket API integration support
    email: integration@shiprocket.com
    url: https://apidocs.shiprocket.in/
servers:
- url: https://apiv2.shiprocket.in
  description: Production
security:
- bearerAuth: []
tags:
- name: Return & Exchange Orders
paths:
  /v1/external/courier/assign/awb:
    post:
      summary: Generate AWB for Shipment
      description: 'This API can be used to assign the AWB (Air Waybill Number) to your shipment. The AWB is a unique number that helps you track the shipment and get details about it.

        Parameters:'
      operationId: generateAWBForShipment
      tags:
      - Return & Exchange Orders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                shipment_id:
                  type: integer
                  description: The shipment id of the order you want to create the AWB for.
                courier_id:
                  type: integer
                  description: The courier id of the courier service you want to select. The default courier is selected in case no id is specified.
                status:
                  type: string
                  description: 'Use this to change the courier of a shipment. Value: reassign. Note that this can be done only once in 24 hours.'
              required:
              - shipment_id
            example:
              shipment_id: ''
              courier_id: ''
              status: ''
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    awb_assign_status: 1
                    response:
                      data:
                        courier_company_id: 142
                        awb_code: '321055706540'
                        cod: 0
                        order_id: 281248157
                        shipment_id: 16090281
                        awb_code_status: 1
                        assigned_date_time:
                          date: '2022-11-25 11:17:52.878599'
                          timezone_type: 3
                          timezone: Asia/Kolkata
                        applied_weight: 0.5
                        company_id: 25149
                        courier_name: Amazon Surface
                        child_courier_name: null
                        pickup_scheduled_date: '2022-11-25 14:00:00'
                        routing_code: ''
                        rto_routing_code: ''
                        invoice_no: retail5769122647118
                        transporter_id: ''
                        transporter_name: ''
                        shipped_by:
                          shipper_company_name: manoj
                          shipper_address_1: Aligarh
                          shipper_address_2: noida
                          shipper_city: Jammu
                          shipper_state: Jammu & Kashmir
                          shipper_country: India
                          shipper_postcode: '110030'
                          shipper_first_mile_activated: 0
                          shipper_phone: '8976967989'
                          lat: '32.731899'
                          long: '74.860376'
                          shipper_email: hdhd@gshd.com
                          rto_company_name: test
                          rto_address_1: Unnamed Road, Bengaluru, Karnataka 560060, India
                          rto_address_2: Katrabrahmpur
                          rto_city: Bangalore
                          rto_state: Karnataka
                          rto_country: India
                          rto_postcode: '560060'
                          rto_phone: '9999999999'
                          rto_email: test@test.com
              schema:
                type: object
                properties:
                  awb_assign_status:
                    type: integer
                  response:
                    type: object
                    properties:
                      data:
                        type: object
                        properties:
                          courier_company_id:
                            type: integer
                          awb_code:
                            type: string
                          cod:
                            type: integer
                          order_id:
                            type: integer
                          shipment_id:
                            type: integer
                          awb_code_status:
                            type: integer
                          assigned_date_time:
                            type: object
                            properties:
                              date:
                                type: string
                              timezone_type:
                                type: integer
                              timezone:
                                type: string
                          applied_weight:
                            type: number
                          company_id:
                            type: integer
                          courier_name:
                            type: string
                          child_courier_name: {}
                          pickup_scheduled_date:
                            type: string
                          routing_code:
                            type: string
                          rto_routing_code:
                            type: string
                          invoice_no:
                            type: string
                          transporter_id:
                            type: string
                          transporter_name:
                            type: string
                          shipped_by:
                            type: object
                            properties:
                              shipper_company_name:
                                type: string
                              shipper_address_1:
                                type: string
                              shipper_address_2:
                                type: string
                              shipper_city:
                                type: string
                              shipper_state:
                                type: string
                              shipper_country:
                                type: string
                              shipper_postcode:
                                type: string
                              shipper_first_mile_activated:
                                type: integer
                              shipper_phone:
                                type: string
                              lat:
                                type: string
                              long:
                                type: string
                              shipper_email:
                                type: string
                              rto_company_name:
                                type: string
                              rto_address_1:
                                type: string
                              rto_address_2:
                                type: string
                              rto_city:
                                type: string
                              rto_state:
                                type: string
                              rto_country:
                                type: string
                              rto_postcode:
                                type: string
                              rto_phone:
                                type: string
                              rto_email:
                                type: string
        '422':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: Required field missing
                    errors:
                      shipment_id:
                      - The shipment id field is required.
                    status_code: 422
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: object
                    properties:
                      shipment_id:
                        type: array
                        items:
                          type: string
                  status_code:
                    type: integer
        '400':
          description: Invalid Data
          content:
            application/json:
              examples:
                Invalid-Data:
                  value:
                    message: Oops! Cannot reassign courier for this shipment.
                    status_code: 400
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
  /v1/external/courier/serviceability:
    get:
      summary: Check Courier Serviceability
      description: 'Use this API to check the availability of couriers between the pickup and delivery postal codes. Further details like the estimated time of delivery, the rates along with the ids are also shown.

        Note:

        One of either the ''order_id'' or ''cod'' and ''weight'' is required. If you specify the order id, the cod and weight fields are not required and vice versa.

        You can add further fields to add the shipment details and filter the search.

        Parameters:'
      operationId: checkCourierServiceability
      tags:
      - Return & Exchange Orders
      parameters:
      - name: pickup_postcode
        in: query
        schema:
          type: integer
        description: Postcode from where the order will be picked.
        required: true
      - name: delivery_postcode
        in: query
        schema:
          type: integer
        description: Postcode where the order will be delivered
        required: true
      - name: order_id
        in: query
        schema:
          type: integer
        description: If order id is already created in Shiprocket panel then you can use this shiprocket order id in servicibility
      - name: cod
        in: query
        schema:
          type: boolean
        description: 1 for Cash on Delivery and 0 for Prepaid orders.
      - name: weight
        in: query
        schema:
          type: string
        description: The weight of shipment in kgs.
      - name: length
        in: query
        schema:
          type: integer
        description: The length of the shipment in cms.
      - name: breadth
        in: query
        schema:
          type: integer
        description: The breadth of the shipment in cms.
      - name: height
        in: query
        schema:
          type: integer
        description: The height of the shipment in cms.
      - name: declared_value
        in: query
        schema:
          type: integer
        description: The price of the order shipment in rupees.
      - name: mode
        in: query
        schema:
          type: string
        description: 'The mode of travel. Either: Surface or Air'
      - name: is_return
        in: query
        schema:
          type: integer
        description: Whether the order is a return order or not. 1 in case of Yes and 0 for No. (declared_value field is required in case you use this parameter)
      - name: couriers_type
        in: query
        schema:
          type: integer
        description: Use this to filter out and show only "documents" couriers like XB documents, etc. The only accepted value is 1.
      - name: only_local
        in: query
        schema:
          type: integer
        description: Use this to filter out and show only Hyperlocal couriers. The only accepted value is 1.
      - name: qc_check
        in: query
        schema:
          type: integer
        description: Use this filter to show only the QC-enabled couriers. is_return has to be set to 1
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    company_auto_shipment_insurance_setting: true
                    covid_zones:
                      delivery_zone: null
                      pickup_zone: null
                    currency: INR
                    data:
                      available_courier_companies:
                      - air_max_weight: '0.00'
                        assured_amount: 0
                        base_courier_id: null
                        base_weight: ''
                        blocked: 0
                        call_before_delivery: Available
                        charge_weight: 0.5
                        city: Mandi
                        cod: 1
                        cod_charges: 0
                        cod_multiplier: 0.01
                        cost: ''
                        courier_company_id: 43
                        courier_name: Delhivery Surface
                        courier_type: '0'
                        coverage_charges: 0
                        cutoff_time: '11:00'
                        delivery_boy_contact: Not Available
                        delivery_performance: 5
                        description: ''
                        edd: ''
                        entry_tax: 0
                        estimated_delivery_days: '4'
                        etd: Jul 01, 2024
                        etd_hours: 91
                        freight_charge: 54
                        id: 459245934
                        is_custom_rate: 1
                        is_hyperlocal: false
                        is_international: 0
                        is_rto_address_available: true
                        is_surface: true
                        local_region: 0
                        metro: 0
                        min_weight: 0.5
                        mode: 0
                        new_edd: 0
                        odablock: false
                        other_charges: 0
                        others: '{"allow_postcode_auto_sync":1,"cancel_real_time":true}'
                        pickup_availability: '0'
                        pickup_performance: 4.7
                        pickup_priority: ''
                        pickup_supress_hours: 0
                        pod_available: Instant
                        postcode: '175019'
                        qc_courier: 0
                        rank: ''
                        rate: 54
                        rating: 4.9
                        realtime_tracking: Real Time
                        region: 1
                        rto_charges: 54
                        rto_performance: 5
                        seconds_left_for_pickup: 0
                        secure_shipment_disabled: false
                        ship_type: 1
                        state: Himachal Pradesh
                        suppress_date: ''
                        suppress_text: ''
                        suppression_dates: null
                        surface_max_weight: '4.00'
                        tracking_performance: 5
                        volumetric_max_weight: null
                        weight_cases: 4.6
                        zone: z_e
                      - air_max_weight: '0.00'
                        assured_amount: 0
                        base_courier_id: null
                        base_weight: ''
                        blocked: 0
                        call_before_delivery: Available
                        charge_weight: 2
                        city: MANDI
                        cod: 1
                        cod_charges: 0
                        cod_multiplier: 0
                        cost: ''
                        courier_company_id: 225
                        courier_name: India Post-Business Parcel Surface Prepaid
                        courier_type: '0'
                        coverage_charges: 8.71
                        cutoff_time: '10:00'
                        delivery_boy_contact: Not Available
                        delivery_performance: 4.5
                        description: ''
                        edd: ''
                        entry_tax: 0
                        estimated_delivery_days: '8'
                        etd: Jul 05, 2024
                        etd_hours: 184
                        freight_charge: 123.9
                        id: 396397972
                        is_custom_rate: 0
                        is_hyperlocal: false
                        is_international: 0
                        is_rto_address_available: true
                        is_surface: true
                        local_region: 0
                        metro: 0
                        min_weight: 2
                        mode: 0
                        new_edd: 0
                        odablock: false
                        other_charges: 0
                        others: '{"cancel_real_time":true}'
                        pickup_availability: '0'
                        pickup_performance: 4.4
                        pickup_priority: ''
                        pickup_supress_hours: 0
                        pod_available: On Request
                        postcode: '175019'
                        qc_courier: 0
                        rank: ''
                        rate: 123.9
                        rating: 4.4
                        realtime_tracking: Real Time
                        region: 5
                        rto_charges: 0
                        rto_performance: 4.4
                        seconds_left_for_pickup: 0
                        secure_shipment_disabled: false
                        ship_type: 1
                        state: HIMACHAL PRADESH
                        suppress_date: ''
                        suppress_text: ''
                        suppression_dates:
                          action_on: '2023-11-11 20:29:04'
                          delay_remark: Festival
                          delivery_delay_by: 2065762
                          delivery_delay_days: '1'
                          delivery_delay_from: '2023-11-13'
                          delivery_delay_to: '2023-11-13'
                          pickup_delay_by: 2065762
                          pickup_delay_days: '1'
                          pickup_delay_from: '2023-11-13'
                          pickup_delay_to: '2023-11-13'
                        surface_max_weight: '35.00'
                        tracking_performance: 4.5
                        volumetric_max_weight: 35
                        weight_cases: 4.2
                        zone: z_e
                      - air_max_weight: '0.00'
                        assured_amount: 0
                        base_courier_id: null
                        base_weight: ''
                        blocked: 0
                        call_before_delivery: Available
                        charge_weight: 2
                        city: SUNDERNAGAR
                        cod: 1
                        cod_charges: 0
                        cod_multiplier: 0
                        cost: ''
                        courier_company_id: 19
                        courier_name: Ecom Express Surface 2kg
                        courier_type: '0'
                        coverage_charges: 0
                        cutoff_time: '11:00'
                        delivery_boy_contact: Not Available
                        delivery_performance: 5
                        description: ''
                        edd: ''
                        entry_tax: 0
                        estimated_delivery_days: '6'
                        etd: Jul 03, 2024
                        etd_hours: 144
                        freight_charge: 150.12
                        id: 456774028
                        is_custom_rate: 0
                        is_hyperlocal: false
                        is_international: 0
                        is_rto_address_available: true
                        is_surface: true
                        local_region: 0
                        metro: 0
                        min_weight: 2
                        mode: 0
                        new_edd: 0
                        odablock: false
                        other_charges: 0
                        others: '{"allow_postcode_auto_sync":1,"cancel_real_time":true,"wec":1}'
                        pickup_availability: '0'
                        pickup_performance: 4.5
                        pickup_priority: ''
                        pickup_supress_hours: 0
                        pod_available: Instant
                        postcode: '175019'
                        qc_courier: 0
                        rank: ''
                        rate: 150.12
                        rating: 4.62
                        realtime_tracking: Real Time
                        region: 1
                        rto_charges: 142.6
                        rto_performance: 5
                        seconds_left_for_pickup: 0
                        secure_shipment_disabled: false
                        ship_type: 1
                        state: HIMACHAL PRADESH
                        suppress_date: ''
                        suppress_text: ''
                        suppression_dates:
                          action_on: '2024-06-15 23:27:37'
                          delay_remark: Festival
                          delivery_delay_by: 2065762
                          delivery_delay_days: '1'
                          delivery_delay_from: '2024-06-17'
                          delivery_delay_to: '2024-06-17'
                          pickup_delay_by: 2065762
                          pickup_delay_days: '1'
                          pickup_delay_from: '2024-06-17'
                          pickup_delay_to: '2024-06-17'
                        surface_max_weight: '30.00'
                        tracking_performance: 4
                        volumetric_max_weight: null
                        weight_cases: 4.6
                        zone: z_e
                      blocked_courier_companies:
                      - block_reason: Operational Issues
                        courier_company_id: 33
                        courier_name: Xpressbees Air
                        postcode: '175019'
                      child_courier_id: null
                      is_recommendation_enabled: 1
                      recommendation_advance_rule: 0
                      recommended_by:
                        id: 6
                        title: Recommendation By Shiprocket
                      recommended_courier_company_id: 43
                      shiprocket_recommended_courier_id: 43
                    dg_courier: 0
                    eligible_for_insurance: false
                    insurace_opted_at_order_creation: false
                    is_allow_templatized_pricing: true
                    is_latlong: 0
                    is_old_zone_opted: false
                    is_zone_from_mongo: true
                    label_generate_type: 2
                    on_new_zone: 2
                    seller_address: []
                    status: 200
                    user_insurance_manadatory: false
                Invalid-Data:
                  value:
                    status: 404
                    message: Order does not exist!
              schema:
                type: object
                properties:
                  company_auto_shipment_insurance_setting:
                    type: boolean
                  covid_zones:
                    type: object
                    properties:
                      delivery_zone: {}
                      pickup_zone: {}
                  currency:
                    type: string
                  data:
                    type: object
                    properties:
                      available_courier_companies:
                        type: array
                        items:
                          type: object
                          properties:
                            air_max_weight:
                              type: string
                            assured_amount:
                              type: integer
                            base_courier_id: {}
                            base_weight:
                              type: string
                            blocked:
                              type: integer
                            call_before_delivery:
                              type: string
                            charge_weight:
                              type: number
                            city:
                              type: string
                            cod:
                              type: integer
                            cod_charges:
                              type: integer
                            cod_multiplier:
                              type: number
                            cost:
                              type: string
                            courier_company_id:
                              type: integer
                            courier_name:
                              type: string
                            courier_type:
                              type: string
                            coverage_charges:
                              type: integer
                            cutoff_time:
                              type: string
                            delivery_boy_contact:
                              type: string
                            delivery_performance:
                              type: integer
                            description:
                              type: string
                            edd:
                              type: string
                            entry_tax:
                              type: integer
                            estimated_delivery_days:
                              type: string
                            etd:
                              type: string
                            etd_hours:
                              type: integer
                            freight_charge:
                              type: integer
                            id:
                              type: integer
                            is_custom_rate:
                              type: integer
                            is_hyperlocal:
                              type: boolean
                            is_international:
                              type: integer
                            is_rto_address_available:
                              type: boolean
                            is_surface:
                              type: boolean
                            local_region:
                              type: integer
                            metro:
                              type: integer
                            min_weight:
                              type: number
                            mode:
                              type: integer
                            new_edd:
                              type: integer
                            odablock:
                              type: boolean
                            other_charges:
                              type: integer
                            others:
                              type: string
                            pickup_availability:
                              type: string
                            pickup_performance:
                              type: number
                            pickup_priority:
                              type: string
                            pickup_supress_hours:
                              type: integer
                            pod_available:
                              type: string
                            postcode:
                              type: string
                            qc_courier:
                              type: integer
                            rank:
                              type: string
                            rate:
                              type: integer
                            rating:
                              type: number
                            realtime_tracking:
                              type: string
                            region:
                              type: integer
                            rto_charges:
                              type: integer
                            rto_performance:
                              type: integer
                            seconds_left_for_pickup:
                              type: integer
                            secure_shipment_disabled:
                              type: boolean
                            ship_type:
                              type: integer
                            state:
                              type: string
                            suppress_date:
                              type: string
                            suppress_text:
                              type: string
                            suppression_dates: {}
                            surface_max_weight:
                              type: string
                            tracking_performance:
                              type: integer
                            volumetric_max_weight: {}
                            weight_cases:
                              type: number
                            zone:
                              type: string
                      blocked_courier_companies:
                        type: array
                        items:
                          type: object
                          properties:
                            block_reason:
                              type: string
                            courier_company_id:
                              type: integer
                            courier_name:
                              type: string
                            postcode:
                              type: string
                      child_courier_id: {}
                      is_recommendation_enabled:
                        type: integer
                      recommendation_advance_rule:
                        type: integer
                      recommended_by:
                        type: object
                        properties:
                          id:
                            type: integer
                          title:
                            type: string
                      recommended_courier_company_id:
                        type: integer
                      shiprocket_recommended_courier_id:
                        type: integer
                  dg_courier:
                    type: integer
                  eligible_for_insurance:
                    type: boolean
                  insurace_opted_at_order_creation:
                    type: boolean
                  is_allow_templatized_pricing:
                    type: boolean
                  is_latlong:
                    type: integer
                  is_old_zone_opted:
                    type: boolean
                  is_zone_from_mongo:
                    type: boolean
                  label_generate_type:
                    type: integer
                  on_new_zone:
                    type: integer
                  seller_address:
                    type: array
                    items: {}
                  status:
                    type: integer
                  user_insurance_manadatory:
                    type: boolean
        '422':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: Required field missing
                    errors:
                      weight:
                      - The weight field is required when order id is not present.
                      cod:
                      - The cod field is required when order id is not present.
                      order_id:
                      - The order id field is required when pickup postcode / delivery postcode / cod / weight is not present.
                    status_code: 422
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: object
                    properties:
                      weight:
                        type: array
                        items:
                          type: string
                      cod:
                        type: array
                        items:
                          type: string
                      order_id:
                        type: array
                        items:
                          type: string
                  status_code:
                    type: integer
  /v1/external/orders/create/return:
    post:
      summary: Create a Return Order
      description: 'Use this API to create a new return order in your Shiprocket panel. Return orders are created in case the buyer refuses/rejects/returns a specific order. The parameter specifications are the same as the custom order API, with a few exceptions.

        Parameters:

        Possible return_reason values :

        1. Bought by Mistake

        2. Better price available

        3. Performance or quality not adequate

        4. Incompatible or not useful

        5. Product damaged, but shipping box OK

        6. Item arrived too late

        7. Missing parts or accessories

        8. Both product and shipping box damaged

        9. Wrong item was sent

        10. Item defective or doesn''t work

        11. No longer needed

        12. Didn''t approve purchase

        13. Inaccurate website description

        14. Return against replacement

        15. Delay Refund

        16. Delivered Late

        17. Product does not Match Description on Website

        18. Both Product & Outer Box Damaged

        19. Defective or does not work

        20. Product damaged, but outer Box OK

        21. Missing Parts or Accessories

        22. Incorrect Item Delivered

        23. Product Defective or Doesn''t Work

        24. Product performance/quality is not up to my expectations

        25. Other

        26. Changed my mind

        27. Does not fit

        28. Size not as expected

        29. Item is damaged

        30. Received wrong item

        31. Parcel damaged on arrival

        32. Quality not as expected

        33. Missing Item or accessories

        34. Performance not adequate

        35. Not as described

        36. Arrived too late

        37. Order Not Received

        38. Empty Package

        39. Wrong item or Wrong colour was sent

        40. Item defective, expired, spoilt or does not work

        41. Items or parts missing

        42. Size or Quantity issues

        43. Status as delivered but order not received

        44. N/A'
      operationId: createAReturnOrder
      tags:
      - Return & Exchange Orders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: 'The order id you want to specify to the order. Max char: 50. (Avoid passing character values as this contradicts some other API calls)'
                order_date:
                  type: string
                  description: The date of order creation in yyyy-mm-dd format. Time is an additional option.
                channel_id:
                  type: integer
                  description: Id of the desired channel where the order is to be placed. 'Custom' channel id is selected in case parameter is not filled.
                pickup_customer_name:
                  type: string
                  description: The customer’s first name.
                pickup_last_name:
                  type: string
                  description: The customer’s last name.
                company_name:
                  type: string
                pickup_address:
                  type: string
                  description: The customer's primary address.
                pickup_address_2:
                  type: string
                  description: Additional customer address details.
                pickup_city:
                  type: string
                  description: The customer's city name.
                pickup_state:
                  type: string
                  description: The customer's state.
                pickup_country:
                  type: string
                  description: Customer's country name.
                pickup_pincode:
                  type: integer
                  description: Pincode of the customer address.
                pickup_email:
                  type: string
                  description: Customer's email address.
                pickup_phone:
                  type: string
                  description: Customer's phone number.
                pickup_isd_code:
                  type: string
                  description: ISD code.
                shipping_customer_name:
                  type: string
                  description: The name of the seller the package is shipped back to.
                shipping_last_name:
                  type: string
                  description: The last name of the seller.
                shipping_address:
                  type: string
                  description: The address the package is shipped to.
                shipping_address_2:
                  type: string
                  description: Further shipping address details.
                shipping_city:
                  type: string
                  description: The shipping address city.
                shipping_country:
                  type: string
                  description: The shipping address country.
                shipping_pincode:
                  type: integer
                  description: The shipping pincode.
                shipping_state:
                  type: string
                  description: Shipping address state.
                shipping_email:
                  type: string
                  description: The email of the seller the package is shipped to.
                shipping_isd_code:
                  type: string
                  description: The shipping isd code.
                shipping_phone:
                  type: integer
                  description: Phone no. of the shipping customer
                order_items:
                  type: array
                  items:
                    type: object
                    properties:
                      sku:
                        type: string
                      name:
                        type: string
                      units:
                        type: integer
                      selling_price:
                        type: integer
                      discount:
                        type: integer
                      qc_enable:
                        type: boolean
                      hsn:
                        type: string
                      brand:
                        type: string
                      qc_size:
                        type: string
                  description: Array containing further fields.
                payment_method:
                  type: string
                  description: The method of payment. This should always be prepaid.
                total_discount:
                  type: string
                  description: The total discount amount in Rupee.
                sub_total:
                  type: integer
                  description: Calculated sub total amount in Rupee after deductions.
                length:
                  type: integer
                  description: The length of the shipment in cms.
                breadth:
                  type: integer
                  description: The breadth of the shipment in cms.
                height:
                  type: integer
                  description: The height of the shipment in cms.
                weight:
                  type: number
                  description: The shipment weight in kgs.
              required:
              - order_id
              - order_date
              - pickup_customer_name
              - pickup_address
              - pickup_city
              - pickup_state
              - pickup_country
              - pickup_pincode
              - pickup_email
              - pickup_phone
              - shipping_customer_name
              - shipping_address
              - shipping_city
              - shipping_country
              - shipping_pincode
              - shipping_state
              - shipping_phone
              - order_items
              - payment_method
              - sub_total
              - length
              - breadth
              - height
              - weight
            example:
              order_id: r121579B09ap3o
              order_date: '2021-12-30'
              channel_id: '27202'
              pickup_customer_name: iron man
              pickup_last_name: ''
              company_name: iorn pvt ltd
              pickup_address: b 123
              pickup_address_2: ''
              pickup_city: Delhi
              pickup_state: New Delhi
              pickup_country: India
              pickup_pincode: 110030
              pickup_email: deadpool@red.com
              pickup_phone: '9810363552'
              pickup_isd_code: '91'
              shipping_customer_name: Jax
              shipping_last_name: Doe
              shipping_address: Castle
              shipping_address_2: Bridge
              shipping_city: ghaziabad
              shipping_country: India
              shipping_pincode: 201005
              shipping_state: Uttarpardesh
              shipping_email: kumar.abhishek@shiprocket.com
              shipping_isd_code: '91'
              shipping_phone: 8888888888
              order_items:
              - sku: WSH234
                name: shoes
                units: 2
                selling_price: 100
                discount: 0
                qc_enable: true
                hsn: '123'
                brand: ''
                qc_size: '43'
              payment_method: PREPAID
              total_discount: '0'
              sub_total: 400
              length: 11
              breadth: 11
              height: 11
              weight: 0.5
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    order_id: 170872392
                    shipment_id: 170411259
                    status: RETURN PENDING
                    status_code: 21
                    company_name: shiprocket
              schema:
                type: object
                properties:
                  order_id:
                    type: integer
                  shipment_id:
                    type: integer
                  status:
                    type: string
                  status_code:
                    type: integer
                  company_name:
                    type: string
        '422':
          description: Missing Fields
          content:
            application/json:
              examples:
                Missing-Fields:
                  value:
                    message: Oops! Invalid Data.
                    errors:
                      pickup_country:
                      - The pickup country field is required
                      order_id:
                      - The order id has already been taken.
                    status_code: 422
                Wrong-Format:
                  value:
                    message: Oops! Invalid Data.
                    errors:
                      order_date:
                      - The order date field is required.
                      payment_method:
                      - The payment method field is required.
                      pickup_customer_name:
                      - The pickup customer name field is required
                      pickup_email:
                      - The pickup email field is required.
                      pickup_address:
                      - The pickup address field is required
                      pickup_city:
                      - The pickup city field is required
                      pickup_state:
                      - The pickup state field is required
                      pickup_country:
                      - The pickup country field is required
                      pickup_pincode:
                      - The pickup pincode field is required
                      pickup_phone:
                      - The pickup phone field is required.
                      pickup_location_id:
                      - The pickup location id field is required.
                      shipping_customer_name:
                      - The shipping customer name field is required
                      shipping_email:
                      - The shipping email field is required.
                      shipping_address:
                      - The shipping address field is required
                      shipping_city:
                      - The shipping city field is required
                      shipping_state:
                      - The shipping state field is required
                      shipping_country:
                      - The shipping country field is required
                      shipping_pincode:
                      - The shipping pincode field is required
                      shipping_phone:
                      - The shipping phone field is required.
                      order_items:
                      - The order items field is required.
                      sub_total:
                      - The sub total field is required.
                      order_id:
                      - The order id field is required.
                    status_code: 422
                Invalid-Data:
                  value:
                    message: Oops! Invalid Data.
                    errors:
                      order_id:
                      - The order id has already been taken.
                    status_code: 422
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: object
                    properties:
                      pickup_country:
                        type: array
                        items:
                          type: string
                      order_id:
                        type: array
                        items:
                          type: string
                  status_code:
                    type: integer
  /v1/external/orders/create/exchange:
    post:
      summary: Create Exchange Order
      description: 'Use this API to create a new exchange order in your Shiprocket panel. Exchange orders are created in case the buyer needs to replace an item due to reasons such as size mismatch, wrong product received, or defective product. This API helps sellers seamlessly process exchange requests while ensuring the correct quality checks and logistics handling

        Parameters:'
      operationId: createExchangeOrder
      tags:
      - Return & Exchange Orders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_items:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      selling_price:
                        type: string
                      units:
                        type: string
                      hsn:
                        type: string
                      sku:
                        type: string
                      tax:
                        type: string
                      discount:
                        type: string
                      brand:
                        type: string
                      color:
                        type: string
                      exchange_item_id:
                        type: string
                      exchange_item_name:
                        type: string
                      exchange_item_sku:
                        type: string
                      qc_enable:
                        type: boolean
                      qc_product_name:
                        type: string
                      qc_product_image:
                        type: string
                      qc_brand:
                        type: string
                      qc_color:
                        type: string
                      qc_size:
                        type: string
                      accessories:
                        type: string
                      qc_used_check:
                        type: string
                      qc_sealtag_check:
                        type: string
                      qc_brand_box:
                        type: string
                      qc_check_damaged_product:
                        type: string
                  description: List of items in the order
                buyer_pickup_first_name:
                  type: string
                  description: First name of the pickup buyer
                buyer_pickup_last_name:
                  type: string
                  description: Last name of the pickup buyer
                buyer_pickup_email:
                  type: string
                  description: Email of the pickup buyer
                buyer_pickup_address:
                  type: string
                  description: Full address of the pickup buyer
                buyer_pickup_address_2:
                  type: string
                  description: Additional pickup address details
                buyer_pickup_city:
                  type: string
                  description: City of the pickup buyer
                buyer_pickup_state:
                  type: string
                  description: State of the pickup buyer
                buyer_pickup_country:
                  type: string
                  description: Country of the pickup buyer
                buyer_pickup_phone:
                  type: string
                  description: Contact number of the pickup buyer (10 digits)
                buyer_pickup_pincode:
                  type: string
                  description: Pincode of the pickup address
                buyer_shipping_first_name:
                  type: string
                  description: First name of the shipping buyer
                buyer_shipping_last_name:
                  type: string
                  description: Last name of the shipping buyer
                buyer_shipping_email:
                  type: string
                  description: Email of the shipping buyer (valid email format)
                buyer_shipping_address:
                  type: string
                  description: Full address of the shipping buyer
                buyer_shipping_address_2:
                  type: string
                  description: Additional address details
                buyer_shipping_city:
                  type: string
                  description: City of the shipping buyer
                buyer_shipping_state:
                  type: string
                  description: State of the shipping buyer
                buyer_shipping_country:
                  type: string
                  description: Country of the shipping buyer
                buyer_shipping_phone:
                  type: string
                  description: Contact number of the shipping buyer (10 digits)
                buyer_shipping_pincode:
                  type: string
                  description: Pincode of the shipping address
                seller_pickup_location_id:
                  type: string
                  description: Pickup location ID of the seller
                seller_shipping_location_id:
                  type: string
                  description: Shipping location ID of the seller
                exchange_order_id:
                  type: string
                  description: Unique ID for the exchange order
                return_order_id:
                  type: string
                  description: Unique ID for the return order
                payment_method:
                  type: string
                  description: Payment method used for the order
                order_date:
                  type: string
                  description: Date of order placement (YYYY-MM-DD)
                channel_id:
                  type: string
                existing_order_id:
                  type: string
                return_reason:
                  type: string
                  description: Reason for return
                sub_total:
                  type: number
                  description: Subtotal amount
                shipping_charges:
                  type: number
                  description: Shipping charges
                giftwrap_charges:
                  type: number
                  description: Gift wrapping charges
                total_discount:
                  type: number
                  description: Total discount on the order
                transaction_charges:
                  type: number
                  description: Transaction charges
                exchange_length:
                  type: number
                  description: Exchange package length (cm)
                exchange_breadth:
                  type: number
                  description: Exchange package breadth (cm)
                exchange_height:
                  type: number
                  description: Exchange package height (cm)
                exchange_weight:
                  type: number
                  description: Exchange package weight (kg)
                return_length:
                  type: number
                  description: Return package length (cm)
                return_breadth:
                  type: number
                  description: Return package breadth (cm)
                return_height:
                  type: number
                  description: Return package height (cm)
                return_weight:
                  type: number
                  description: Return package weight (kg)
                qc_check:
                  type: string
              required:
              - exchange_order_id
              - seller_pickup_location_id
              - seller_shipping_location_id
              - return_order_id
              - order_date
              - payment_method
              - buyer_shipping_first_name
              - buyer_shipping_address
              - buyer_shipping_city
              - buyer_shipping_state
              - buyer_shipping_country
              - buyer_shipping_pincode
              - buyer_shipping_phone
              - buyer_pickup_first_name
              - buyer_pickup_address
              - buyer_pickup_city
              - buyer_pickup_state
              - buyer_pickup_country
              - buyer_pickup_pincode
              - buyer_pickup_phone
              - order_items
              - sub_total
              - return_length
              - return_breadth
              - return_height
              - return_weight
              - exchange_length
              - exchange_breadth
              - exchange_height
              - exchange_weight
              - return_reason
            example:
              order_items:
              - name: Black tshirt XL
                selling_price: '500.00'
                units: '1'
                hsn: '1733808730720'
                sku: mackbook
                tax: ''
                discount: ''
                brand: ''
                color: ''
                exchange_item_id: '193658024'
                exchange_item_name: Black tshirt XL
                exchange_item_sku: mackbook
                qc_enable: true
                qc_product_name: Black tshirt XL
                qc_product_image: https://sr-multichannel-stage.s3.ap-south-1.amazonaws.com/1310/qc_product_img/547950c2-9c2f-4908-98d5-276f9ad5b63a.png
                qc_brand: changedname1
                qc_color: changecolr
                qc_size: changesize112
                accessories: ''
                qc_used_check: '1'
                qc_sealtag_check: '1'
                qc_brand_box: '1'
                qc_check_damaged_product: 'yes'
              buyer_pickup_first_name: Test
              buyer_pickup_last_name: Test
              buyer_pickup_email: test@gmail.com
              buyer_pickup_address: Test
              buyer_pickup_address_2: ''
              buyer_pickup_city: South West Delhi
              buyer_pickup_state: Delhi
              buyer_pickup_country: India
              buyer_pickup_phone: '9716414139'
              buyer_pickup_pincode: '110045'
              buyer_shipping_first_name: Test
              buyer_shipping_last_name: Test
              buyer_shipping_email: test@gmail.com
              buyer_shipping_address: dkalsd
              buyer_shipping_address_2: ''
              buyer_shipping_city: South West Delhi
              buyer_shipping_state: Delhi
              buyer_shipping_country: India
              buyer_shipping_phone: '9716414139'
              buyer_shipping_pincode: '110045'
              seller_pickup_location_id: '5723898'
              seller_shipping_location_id: '5723898'
              exchange_order_id: EX_TEST002
              return_order_id: R_TEST002
              payment_method: prepaid
              order_date: '2024-12-10'
              channel_id: '1960878'
              existing_order_id: ''
              return_reason: '29'
              sub_total: '500.00'
              shipping_charges: ''
              giftwrap_charges: ''
              total_discount: '0'
              transaction_charges: ''
              exchange_length: '11'
              exchange_breadth: '11'
              exchange_height: '11'
              exchange_weight: '11'
              return_length: '10.00'
              return_breadth: '10.00'
              return_height: '10.00'
              return_weight: '0.500'
              qc_check: 'true'
      responses:
        '200':
          description: Success (no example response published in the collection)
  /v1/external/orders/edit:
    post:
      summary: Update Return Order
      description: 'Use this API to update your return orders. Please specify the parameters based on the "action" key.

        Parameters:'
      operationId: updateReturnOrder
      tags:
      - Return & Exchange Orders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                order_id:
                  type: string
                  description: Your return order ID
                action:
                  type: array
                  items:
                    type: string
                  description: 'Pass array of action. Allowed actions: 1. product_details: Allows you to edit the weight and dimensions 2. warehouse_address: Allows you to change the return address'
                length:
                  type: number
                  description: The length of the item in cms. Must be more than 0.5
                breadth:
                  type: number
                  description: The breadth of the item in cms. Must be more than 0.5
                height:
                  type: number
                  description: The height of the item in cms. Must be more than 0.5
                return_warehouse_id:
                  type: integer
                  description: Id of pickup location
                weight:
                  type: number
                  description: The weight of the item in kgs. Must be more than 0.
              required:
              - order_id
              - action
            example:
              order_id: '79596'
              action:
              - product_details
              length: '11'
              breadth: '10'
              height: '10'
              return_warehouse_id: 1072
              weight: 1.5
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    product_details:
                      success: true
                      msg: Product Details is updated successfully
                    return_warehouse_address:
                      success: true
                      msg: Shipping Address is updated successfully
              schema:
                type: object
                properties:
                  product_details:
                    type: object
                    properties:
                      success:
                        type: boolean
                      msg:
                        type: string
                  return_warehouse_address:
                    type: object
                    properties:
                      success:
                        type: boolean
                      msg:
                        type: string
  /v1/external/orders/processing/return:
    get:
      summary: Get All Return Orders
      description: 'Using this API, you can get a list of all created return orders in your Shiprocket account, along with their details.

        No parameters are required to use the API. However, further parameters can be defined to sort and filter the data.

        Parameters:'
      operationId: getAllReturnOrders
      tags:
      - Return & Exchange Orders
      parameters:
      - name: page
        in: query
        schema:
          type: integer
        description: The page number to display.
      - name: per_page
        in: query
        schema:
          type: integer
        description: The number of orders per page.
      - name: to
        in: query
        schema:
          type: string
        description: Ending date of search.
      - name: from
        in: query
        schema:
          type: string
        description: Starting date of search.
      responses:
        '200':
          description: Successful Call
          content:
            application/json:
              examples:
                Successful-Call:
                  value:
                    data:
                    - id: 16525924
                      channel_id: 76893
                      channel_name: CUSTOM
                      base_channel_code: CS
                      channel_order_id: '997119978'
                      customer_name: Jax Doe
                      customer_email: jax@tank.com
                      customer_phone: '8888888888'
                      customer_pincode: '220022'
                      pickup_code: '110002'
                      pickup_location: Home ,Home ,Delhi ,New Delhi ,India
                      payment_status: ''
                      total: '10.00'
                      expedited: 0
                      sla: 2 days
                      shipping_method: SR
                      status: RETURN PENDING
                      status_code: 21
                      payment_method: prepaid
                      is_international: 0
                      purpose_of_shipment: 0
                      channel_created_at: 5 Aug 2019, 12:00 AM
                      created_at: 5 Aug 2019, 03:53 PM
                      products:
                      - id: 19192381
                        name: Tennis Ball
                        channel_sku: ball123
                        channel_order_product_id: '19192381'
                        quantity: 1
                        product_id: 17949825
                        sku: ball123
                        custom_field: ''
                        custom_field_value: ''
                        status: UNDEFINED
                        hsn: '4412'
                      delivery_code: '220022'
                      cod: 0
                      shipment_id: 16370752
                      in_queue: 0
                      shipments:
                      - isd_code: '+91'
                        courier: ''
                        sr_courier_id: ''
                        weight: '1'
                        length: '10'
                        breadth: '15'
                        height: '20'
                        volumetric_weight: 0.6
                        awb: ''
                    meta:
                      pagination:
                        total: 16
                        count: 15
                        per_page: 1
                        current_page: 1
                        total_pages: 2
                        links:
                          next: https://apiv2.shiprocket.in/v1/external/orders/processing/return?page=2
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        channel_id:
                          type: integer
                        channel_name:
                          type: string
                        base_channel_code:
                          type: string
                        channel_order_id:
                          type: string
                        customer_name:
                          type: string
                        customer_email:
                          type: string
                        customer_phone:
                          type: string
                        customer_pincode:
                          type: string
                        pickup_code:
                          type: string
                        pickup_location:
                          type: string
                        payment_status:
                          type: string
                        total:
                          type: string
                        expedited:
                          type: integer
                        sla:
                          type: string
                        shipping_method:
                          type: string
                        status:
                          type: string
                        status_code:
                          type: integer
                        payment_method:
                          type: string
                        is_international:
                          type: integer
                        purpose_of_shipment:
                          type: integer
                        channel_created_at:
                          type: string
                        created_at:
                          type: string
                        products:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: integer
                              name:
                                type: string
                              channel_sku:
                                type: string
                              channel_order_product_id:
                                type: string
                              quantity:
                                type: integer
                              product_id:
                                type: integer
                              sku:
                                type: string
                              custom_field:
                                type: string
                              custom_field_value:
                                type: string
                              status:
                                type: string
                              hsn:
                                type: string
                        delivery_code:
                          type: string
                        cod:
                          type: integer
                        shipment_id:
                          type: integer
                        in_queue:
                          type: integer
                        shipments:
                          type: array
                          items:
                            type: object
                            properties:
                              isd_code:
                                type: string
                              courier:
                                type: string
                              sr_courier_id:
                                type: string
                              weight:
                                type: string
                              length:
                                type: string
                              breadth:
                                type: string
                              height:
                                type: string
                              volumetric_weight:
                                type: number
                              awb:
                                type: string
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          total:
                            type: integer
                          count:
                            type: integer
                          per_page:
                            type: integer
                          current_page:
                            type: integer
                          total_pages:
                            type: integer
                          links:
                            type: object
                            properties:
                              next:
                                type: string
        '404':
          description: Wrong Endpoint
          content:
            application/json:
              examples:
                Wrong-Endpoint:
                  value:
                    message: 404 Not Found
                    status_code: 404
              schema:
                type: object
                properties:
                  message:
                    type: string
                  status_code:
                    type: integer
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'JWT obtained from POST /v1/external/auth/login using an API user email + password (Settings > API > Add New API User). The token is valid for 10 days; send it as Authorization: Bearer <token>.'
externalDocs:
  url: https://apidocs.shiprocket.in/
  description: Shiprocket API documentation (Postman documenter)
x-generated-from:
  type: postman-collection
  url: https://apidocs.shiprocket.in/api/collections/8407119/SzYW1zB2?environment=8407119-3ebd70ec-0118-4aa7-a886-4802616014f5&segregateAuth=true&versionTag=latest
  documenter: https://apidocs.shiprocket.in/
  collection_id: f5af337c-69fc-49c7-8418-e2f6ee461674
  generated: '2026-09-18'
  method: generated
  note: Faithful conversion; schemas inferred from published parameter tables and examples.
